﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";

}
<div class="l-layout">
    <div class="container">
        <div class="c-potal is-medium clearfix">
            <div class="c-box">
                <div class="c-box__title"><div class="c-box__title__name">Quên mật khẩu</div></div>
                <div class="c-box__content">
                    <div class="b-form c-account-user">
                        <form action="/Login/FgPassword1" method="post">
                            <div class="form-group">
                                <label>Địa chỉ Email <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" name="email" placeholder="Ví dụ: example@gmail.com" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary text-uppercase btn-lg">Gửi đi</button>
                            </div>
                        </form>
                    </div><!-- b-form -->
                </div><!-- c-box__content -->
            </div><!-- c-box -->
        </div><!-- c-potal -->
    </div><!-- container -->
</div><!-- l-layout -->
