﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
    
}
<div class="l-layout">
    <div class="container">
        <div class="c-potal clearfix">
            <div class="c-box">
                <div class="c-box__title"><div class="c-box__title__name">Đăng nhập</div></div>
                <div class="c-box__content">
                    <div class="b-form">
                        <form action="/Login/Login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email hoặc số điện thoại" name="email" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="password"/>
                            </div>
                            <div class="form-group">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="chk-remember-pass" name="checkbox" checked>
                                    <label class="form-check-label" for="chk-remember-pass">Nhớ mật khẩu</label>
                                </div>
                                <a class="c-forgot-pass" href="@Url.Action("FgPassword","Login")" >Quên mật khẩu</a>
                            </div>
                            <div class="form-group" >
                                <input type="submit" class="btn btn-info" value="Đăng nhập" c/>
                            </div>
                            <div class="form-group">
                                <p>Bạn có tài khoản chưa? Hãy đăng ký <a href="@Url.Action("Register","Login")">tại đây</a></p>
                            </div>
                        </form>
                        @*<div class="c-login-other">
                            <label>Đăng nhập với</label>
                            <ul class="clearfix">
                                <li><a class="bg-facebook" href="#"><i class="fab fa-facebook-f"></i><span>Facebook</span></a></li>
                                <li><a class="bg-google" href="#"><i class="fab fa-google"></i><span>Google</span></a></li>
                            </ul>
                        </div>*@
                    </div><!-- b-form -->
                </div><!-- c-box__content -->
            </div><!-- c-box -->
        </div><!-- c-potal -->
    </div><!-- container -->
</div><!-- l-layout -->
