﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="l-layout">
    <div class="container">
        <div class="c-potal is-medium clearfix">
            <div class="c-box">
                <div class="c-box__title"><div class="c-box__title__name">Đăng ký</div></div>
                <div class="c-box__content">
                    <div class="b-form c-account-user">
                        <form action="/Login/Signup1" method="post">
                            <div class="form-group">
                                <label>Tên của bạn <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" name="name" placeholder="Ví dụ: Nguyễn Văn A" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ Email <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" name="email" placeholder="Ví dụ: example@gmail.com" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" name="diachi" placeholder="Ví dụ: Số nhà 230 tổ 11 phường phú xá Thành phố Thái Nguyên Tỉnh Thái Nguyên" />
                            </div>
                            <div class="form-group">
                                <label>Địa chỉ <span class="text-danger">(*)</span></label>
                                <input type="text" class="form-control" name="sdt" placeholder="Ví dụ: 000000000" />
                            </div>
                            <div class="form-group">
                                <label>Mật khẩu <span class="text-danger">(*)</span></label>
                                <input type="password" class="form-control" name="password" placeholder="Ví dụ: password" />
                            </div>
                            <div class="form-group">
                                <label>Nhập lại mật khẩu <span class="text-danger">(*)</span></label>
                                <input type="password" class="form-control" name="password2" placeholder="Ví dụ: password" />
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" value=""> Bằng việc đăng ký bạn đã đồng ý với web về <a href="#">Điều khoản thành viên</a>
                                </label>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-info" value="Đăng ký" />
                            </div>
                        </form>
                    </div><!-- b-form -->
                </div><!-- c-box__content -->
            </div><!-- c-box -->
        </div><!-- c-potal -->
    </div><!-- container -->
</div><!-- l-layout -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
