/*---------- magento payments css ----------*/
.opc-block-shipping-information .shipping-information-title {
  border-bottom: 1px solid #ddd;
  margin: 0 0 15px;
  position: relative;
}
.opc-block-shipping-information .shipping-information-title .action-edit {
  top: 0;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  position: absolute;
  right: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.opc-block-shipping-information .shipping-information-title .action-edit:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 20px;
  color: #757575;
  content: '\f304';
  font-family: $font-awesome-5-free;
  vertical-align: middle;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.opc-block-shipping-information .shipping-information-title .action-edit>span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.opc-block-shipping-information .ship-to, .opc-block-shipping-information .ship-via {
  margin: 0 0 15px;
}
.opc-block-shipping-information .shipping-information-content {
  line-height: 24px;
}
.items {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.payment-methods{
  .payment-method{
    border: 2px solid #aedce6;
    padding: 0 15px;
    margin-bottom: 15px;
    background: $color-white;
    &:last-child{
      margin-bottom: 0;
    }
  }
}
.checkout-payment-method .legend{
  display: none;
}
.checkout-payment-method .payment-method-title {
  padding: 20px 0;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #212529;
}
.checkout-payment-method .payment-method-title .label{
  display: inline;
  color: #212529;
  font-size: 18px;
}
.checkout-payment-method .payment-method-title .payment-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.checkout-payment-method .payment-method-content {
  display: none;
  padding: 0 0 20px 22px;
}
.checkout-payment-method .payment-method._active .payment-method-content {
  display: block;
}
.checkout-payment-method .checkout-billing-address {
  margin: 0 0 15px;

  .field.field-select-billing {
    display: none;
  }

  .fieldset {
    .actions-toolbar {
      text-align: right;

      .action {
        background-image: none;
        background: #e01e2f;
        border: 1px solid #e01e2f;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        padding: 4px 8px;
        font-size: 14px;
        box-sizing: border-box;
        vertical-align: middle;
      }
    }
  }
}
.checkout-payment-method .billing-address-same-as-shipping-block {
  margin: 0 0 10px;
}
.checkout-payment-method .billing-address-same-as-shipping-block label{
  display: inline;
  font-size: 18px;
}
.checkout-payment-method .checkout-billing-address .billing-address-details {
  padding: 0 0 0 23px;
  font-size: 16px;
  line-height: 20px;

  a {
    color: #212529;
  }
}
.checkout-agreements-block .checkout-agreements {
  margin-bottom: 20px;
}
.checkout-payment-method .payment-option-title {
  padding: 15px 0;
  &:focus{
    outline: none;
  }
}
.checkout-payment-method .payment-option._collapsible .payment-option-title {
  cursor: pointer;
}
.checkout-payment-method .payment-option-title .action-toggle {
  color: #006bb4;
  display: inline-block;
  text-decoration: none;
}
.checkout-payment-method .payment-option-title .action-toggle:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
  content: '\f107';
  font-family: $font-awesome-5-free;
  margin: 0 0 0 10px;
  vertical-align: middle;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.checkout-payment-method .payment-option._active .payment-option-title .action-toggle:after {
  content: '\f106';
}
.checkout-payment-method .payment-option-content {
  padding: 0 0 20px 22px;
}
.checkout-payment-method .payment-option._collapsible .payment-option-content {
  display: none;
}
.opc-wrapper .form-discount {
  //max-width: 500px;
}
.checkout-payment-method .payment-option-inner {
  margin: 0 0 15px;
}
#registration{
  display: none;
}
.opc-block-shipping-information{
  padding: 0 30px;
  display: none;
}

.discount-code {
  //display: none;
}

#comment-form {
  textarea {
    height: 80px;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 3px;

    &:focus {
      border-color: #80bdff;
    }
  }
}

#comment-form {
  .label {
    font-size: 14px;
    color: #212529;
  }
}

#checkout-step-shipping {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  > form,
  > div {
    display: block;
    width: 100%;
  }

  .form-login {
    order: 1;
  }

  .form-shipping-address {
    order: 2;
  }

  > div {
    order: 3;

    &:nth-child(2) {
      order: 5;
      margin-top: 15px;
    }
  }

  .action-show-popup {
    order: 4;
    width: auto;
    margin-top: 15px;
    background: #da4239;
    border: 1px solid #da4239;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 7px 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 4px;
  }
}

.checkout-payment-method .actions-toolbar {
  text-align: center;

  .primary {
    text-align: center;

    button {
      font-size: 14px;
      border: none;
      border-radius: 3px;
      padding: 6px 12px;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.checkout-index-index {
  .checkout-shipping-method {
    .loadding-mask {
      display: none!important;
    }
  }
}

//magento payments responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .checkout-payment-method .actions-toolbar .primary {
    float: none;
    margin: 0;
  }
  .checkout-payment-method .payment-option-title {
    padding-left: 22px;
  }
  .checkout-payment-method .payment-option-content .payment-option-inner+.actions-toolbar {
    margin-left: 0;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento payments responsive css
/*---------- end magento payments css ----------*/