/*---------- amgento checkout success css ----------*/
.checkout-success{
  margin-top: 25px;
  background: $color-white;
  padding: 15px;
  h3{
    text-align: center;
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 22px;
  }
}
//amgento checkout success responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .checkout-success{
    padding: 20px;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .checkout-success{
    padding: 25px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end amgento checkout success responsive css
/*---------- end amgento checkout success css ----------*/