/*---------- magento checkout css ----------*/
.opc-sidebar{
  outline: none;
  :focus{
    outline: none;
  }
}
.opc-progress-bar{
  display: none;
}
.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title {
  font-size: 22px;
  color: #666;
  margin-bottom: 12px;
}
.opc-wrapper .step-content{
  margin: 0 0 25px;
}
.opc-wrapper .form-login, .opc-wrapper .form-shipping-address {

}
.opc-wrapper .form-login {

}
.checkout-shipping-method {
  position: relative;
}
.opc{
  list-style: none;
  margin: 0;
  padding: 0;
}
.opc-wrapper .form-login .fieldset .field .label, .opc-wrapper .form-shipping-address .fieldset .field .label {
  font-weight: 400;
}
.opc-wrapper .form-login .fieldset .note, .opc-wrapper .form-shipping-address .fieldset .note {
  font-size: 14px;
  margin-top: 10px;
}
.table-checkout-shipping-method thead th{
  display: none;
}
.table-checkout-shipping-method tbody td {
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
}
.table-checkout-shipping-method tbody .col-price {
  font-weight: 600;
}
.table-checkout-shipping-method tbody tr:first-child td {
  border-top: none;
}
.opc-block-summary {
  //margin: 0 0 20px;
  padding: 22px 30px;
  border-radius: 3px;
}
.cart-totals, .opc-block-summary .table-totals {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}
.opc-block-summary .table-totals {
  padding-top: 6px;
  margin-top: 20px;
}
.opc-block-summary .items-in-cart > .title {
  padding: 0 40px 0 0;
  cursor: pointer;
  display: block;
  text-decoration: none;
  margin-bottom: 0;
  position: relative;
  font-weight: 300;

  &:after {
    display: none;
  }

  &:focus{
    outline: none;
  }
}
.opc-block-summary .items-in-cart > .title strong {
  font-size: 18px;
  margin: 0;
}
.opc-block-summary .items-in-cart > .title:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 12px;
  color: inherit;
  content: '\f107';
  font-family: $font-awesome-5-free;
  margin: 3px 0 0;
  vertical-align: middle;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}

.checkout-index-index {
  > .l-layout {
    padding-top: 4px!important;
  }

  .breadcrumb-item {
    &:nth-child(2) {
      a {
        color: #999;
      }
    }

    a {
      font-size: 14px;
      color: #333;
    }
  }
}

.payment-option._collapsible.opc-payment-additional {
  display: none;
}

#co-payment-form {
  >  fieldset > br {
    display: none;
  }
}

.checkout-title {
  span {
    color: #333;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }
}

.opc-block-summary .items-in-cart > .title:after {
  display: none;
}
.opc-block-summary .items-in-cart.active > .title:after {
  display: none;
}
.opc-block-summary .minicart-items-wrapper {
  margin: 0 -15px 0 0;
  max-height: 370px;
  padding: 10px 0 0;
  border: 0;
}
.column.main .opc-block-summary .product-item {
  margin: 0;
  padding-left: 0;
  clear: both;
}
.opc-block-summary .items-in-cart .product {
  position: relative;

  > .toggle {
    display: none!important;
  }

  .content {
    display: block!important;

    dl {
      margin: 0;
    }
  }

  .subtitle {
    display: none;
  }

  .label,
  .values {
    font-size: 12px;
    display: inline-block;
    font-weight: 300;
    color: #666;
    margin: 0;

    strong {
      font-weight: 300;
    }
  }

  .label {
    &:after {
      content: ":";
      display: inline-block;
      padding-left: 5px;
    }
  }
}
.opc-block-summary .product-item .product-item-inner {
  margin: 0;
  width: 100%;
}
.opc-block-summary .product-item .product-item-name-block {
  padding-right: 5px;
  text-align: left;
  font-size: 12px;
}
.opc-block-summary .product-item .subtotal {
  font-size: 12px;
  text-align: left;
  position: relative;
  color: #666;
  margin-top: 10px;

  &:before {
    content: "";
    width: 20px;
    height: 1px;
    background: #666;
    position: absolute;
    left: 0;
    top: -5px;
  }
}

.all-cart-total {
  > div {
    &::after {
      display: block;
      content: "";
      clear: both;
    }

    &.discount-cart {
      padding: 10px 0;
      margin-top: 15px;
      border-bottom: 1px solid #f4f4f4;
      border-top: 1px solid #f4f4f4;

      span {
        font-size: 12px;
        color: #999;
      }
    }

    &.sum-cart {
      padding: 10px 0 0;

      .label {
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        color: #666;
      }

      .value {
        float: right;
        font-weight: 700;
        font-size: 20px;
        color: #333;
      }
    }
  }

  span {
    float: left;
    margin: 0;

    &.label {
      text-align: left;
      width: 90px;
    }

    &.value {
      text-align: right;
      width: calc(100% - 90px);
    }
  }
}

.opc-block-summary {
  display: flex;
  flex-wrap: wrap;

  .items-in-cart {
    width: 100%;
    order: 1;
  }

  .table-totals {
    width: 100%;
    display: block;
    order: 2;
  }
}

.opc-block-summary{
  .table-totals{
    margin-bottom: 0;

    tbody {
      width: 100%;
      display: table;
    }

    .table-caption{
      display: none;
    }
    tr{
      &.shipping {
        height: 36px;
      }

      &.grand.totals{
        .mark {
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          color: #666;
          padding: 10px 0 0;
        }

        border-top: 1px solid #ddd;
        td.amount{
          font-size: 20px;
          font-weight: 700;
          color: #333;
          padding-top: 6px;
        }
      }
    }
    th{
      border-top: none;
      padding: 5px 0;
      font-size: 14px;
      font-weight: 400;
    }
    td{
      border-top: none;
      padding: 5px 0;
      font-weight: 400;
      text-align: right;
      font-size: 12px;
      color: #666;
    }
    .mark{
      background-color: transparent;
      font-size: 12px;
      color: #999;
      padding: 0;
      vertical-align: middle;

      span {
        display: inline-block;
      }

      .label {
        font-size: 12px;
        color: #999;
        padding: 0;
        vertical-align: middle;
      }

      .value {
        display: none;
      }
    }
  }
}
.methods-shipping .actions-toolbar .action.primary {
  margin: 20px 0 0;
}
.opc-estimated-wrapper{
  background: #fff;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  margin: 0 -15px 15px;
  padding: 18px 15px;
  overflow: hidden;
}
.opc-estimated-wrapper .minicart-wrapper {
  display: inline-block;
  position: relative;
  float: right;
}
.opc-estimated-wrapper .minicart-wrapper .action.showcart:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 28px;
  color: #757575;
  content: '\f291';
  font-family: $font-awesome-5-free;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.opc-estimated-wrapper .estimated-block {
  font-size: 18px;
  float: left;
  font-weight: 700;
  max-width: 80%;

  .estimated-price{
    display: block;
  }
}
.opc-estimated-wrapper .minicart-wrapper button.action.showcart {
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
  &:focus{
    outline: none;
  }
}
.opc-estimated-wrapper .minicart-wrapper button.action.showcart:before {
  color: #333333;
}
.opc-sidebar{
  .modal-header{
    border-bottom: none;
    display: none;
  }
  .modal-content{
    border: none;
    background: transparent;
    @include border-radius(0);
  }
}
.field[name="shippingAddress.postcode"]{
  display: none;
}
.field[name="shippingAddress.country_id"]{
  display: none;
}

#checkout-shipping-method-load {
  padding: 15px;
  border: 2px solid #aedce6;
  background: #fff;
}

.row-shipping-method {
  display: table;
  margin-left: 0;

  .shipping-method,
  .shipping-method-content {
    display: table-cell;
    vertical-align: middle;
  }

  .shipping-method-content {
    padding-left: 7px;

    .shipping-price {
      font-size: 16px;
      color: #e01e2f;
    }

    .shipping-method {
      font-size: 18px;
      font-weight: 700;
      color: #212529;
    }
  }
}

#shipping-new-address-form {
  margin-left: -10px;

  .input-text {
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 3px;

    &:focus {
      border-color: #80bdff;
    }
  }

  > .field {
    padding-left: 10px;

    &[name="shippingAddress.firstname"],
    &[name="shippingAddress.lastname"] {
      width: 50%;
      float: left;
      display: inline-block!important;
    }

    &.street {
      clear: both;
    }

    .label {
      font-size: 14px;
    }

    &._required {
      span {
        &:after {
          content: "*";
          display: inline-block;
          color: #dc3545;
          padding-left: 5px;
        }
      }
    }
  }
}

.checkout-shipping-method .actions-toolbar {
  margin-top: 20px;
  text-align: center;

  .primary {
    display: inline-block;
    float: none!important;
    font-size: 16px;
    font-weight: 100;
    border-radius: 3px;
    padding: 8px 16px;
  }
}

.opc-block-summary {
  > span {
    display: none;
  }

  .items-in-cart {
    > .title {
      strong {
        font-size: 12px;
        color: #999;
        margin-bottom: 10px;
      }
    }
  }
}

.billing-address-form {
  .label {
    font-size: 18px;
    color: #212529;
    margin-bottom: 8px;
  }

  .input-text {
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 3px;

    &:focus {
      border-color: #80bdff;
    }
  }

  .fieldset.address {
    margin-left: -10px;

    > .field {
      padding-left: 10px;

      &._required {
        .label {
          span {
            font-size: 18px;
            color: #212529;

            &:after {
              content: "*";
              display: inline-block;
              color: #dc3545;
              padding-left: 5px;
            }
          }
        }
      }

      &[name="billingAddressnganluong.firstname"],
      &[name="billingAddressnganluong.lastname"] {
        width: 50%;
        float: left;
        display: block!important;
      }
    }
  }

  .street {
    clear: both;
  }
}

.checkout-index-index {
  > .loading-mask {
    position: fixed;
    z-index: 99999999;
    background: #ccccccc4;
    width: 100%;
    height: 200%;
    overflow: hidden;
    text-align: center;

    img {
      position: absolute;
      left: 50%;
      transform: translate(-50%,0);
    }
  }
}

.c-address-list{
  margin-bottom: 15px;
}
.c-address-item{
  overflow: hidden;
  padding: 13px;
  border: 2px solid transparent;
  border-bottom: 2px solid $color-bg5;
  line-height: 1.7;
  .btn{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
  }
  &.selected-item{
    border: 2px solid #aedce6;
    background: $color-white;
  }
}


//magento checkout responsive css
@media (max-width: 767px) {
  .opc-estimated-wrapper {
    display: none;
  }

  .checkout-payment-method .payment-method-content {
    padding-left: 0!important;
  }

  .checkout-payment-method .checkout-billing-address .fieldset .actions-toolbar .action:nth-child(1) {
    margin-bottom: 15px;
  }
}
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title {
    font-size: 22px;
  }
  .opc-sidebar{
    margin: 46px 0 20px;
    width: 33.33333333%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .opc-wrapper {
    width: 66.66666667%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding-right: 10px;
  }
  .opc-block-summary {
    background: #fff;
    padding: 15px;
    max-width: 260px;
    margin-left: auto;
  }
  .opc-summary-wrapper .modal-header .action-close {
    display: none;
  }
  .opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
    max-width: 750px;
  }
  .checkout-shipping-method .actions-toolbar{
    overflow: hidden;
  }
  .checkout-shipping-method .actions-toolbar > .primary {
    float: right;
  }
  .checkout-shipping-method .actions-toolbar .action.primary {
    margin: 0;
  }
  .table-checkout-shipping-method {
    width: auto;
  }
  .opc-estimated-wrapper {
    display: none;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .table-checkout-shipping-method {
    min-width: 615px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento checkout responsive css
/*---------- end magento checkout css ----------*/