/*---------- magento popout css ----------*/
.minicart-wrapper .block-minicart{
  margin: 0;
  padding: 0;
  list-style: none none;
  background: #fff;
  border: 1px solid #bbb;
  margin-top: 4px;
  min-width: 100%;
  width: 320px;
  z-index: 101;
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 100%;
  right: 0px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.15);
}
.minicart-wrapper .block-minicart {
  padding: 30px 15px 15px;
}
.minicart-wrapper .block-minicart:before, .minicart-wrapper .block-minicart:after {
  border-bottom-style: solid;
  content: '';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.minicart-wrapper .block-minicart:before {
  border: 6px solid;
  border-color: transparent transparent #fff transparent;
  z-index: 99;
}
.minicart-wrapper .block-minicart:before {
  right: 26px;
  top: -12px;
}
.minicart-wrapper .block-minicart:after {
  border: 7px solid;
  border-color: transparent transparent #bbb transparent;
  z-index: 98;
}
.minicart-wrapper .block-minicart:after {
  right: 25px;
  top: -14px;
}
.minicart-wrapper .block-minicart .block-title {
  display: none;
}
.minicart-wrapper .action.close {
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  &:focus{
    outline: none;
  }
}
.minicart-wrapper .action.close:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 16px;
  color: #757575;
  content: '\f00d';
  font-family: $font-awesome-5-free;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-wrapper .action.close>span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.block-minicart .items-total {
  float: left;
  margin: 0 10px;
}
.block-minicart .items-total .count {
  font-weight: 700;
}
.block-minicart .subtotal {
  margin: 0 0 10px;
  text-align: right;
}
.block-minicart .subtotal .label:after, .minicart-items .details-qty .label:after, .minicart-items .price-minicart .label:after, .order-details-items .order-gift-message .label:after, .order-details-items .block-order-details-gift-message .label:after, .block-wishlist-management .wishlist-select .wishlist-name-label:after {
  content: ': ';
}
.block-minicart .amount .price-wrapper:first-child .price {
  font-size: 18px;
  font-weight: 700;
}
.block-minicart .block-content>.actions {
  margin-top: 15px;
}
.block-minicart .block-content>.actions>.primary {
  margin: 0 0 15px;
}
.block-minicart .block-content>.actions>.primary .action.primary {
  display: block;
  width: 100%;
  background-color: $color-primary;
  border: none;
  padding: .7rem 1rem;
  color: $color-white;
  cursor: pointer;
  font-size: 16px;
  @include border-radius(3px);
  &:focus{
    outline: none;
  }
}
.block-minicart .subtitle {
  display: none;
}
.minicart-items-wrapper {
  border: 1px solid $color-border;
  margin: 0 -15px;
  border-left: 0;
  border-right: 0;
  overflow-x: auto;
  padding: 15px;
}
.minicart-items {
  margin: 0;
  padding: 0;
  list-style: none none;
  display: block!important;
}
.product-item {
  vertical-align: top;
}
.minicart-items .product-item {
  padding: 10px 0;
}
.minicart-wrapper .block-minicart li {
  margin: 0;
}
.minicart-items .product-item:first-child {
  padding-top: 0;
}
.minicart-items .product>.product-item-photo, .minicart-items .product>.product-image-container {
  float: left;
}
.product-image-container {
  display: inline-block;
  max-width: 100%;
}
.products-list .product-image-wrapper, .cart.table-wrapper .product-image-wrapper, .minicart-items .product-image-wrapper, .block-giftregistry-shared-items .product-image-wrapper {
  height: auto;
  padding: 0 !important;
}
.product-image-photo {
  bottom: 0;
  display: block;
  height: auto;
  left: 0;
  margin: auto;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.products-list .product-image-wrapper .product-image-photo, .cart.table-wrapper .product-image-wrapper .product-image-photo, .minicart-items .product-image-wrapper .product-image-photo, .block-giftregistry-shared-items .product-image-wrapper .product-image-photo {
  position: static;
}
.minicart-items .product-item-details {
  padding-left: 88px;
  min-height: 80px;
}
.product-item-name {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  display: block;
  hyphens: auto;
  margin: 5px 0;
  word-wrap: break-word;
}
.authentication-wrapper {
  display: none;
}
.minicart-items .product-item-name {
  font-weight: 400;
  color: #666;
  cursor: pointer;
  margin: 0;

  &:hover {
    color: #e01e2f;
  }
}
.minicart-items .product-item-name a {
  color: #006bb4;
}
.minicart-items .product .toggle {
  border: 0;
  padding: 0 40px 5px 0;
}
.price-including-tax, .price-excluding-tax {
  display: block;
  font-size: 1.8rem;
  line-height: 1;
}
.minimal-price-link, .price-excluding-tax, .price-including-tax {
  display: block;
  white-space: nowrap;
}
.minicart-items .product-item-details .price-including-tax, .minicart-items .product-item-details .price-excluding-tax {
  margin: 5px 0;
}
.price-container .price {
  font-size: 14px;
}
.minicart-items .product-item-details .price {
  font-weight: 300;
  color: #666;
  font-size: 12px;
}

.minicart-items {
  .price-including-tax,
  .price-excluding-tax {
    line-height: 100%;
    font-size: 12px;
    margin: 0;
  }
}

.minicart-items .product-item-details .details-qty {
  margin-top: 10px;
  display: none;
}
.minicart-items .product-item-pricing .label {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 0;
}
.minicart-items .item-qty {
  margin-right: 10px;
  text-align: center;
  width: 50px;
  height: 32px;
  border: 1px solid $color-border;
}
.minicart-items .update-cart-item {
  font-size: 1.1rem;
  vertical-align: top;
}
.minicart-wrapper .product .actions {
  float: right;
  margin: -24px 0 0;
}
.minicart-wrapper .product .actions>.primary, .minicart-wrapper .product .actions>.secondary {
  display: inline;
}
.minicart-wrapper .product .actions>.primary:not(:last-child), .minicart-wrapper .product .actions>.secondary:not(:last-child) {
  margin-right: 7px;
}
.minicart-items .action.edit, .minicart-items .action.delete {
  display: inline-block;
  text-decoration: none;
}
.minicart-items .action.edit:before, .minicart-items .action.delete:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 20px;
  color: #757575;
  content: '\f044';
  font-family: $font-awesome-5-free;
  vertical-align: middle;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.minicart-items .action.edit>span, .minicart-items .action.delete>span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.minicart-items .action.delete:before {
  content: '\f2ed';
}
.minicart-items .product .toggle:after{
  position: static;
  margin-left: 4px;
}
.minicart-wrapper .minicart-widgets {
  margin-top: 15px;
}
.block-minicart .block-content>.actions {
  margin-top: 15px;
}
.block-minicart .block-content>.actions>.secondary {
  text-align: center;
}
//magento popout responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .minicart-wrapper .block-minicart {
    right: -15px;
    width: 390px;
  }
  .minilist .action.delete:before, .minicart-wrapper .action.edit:before {
    font-size: 16px;
    line-height: inherit;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento popout responsive css
/*---------- end magento popout css ----------*/