/*---------- magento account css ----------*/

//magento account responsive css
@media (max-width: 768px){//mobile lanscape
  .orders-history,
  .orders-recent {
    max-width: 100%;
    overflow: scroll;
  }

  .shipping-address-items .shipping-address-item {
    width: 100%;
    float: none;
  }
}

@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento account responsive css
/*---------- end magento account css ----------*/

.checkout-index-index {
  overflow-x: hidden;
}

.checkout-index-index  > .modals-wrapper.map-popup .map-info-price:after{
  clear:both
}
.checkout-index-index  > .modals-wrapper.modal-popup .field-tooltip .field-tooltip-content{
  right:-10px;
  top:40px;
  left:auto
}
.checkout-index-index  > .modals-wrapper.modal-popup .field-tooltip .field-tooltip-content:before,
.checkout-index-index  > .modals-wrapper.modal-popup .field-tooltip .field-tooltip-content:after {
  border:10px solid transparent;
  height:0;
  width:0;
  margin-top:-21px;
  right:10px;
  left:auto;
  top:0
}
.checkout-index-index  > .modals-wrapper.modal-popup .field-tooltip .field-tooltip-content:before {
  border-bottom-color:#999
}

.checkout-index-index  > .modals-wrapper.modal-popup .field-tooltip .field-tooltip-content:after {
  border-bottom-color:#f4f4f4;
  top:1px
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close{
  position:absolute;
  height:40px;
  right:0;
  top:0;
  width:40px;
  z-index:1001;
  display:inline-block;
  background-image:none;
  background:none;
  -moz-box-sizing:content-box;
  border:0;
  box-shadow:none;
  line-height:inherit;
  margin:0;
  padding:0;
  text-decoration:none;
  text-shadow:none;
  font-weight:400
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close>span{
  border:0;
  clip:rect(0, 0, 0, 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close:before{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  font-size:22px;
  line-height:22px;
  color:inherit;
  content:'\e616';
  font-family:'icons-blank-theme';
  margin:0;
  vertical-align:top;
  display:inline-block;
  font-weight:normal;
  overflow:hidden;
  speak:none;
  text-align:center
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close:hover:before{
  color:inherit
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close:active:before{
  color:inherit
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close:focus,
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close:active{
  background:none;
  border:none
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close:hover{
  background:none;
  border:none
}
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close.disabled,
.checkout-index-index  > .modals-wrapper.ui-dialog.popup .action.close[disabled],fieldset[disabled] .ui-dialog.popup .action.close{
  pointer-events:none;
  opacity:.5
}
.checkout-index-index  > .modals-wrapper.popup-pointer{
  margin-left:-14px;
  position:absolute;
  top:-14px
}
.checkout-index-index  > .modals-wrapper.popup-pointer:before,.popup-pointer:after{
  content:'';
  position:absolute;
  display:block;
  width:0;
  height:0;
  border-bottom-style:solid
}
.checkout-index-index  > .modals-wrapper.popup-pointer:before{
  left:2px;
  top:2px;
  border:solid 6px;
  border-color:transparent transparent #fff transparent;
  z-index:99
}
.checkout-index-index  > .modals-wrapper.popup-pointer:after{
  left:1px;
  top:0px;
  border:solid 7px;
  border-color:transparent transparent #aeaeae transparent;
  z-index:98
}
body.checkout-index-index._has-modal{
  height:100%;
  overflow:hidden;
  width:100%
}
.checkout-index-index  > .modals-wrapper.modals-overlay{
  z-index:899
}
.checkout-index-index  > .modals-wrapper.modal-popup{
  bottom:0;
  left:0;
  min-width:0;
  position:fixed;
  right:0;
  top:0;
  visibility:hidden;
  opacity:0;
  -webkit-transition:visibility 0s .3s,opacity .3s ease;
  transition:visibility 0s .3s,opacity .3s ease
}
.checkout-index-index  > .modals-wrapper.modal-slide._show,.modal-popup._show{
  visibility:visible;
  opacity:1;
  -webkit-transition:opacity .3s ease;
  transition:opacity .3s ease
}
.checkout-index-index  > .modals-wrapper.modal-slide._show .modal-inner-wrap,
.checkout-index-index  > .modals-wrapper.modal-popup._show .modal-inner-wrap{
  -webkit-transform:translate(0, 0);
  transform:translate(0, 0)
}
.checkout-index-index  > .modals-wrapper.modal-slide .modal-inner-wrap,
.checkout-index-index  > .modals-wrapper.modal-popup .modal-inner-wrap{
  background-color:#fff;
  box-shadow:0 0 12px 2px rgba(0,0,0,0.35);
  opacity:1;
  pointer-events:auto
}
.checkout-index-index  > .modals-wrapper.modal-slide{
  left:44px;
  z-index:900
}
.checkout-index-index  > .modals-wrapper.modal-slide._show .modal-inner-wrap{
  -webkit-transform:translateX(0);
  transform:translateX(0)
}
.checkout-index-index  > .modals-wrapper.modal-slide .modal-inner-wrap{
  height:100%;
  overflow-y:auto;
  position:static;
  -webkit-transform:translateX(100%);
  transform:translateX(100%);
  -webkit-transition:-webkit-transform .3s ease-in-out;
  transition:transform .3s ease-in-out;
  width:auto
}
.checkout-index-index  > .modals-wrapper.modal-slide._inner-scroll .modal-inner-wrap{
  overflow-y:visible;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column
}
.checkout-index-index  > .modals-wrapper.modal-slide._inner-scroll .modal-header,
.checkout-index-index  > .modals-wrapper.modal-slide._inner-scroll .modal-footer{
  -webkit-flex-grow:0;
  flex-grow:0;
  -webkit-flex-shrink:0;
  flex-shrink:0
}
.checkout-index-index  > .modals-wrapper.modal-slide._inner-scroll .modal-content{
  overflow-y:auto
}
.checkout-index-index  > .modals-wrapper.modal-slide._inner-scroll .modal-footer{
  margin-top:auto
}
.checkout-index-index  > .modals-wrapper.modal-slide .modal-header,
.checkout-index-index  > .modals-wrapper.modal-slide .modal-content,
.checkout-index-index  > .modals-wrapper.modal-slide .modal-footer{
  padding:0 2.6rem 2.6rem
}
.checkout-index-index  > .modals-wrapper.modal-slide .modal-header{
  padding-bottom:2.1rem;
  padding-top:2.1rem
}
.checkout-index-index  > .modals-wrapper.modal-popup{
  z-index:900;
  left:0;
  overflow-y:auto
}
.checkout-index-index  > .modals-wrapper.modal-popup.confirm .modal-inner-wrap{
  max-width:50rem
}
.checkout-index-index  > .modals-wrapper.modal-popup.confirm .modal-inner-wrap .modal-content{
  padding-right:7rem
}
.checkout-index-index  > .modals-wrapper.modal-popup._show .modal-inner-wrap{
  -webkit-transform:translateY(0);
  transform:translateY(0)
}
.checkout-index-index  > .modals-wrapper.modal-popup .modal-inner-wrap{
  margin:5rem auto;
  width:75%;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  box-sizing:border-box;
  height:auto;
  left:0;
  position:absolute;
  right:0;
  -webkit-transform:translateY(-200%);
  transform:translateY(-200%);
  -webkit-transition:-webkit-transform .2s ease;
  transition:transform .2s ease
}
.checkout-index-index  > .modals-wrapper.modal-popup._inner-scroll{
  overflow-y:visible
}
.checkout-index-index  > .modals-wrapper.ie11 .modal-popup._inner-scroll{
  overflow-y:auto
}
.checkout-index-index  > .modals-wrapper.modal-popup._inner-scroll .modal-inner-wrap{
  max-height:90%
}
.checkout-index-index  > .modals-wrapper.ie11 .modal-popup._inner-scroll .modal-inner-wrap{
  max-height:none
}
.checkout-index-index  > .modals-wrapper.modal-popup._inner-scroll .modal-content{
  overflow-y:auto
}
.checkout-index-index  > .modals-wrapper.modal-popup .modal-header,
.checkout-index-index  > .modals-wrapper.modal-popup .modal-content,
.checkout-index-index  > .modals-wrapper.modal-popup .modal-footer{
  padding-left:3rem;
  padding-right:3rem
}
.checkout-index-index  > .modals-wrapper.modal-popup .modal-header,
.checkout-index-index  > .modals-wrapper.modal-popup .modal-footer{
  -webkit-flex-grow:0;
  flex-grow:0;
  -webkit-flex-shrink:0;
  flex-shrink:0
}
.checkout-index-index  > .modals-wrapper.modal-popup .modal-header{
  padding-bottom:1.2rem;
  padding-top:3rem
}
.checkout-index-index  > .modals-wrapper.modal-popup .modal-footer{
  margin-top:auto;
  padding-bottom:3rem;
  padding-top:3rem
}
.checkout-index-index  > .modals-wrapper.modal-popup .modal-footer-actions{
  text-align:right
}
.checkout-index-index  > .modals-wrapper.modal-custom .action-close,
.checkout-index-index  > .modals-wrapper.modal-popup .action-close,
.checkout-index-index  > .modals-wrapper.modal-slide .action-close{
  background-image:none;
  background:none;
  -moz-box-sizing:content-box;
  border:0;
  box-shadow:none;
  line-height:inherit;
  margin:0;
  padding:0;
  text-shadow:none;
  font-weight:400;
  display:inline-block;
  text-decoration:none;
  position:absolute;
  right:0;
  top:0
}
.checkout-index-index  > .modals-wrapper.modal-custom .action-close:focus,
.checkout-index-index  > .modals-wrapper.modal-popup .action-close:focus,
.checkout-index-index  > .modals-wrapper.modal-slide .action-close:focus,
.checkout-index-index  > .modals-wrapper.modal-custom .action-close:active,
.checkout-index-index  > .modals-wrapper.modal-popup .action-close:active,
.checkout-index-index  > .modals-wrapper.modal-slide .action-close:active{
  background:none;
  border:none
}
.checkout-index-index  > .modals-wrapper.modal-custom .action-close:hover,
.checkout-index-index  > .modals-wrapper.modal-popup .action-close:hover,
.checkout-index-index  > .modals-wrapper.modal-slide .action-close:hover{
  background:none;
  border:none
}
.checkout-index-index  > .modals-wrapper.modal-custom .action-close.disabled,
.checkout-index-index  > .modals-wrapper.modal-popup .action-close.disabled,
.checkout-index-index  > .modals-wrapper.modal-slide .action-close.disabled,
.checkout-index-index  > .modals-wrapper.modal-custom .action-close[disabled],
.checkout-index-index  > .modals-wrapper.modal-popup .action-close[disabled],
.checkout-index-index  > .modals-wrapper.modal-slide .action-close[disabled],
.checkout-index-index  > .modals-wrapperfieldset[disabled] .modal-custom .action-close,fieldset[disabled] .modal-popup .action-close,fieldset[disabled] .modal-slide .action-close{
  pointer-events:none;
  opacity:.5
}
.checkout-index-index  > .modals-wrapper{
  .modal-custom .action-close>span,.modal-popup .action-close>span,.modal-slide .action-close>span{
    border:0;
    clip:rect(0, 0, 0, 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
  }

  .modal-custom .action-close:before,.modal-popup .action-close:before,.modal-slide .action-close {
    position: relative;
  }

  .modal-slide .action-close:before{
    content: "";
    display: inline-block;
    width: 2px;
    height: 15px;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 9px;
  }

  .modal-slide .action-close:after{
    content: "";
    display: inline-block;
    width: 2px;
    height: 15px;
    background: #000;
    transform: rotate(-45deg);
    position: absolute;
    top: 9px;
    right: 11px;
  }
  .modal-custom .action-close:hover:before,.modal-popup .action-close:hover:before,.modal-slide .action-close:hover:before{
    color:inherit
  }
  .modal-custom .action-close:active:before,.modal-popup .action-close:active:before,.modal-slide .action-close:active:before{
    color:inherit
  }
  .modal-custom .action-close:hover:before,.modal-popup .action-close:hover:before,.modal-slide .action-close:hover:before{
    color:#1a1a1a
  }
  .modal-custom .action-close{
    margin:25px
  }
  .modal-popup{
    pointer-events:none
  }
  .modal-popup .modal-title{
    font-weight:400;
    font-size:26px;
    margin-bottom:0;
    min-height:1em;
    word-wrap:break-word
  }
  .modal-popup .action-close{
    padding:10px
  }
  .opc-wrapper .action-show-popup{
    margin:0 0 20px
  }
  .opc-wrapper .action-show-popup>span:before{
    content:'+';
    padding-right:5px
  }
  .map-popup-wrapper.popup .action.close{
    top:10px
  }
  .map-popup{
    background:#fff;
    border:1px solid #aeaeae;
    padding:22px;
    width:100%;
    box-shadow:0 3px 3px rgba(0,0,0,0.15);
    transition:opacity .3s linear;
    left:0;
    margin-top:10px;
    position:absolute;
    top:0;
    z-index:1001;
    display:none;
    opacity:0;
    box-sizing:border-box
  }
  .map-popup .popup-header{
    margin:0 0 25px;
    padding-right:22px
  }
  .map-popup .popup-header .title{
    font-weight:300;
    line-height:1.1;
    font-size:1.8rem;
    margin-top:1.5rem;
    margin-bottom:1rem
  }
  .map-popup .popup-content{
    margin:10px 0 0
  }
  .map-popup .popup-actions .action.close{
    position:absolute;
    display:inline-block;
    background-image:none;
    background:none;
    -moz-box-sizing:content-box;
    border:0;
    box-shadow:none;
    line-height:inherit;
    margin:0;
    padding:0;
    text-decoration:none;
    text-shadow:none;
    font-weight:400;
    right:10px;
    top:10px
  }
  .map-popup .popup-actions .action.close>span{
    border:0;
    clip:rect(0, 0, 0, 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
  }
  .map-popup .popup-actions .action.close:before{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:22px;
    line-height:22px;
    color:inherit;
    content:'\e616';
    font-family:'icons-blank-theme';
    margin:0;
    vertical-align:top;
    display:inline-block;
    font-weight:normal;
    overflow:hidden;
    speak:none;
    text-align:center
  }
  .map-popup .popup-actions .action.close:hover:before{
    color:inherit
  }
  .map-popup .popup-actions .action.close:active:before{
    color:inherit
  }
  .map-popup .popup-actions .action.close:focus,.map-popup .popup-actions .action.close:active{
    background:none;
    border:none
  }
  .map-popup .popup-actions .action.close:hover{
    background:none;
    border:none
  }
  .map-popup .popup-actions .action.close.disabled,.map-popup .popup-actions .action.close[disabled],fieldset[disabled] .map-popup .popup-actions .action.close{
    pointer-events:none;
    opacity:.5
  }
  .map-popup.active{
    opacity:1
  }
  .map-popup .map-info-price{
    margin-bottom:15px
  }
  .map-popup .map-info-price .price-box{
    margin:0 0 20px
  }
  .map-popup .map-info-price .price-box .label:after{
    content:': '
  }
  .map-popup .regular-price .price-label{
    display:none
  }
  .cart.table-wrapper .wishlist.split.button>.action.toggle{
    padding:4px 5px
  }
  .wishlist.window.popup{
    box-sizing:border-box;
    background:#fff;
    border:1px solid #aeaeae;
    padding:22px;
    width:100%;
    box-shadow:0 3px 3px rgba(0,0,0,0.15);
    transition:opacity .3s linear;
    bottom:0;
    left:0;
    position:fixed;
    right:0;
    top:0;
    z-index:1001;
    display:none;
    opacity:0
  }
  .wishlist.window.popup .popup-header{
    margin:0 0 25px;
    padding-right:22px
  }
  .wishlist.window.popup .popup-header .title{
    font-weight:300;
    line-height:1.1;
    font-size:1.8rem;
    margin-top:1.5rem;
    margin-bottom:1rem
  }
  .wishlist.window.popup .popup-actions .action.close{
    position:absolute;
    display:inline-block;
    background-image:none;
    background:none;
    -moz-box-sizing:content-box;
    border:0;
    box-shadow:none;
    line-height:inherit;
    margin:0;
    padding:0;
    text-decoration:none;
    text-shadow:none;
    font-weight:400;
    right:10px;
    top:10px
  }
  .wishlist.window.popup .popup-actions .action.close>span{
    border:0;
    clip:rect(0, 0, 0, 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
  }
  .wishlist.window.popup .popup-actions .action.close:before{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:22px;
    line-height:22px;
    color:inherit;
    content:'\e616';
    font-family:'icons-blank-theme';
    margin:0;
    vertical-align:top;
    display:inline-block;
    font-weight:normal;
    overflow:hidden;
    speak:none;
    text-align:center
  }
  .wishlist.window.popup .popup-actions .action.close:hover:before{
    color:inherit
  }
  .wishlist.window.popup .popup-actions .action.close:active:before{
    color:inherit
  }
  .wishlist.window.popup .popup-actions .action.close:focus,.wishlist.window.popup .popup-actions .action.close:active{
    background:none;
    border:none
  }
  .wishlist.window.popup .popup-actions .action.close:hover{
    background:none;
    border:none
  }
  .wishlist.window.popup .popup-actions .action.close.disabled,.wishlist.window.popup .popup-actions .action.close[disabled],fieldset[disabled] .wishlist.window.popup .popup-actions .action.close{
    pointer-events:none;
    opacity:.5
  }
  .wishlist.window.popup.active{
    opacity:1
  }
  .wishlist.window.popup.active{
    display:block
  }
  .my-credit-cards-popup .modal-footer{
    text-align:right
  }
  .my-credit-cards-popup .action.secondary{
    background-image:none;
    -moz-box-sizing:content-box;
    box-shadow:none;
    line-height:inherit;
    text-shadow:none;
    font-weight:400;
    line-height:1.42857143;
    margin:0;
    padding:0;
    color:#1979c3;
    text-decoration:none;
    background:none;
    border:0;
    display:inline;
    margin-right:20px
  }
  .my-credit-cards-popup .action.secondary:focus,.my-credit-cards-popup .action.secondary:active{
    background:none;
    border:none
  }
  .my-credit-cards-popup .action.secondary:hover{
    background:none;
    border:none
  }
  .my-credit-cards-popup .action.secondary.disabled,.my-credit-cards-popup .action.secondary[disabled],fieldset[disabled] .my-credit-cards-popup .action.secondary{
    pointer-events:none;
    opacity:.5
  }
  .my-credit-cards-popup .action.secondary:visited{
    color:#1979c3;
    text-decoration:none
  }
  .my-credit-cards-popup .action.secondary:hover{
    color:#006bb4;
    text-decoration:underline
  }
  .my-credit-cards-popup .action.secondary:active{
    color:#ff5501;
    text-decoration:underline
  }
  .my-credit-cards-popup .action.secondary:hover{
    color:#006bb4
  }
  .my-credit-cards-popup .action.secondary:hover,.my-credit-cards-popup .action.secondary:active,.my-credit-cards-popup .action.secondary:focus{
    background:none;
    border:0
  }
  .my-credit-cards-popup .action.secondary.disabled,.my-credit-cards-popup .action.secondary[disabled],fieldset[disabled] .my-credit-cards-popup .action.secondary{
    color:#1979c3;
    opacity:.5;
    cursor:default;
    pointer-events:none;
    text-decoration:underline
  }
  .modal-popup.modal-slide{
    z-index:900
  }
  .modal-popup.modal-slide .modal-inner-wrap{
    height:100%;
    overflow-y:auto;
    position:static;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:-webkit-transform .3s ease-in-out;
    transition:transform .3s ease-in-out;
    width:auto
  }
  .modal-popup.modal-slide .modal-inner-wrap{
    margin:0;
    max-height:none
  }
  .custom-slide{
    bottom:0;
    left:0;
    min-width:0;
    position:fixed;
    right:0;
    top:0;
    visibility:hidden;
    opacity:0;
    -webkit-transition:visibility 0s .3s,opacity .3s ease;
    transition:visibility 0s .3s,opacity .3s ease;
    left:44px;
    z-index:900
  }
  .custom-slide._show{
    visibility:visible;
    opacity:1;
    -webkit-transition:opacity .3s ease;
    transition:opacity .3s ease
  }
  .custom-slide._show .modal-inner-wrap{
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0)
  }
  .custom-slide .modal-inner-wrap{
    background-color:#fff;
    box-shadow:0 0 12px 2px rgba(0,0,0,0.35);
    opacity:1;
    pointer-events:auto
  }
  .custom-slide._show .modal-inner-wrap{
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
  .custom-slide .modal-inner-wrap{
    height:100%;
    overflow-y:auto;
    position:static;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:-webkit-transform .3s ease-in-out;
    transition:transform .3s ease-in-out;
    width:auto
  }
  .custom-slide._show{
    -webkit-overflow-scrolling:touch;
    overflow-x:hidden;
    overflow-y:auto
  }
  .custom-slide .modal-inner-wrap{
    background-color:#f4f4f4;
    box-sizing:border-box;
    height:auto;
    min-height:100%
  }
}


body._has-modal-custom{
  height:100vh;
  overflow:hidden;
  width:100vw
}
body._has-modal-custom .modal-custom-overlay{
  background-color:rgba(51,51,51,0.55)
}
.modal-popup.modal-slide .modal-inner-wrap[class]{
  background-color:#fff
}
.modal-popup.modal-slide._inner-scroll._show{
  -webkit-overflow-scrolling:touch;
  overflow-y:auto
}
.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{
  height:auto;
  min-height:100%
}
.modal-popup .modal-title{
  font-size:14px;
  font-weight:700
}
.map-popup{
  max-width:100%
}
.opc-wrapper .action-show-popup{
  width:100%
}
.modal-popup .field-tooltip .field-tooltip-content{
  width:200px
}

.checkout-index-index  {
  > .modals-wrapper {
    .modals-overlay {
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: all .3s ease;
    }

    .modal-popup {
      z-index: 902;
      width: 90%;
      max-width: 800px;
      max-height: 90%;
      top: -150%;
      transform: translate(-50%,-50%);
      position: absolute;
      height: 80vh;
      left: 50%;
      transition: all .3s ease;
    }
  }

  &._has-modal {
    > .modals-wrapper {
      .modals-overlay {
        background-color: rgba(51,51,51,0.55);
        transition: all .3s ease;
      }

      .modal-popup {
        top: 50%;
        transition: all .3s ease;
        overflow: hidden;
      }
    }
  }
}

.action-close,
.action {
  cursor: pointer;
}

body._has-modal {
  height: 100%;
  overflow: hidden;
  width: 100%
}

.shipping-address-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &::after {
    display: block;
    content: "";
    clear: both;
  }

  .shipping-address-item {
    padding: 15px;
    border: 2px solid #f4f4f4;
    border-bottom: 2px solid #ebebeb;
    width: 50%;
    float: left;

    &.selected-item {
      border: 2px solid #aedce6;
      background: #fff;
    }

    button {
      border-radius: 4px;
      background: #da4239;
      border: 1px solid #da4239;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      padding: 7px 25px;
      text-transform: uppercase;
      box-sizing: border-box;
      vertical-align: middle;
      font-size: 12px;
      margin-top: 15px;
      float: right;
      margin-left: 10px;
    }
  }
}

//style for popup
.checkout-index-index > .modals-wrapper {
  .modal-content {
    border: none;
    background: #fff;
    padding: 15px!important;
  }

  .modal-header,
  .modal-footer {
    padding: 15px!important;
  }

  .modal-footer {
    border-color: #e9ecef!important;

    .action {
      font-size: 12px;
      border-radius: 4px;

      &.action-hide-popup {
        background: #717171;
        border: 1px solid #717171;
      }
    }
  }

  #shipping-new-address-form {
    > .field {
      //padding-left: 0;
      //display: block!important;
    }
  }

  //#opc-new-shipping-address,
  //#shipping-new-address-form {
  //  margin: 0;
  //}

  .field.choice {
    .label {
      display: inline-block;
      margin: 0 0 0 5px;
      vertical-align: middle;
    }
  }
}

@media (max-width: 768px){//mobile lanscape
  .shipping-address-items .shipping-address-item {
    width: 100%;
    float: none;
  }
}
//end style for popup
