/*---------- magento components css ----------*/
.modal-slide, .modal-popup {
  bottom: 0;
  left: 0;
  min-width: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s .3s,opacity .3s ease;
  transition: visibility 0s .3s,opacity .3s ease;
}
.modal-slide {
  left: 44px;
  z-index: 900;
}
.modal-popup {
  z-index: 900;
  left: 0;
  overflow-y: auto;
}
.modal-popup {
  pointer-events: none;
}
.modal-popup._inner-scroll {
  overflow-y: visible;
}
.modal-slide .modal-inner-wrap, .modal-popup .modal-inner-wrap {
  background-color: #fff;
  box-shadow: 0 0 12px 2px rgba(0,0,0,0.35);
  opacity: 1;
  pointer-events: auto;
}
.modal-slide .modal-inner-wrap {
  height: 100%;
  overflow-y: auto;
  position: static;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  width: auto;
}
.modal-popup .modal-inner-wrap {
  margin: 5rem auto;
  width: 75%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
  -webkit-transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
}
.modal-slide._inner-scroll .modal-inner-wrap {
  overflow-y: visible;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal-popup._inner-scroll .modal-inner-wrap {
  max-height: 90%;
}
.modal-slide .modal-header, .modal-slide .modal-content, .modal-slide .modal-footer {
  padding: 0 2.6rem 2.6rem;
}
.modal-slide .modal-header {
  padding-bottom: 2.1rem;
  padding-top: 2.1rem;
}
.modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {
  padding-left: 3rem;
  padding-right: 3rem;
}
.modal-popup .modal-header, .modal-popup .modal-footer {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.modal-popup .modal-header {
  padding-bottom: 1.2rem;
  padding-top: 3rem;
}
.modal-slide._inner-scroll .modal-header, .modal-slide._inner-scroll .modal-footer {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close {
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-popup .action-close {
  padding: 20px;
}
.modal-slide .action-close {
  padding: 2.1rem 3rem;
}
.modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close {
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-shadow: none;
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 0;
  &:focus{
    outline: none;
  }
}
.modal-custom .action-close {
  margin: 25px;
}
.modal-custom .action-close:before, .modal-popup .action-close:before, .modal-slide .action-close:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 14px;
  color: #757575;
  content: '\f00d';
  font-family: $font-awesome-5-free;
  margin: 0;
  vertical-align: top;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.modal-custom .action-close > span, .modal-popup .action-close > span, .modal-slide .action-close > span {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.modal-popup._inner-scroll .modal-content {
  overflow-y: auto;
}
.modal-popup .modal-footer {
  margin-top: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.modal-slide._inner-scroll .modal-footer {
  margin-top: auto;
}
.message{
  font-size: 14px;
  margin: 0 0 10px;
  &:last-child{
    margin: 0;
  }
  &.success{
    padding: 12px 20px 12px 25px;
    display: block;
    background: #e5efe5;
    color: #006400;
    padding-left: 45px;
    position: relative;
    >*{
      &:first-child{
        &:before{
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 24px;
          line-height: 24px;
          color: #006400;
          content: '\f058';
          font-family: $font-awesome-5-free;
          margin: -12px 0 0;
          vertical-align: middle;
          display: inline-block;
          font-weight: 900;
          overflow: hidden;
          speak: none;
          left: 0;
          top: 22px;
          width: 45px;
          position: absolute;
          text-align: center;
        }
      }
    }
  }
  &.info{
    padding: 12px 20px 12px 25px;
    display: block;
    background: #daeffc;
    color: #17a2b8;
    position: relative;
  }
  &.error{
    padding: 12px 20px 12px 25px;
    display: block;
    background: #e6b8b5;
    color: #E57A74;
    position: relative;
  }
}
.input-text{
  display: block;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  border: 1px solid #ddd;
  width: 100%;
  padding: 6px 12px;
  outline: none;
  color: #495057;
  font-size: 12px;

  &#customer-email {
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 3px;

    &:focus{
      border-color: #80bdff;
    }
  }

  :focus{
    outline: none;
  }
}
.label{
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}
.choice{
  label{
    display: inline;
    font-size: 14px;
  }
}
.select{
  display: block;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  border: 1px solid #ddd;
  width: 100%;
  padding: 4px 6px;
  outline: none;
  :focus{
    outline: none;
  }
}
.fieldset {
  border: 0;
  margin: 0 0 40px;
  padding: 0;
}
.fieldset:last-child{
  margin-bottom: 0;
}
fieldset.field {
  border: 0;
  padding: 0;
}
.fieldset > .field, .fieldset > .fields > .field{
  margin: 0 0 15px;
}

.fieldset > .field .note, .fieldset > .fields > .field .note{
  font-size: 1.2rem;
  margin: 3px 0 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
}
#customer-email-fieldset {
  .field-tooltip {
    display: none;
  }
}
#shipping-new-address-form,
.billing-address-form {
  .field-tooltip {
    display: none;
  }
}
.field .control._with-tooltip {
  position: relative;
}
.field .control._with-tooltip input {
  margin-right: 10px;
}
.field-tooltip {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 1px;
}
.field-tooltip._active {
  z-index: 100;
}
.field-tooltip .field-tooltip-action {
  display: inline-block;
  text-decoration: none;
  &:focus{
    outline: none;
  }
}
.field-tooltip .field-tooltip-action:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: inherit;
  color: #bbbbbb;
  content: '\f059';
  font-family: $font-awesome-5-free;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.field-tooltip .field-tooltip-content {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 1px;
  font-size: 14px;
  padding: 12px;
  width: 270px;
  display: none;
  left: 38px;
  position: absolute;
  text-transform: none;
  top: -9px;
  word-wrap: break-word;
  z-index: 2;
}
.field-tooltip._active .field-tooltip-content {
  display: block;
}
.field-tooltip .field-tooltip-content:before, .field-tooltip .field-tooltip-content:after {
  border: 10px solid transparent;
  height: 0;
  width: 0;
  border-right-color: #f4f4f4;
  left: -20px;
  top: 12px;
  content: '';
  display: block;
  position: absolute;
  z-index: 3;
}
.field-tooltip .field-tooltip-content:before {
  border-right-color: #666666;
}
.field-tooltip .field-tooltip-content:after {
  border-right-color: #f4f4f4;
  width: 1px;
  z-index: 4;
}
.minicart-wrapper .action.showcart {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}
.minicart-wrapper .action.showcart {
  white-space: nowrap;
}
.minicart-wrapper .action.showcart .counter.qty {
  background: #ff5501;
  color: #ffffff;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  display: inline-block;
  margin: 3px 0 0;
  min-width: 18px;
  overflow: hidden;
  padding: 0 3px;
  text-align: center;
  white-space: normal;
}
.minicart-wrapper .action.showcart .counter-number {
  text-shadow: 0 0 7px #000000;
}
.minicart-items {
  margin: 0;
  padding: 0;
  list-style: none none;
}
.minicart-items-wrapper {
  border: 1px solid #cccccc;
  margin: 0 -20px;
  border-left: 0;
  border-right: 0;
  overflow-x: auto;
  padding: 15px;
}
.minicart-items .product-item:first-child {
  padding-top: 0;
}
.minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container {
  float: left;
}
.product-image-container {
  display: inline-block;
  max-width: 100%;
}
.product-image-wrapper {
  display: block;
  height: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.products-list .product-image-wrapper, .cart.table-wrapper .product-image-wrapper, .minicart-items .product-image-wrapper, .block-giftregistry-shared-items .product-image-wrapper {
  height: auto;
  padding: 0 !important;
}
.minicart-items .product-item-details {
  padding-left: 88px;
}
.product-item-name {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  display: block;
  hyphens: auto;
  margin: 5px 0;
  word-wrap: break-word;
}
.minicart-items .product-item-name {
  font-weight: 400;
  margin: 0 0 10px;
}
.minicart-items .product-item-details .details-qty {
  margin-top: 10px;
}
.action.primary{
  background-image: none;
  background: $color-primary;
  border: 1px solid $color-primary;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 25px;
  font-size: 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  vertical-align: middle;
}
.action.secondary{
  background-image: none;
  background: $color-secondary;
  border: 1px solid $color-secondary;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  font-size: 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  vertical-align: middle;
}
.actions-toolbar > .primary, .actions-toolbar > .secondary {
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
}
.actions-toolbar > .primary .action, .actions-toolbar > .secondary .action{
  width: 100%;
}
.actions-toolbar > .primary:last-child, .actions-toolbar > .secondary:last-child {
  margin-bottom: 0;
}
.field-error{
  color: red;
}
//magento components responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .modal-popup.modal-slide .modal-footer {
    border-top: 1px solid #c1c1c1;
    text-align: right;
  }
  .actions-toolbar {

  }
  .actions-toolbar:before, .actions-toolbar:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
  }
  .actions-toolbar .primary, .actions-toolbar .secondary {
    display: inline-block;
  }
  .actions-toolbar > .primary, .actions-toolbar > .secondary {
    margin-bottom: 0;
  }
  .actions-toolbar > .secondary{
    margin-left: 10px;
  }
  .actions-toolbar .secondary a.action {
    margin-top: 6px;
    text-decoration: none;
  }
  .actions-toolbar > .primary .action, .actions-toolbar > .secondary .action {
    margin-bottom: 0;
    width: auto;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .checkout-index-index .modal-popup .modal-inner-wrap {
    margin-left: -400px;
    width: 800px;
    left: 50%;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (max-width: 767px){
  .opc-estimated-wrapper .minicart-wrapper {
    margin-top: 10px;
  }
}

//end magento components responsive css
/*---------- end magento components css ----------*/