/*---------- magento user css ----------*/
.account-nav-content{
  margin-bottom: 20px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    &.nav{
      display: block;
    }
    li{
      &.nav{
        display: block;
        a{
          display: block;
          text-decoration: none;
          padding: 5px 0;
          color: $color-text;
        }
        strong{
          display: block;
          padding: 5px 0;
        }
      }
      &.current{
        strong{
          color: $color-primary;
          font-weight: 400;
        }
      }
    }
  }
}
.block, .customer-review .product-details, .block-banners, .block-banners-inline{
  //margin-bottom: 40px;
}
.abs-account-blocks .block-title, .account .legend, .form-giftregistry-search .legend, .block-giftregistry-results .block-title, .block-giftregistry-shared-items .block-title, .block-wishlist-search-form .block-title, .block-wishlist-search-results .block-title, .multicheckout .block-title, .multicheckout .block-content .title, .customer-review .review-details .title, .paypal-review .block .block-title, .account .l-main .block:not(.widget) .block-title, .multicheckout .block-title, .magento-rma-guest-returns .l-main .block:not(.widget) .block-title, [class^='sales-guest-'] .l-main .block:not(.widget) .block-title, .sales-guest-view .l-main .block:not(.widget) .block-title {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 25px;
  padding-bottom: 10px;
}
.abs-account-blocks .block-title>strong, .abs-account-blocks .block-title>span, .account .legend>strong, .account .legend>span, .form-giftregistry-search .legend>strong, .form-giftregistry-search .legend>span, .block-giftregistry-results .block-title>strong, .block-giftregistry-results .block-title>span, .block-giftregistry-shared-items .block-title>strong, .block-giftregistry-shared-items .block-title>span, .block-wishlist-search-form .block-title>strong, .block-wishlist-search-form .block-title>span, .block-wishlist-search-results .block-title>strong, .block-wishlist-search-results .block-title>span, .multicheckout .block-title>strong, .multicheckout .block-title>span, .multicheckout .block-content .title>strong, .multicheckout .block-content .title>span, .customer-review .review-details .title>strong, .customer-review .review-details .title>span, .paypal-review .block .block-title>strong, .paypal-review .block .block-title>span, .account .l-main .block:not(.widget) .block-title>strong, .account .l-main .block:not(.widget) .block-title>span, .multicheckout .block-title>strong, .multicheckout .block-title>span, .magento-rma-guest-returns .l-main .block:not(.widget) .block-title>strong, .magento-rma-guest-returns .l-main .block:not(.widget) .block-title>span, [class^='sales-guest-'] .l-main .block:not(.widget) .block-title>strong, [class^='sales-guest-'] .l-main .block:not(.widget) .block-title>span, .sales-guest-view .l-main .block:not(.widget) .block-title>strong, .sales-guest-view .l-main .block:not(.widget) .block-title>span {
  font-size: 20px;
}
.paypal-review .block .block-title>.action, .account .l-main .block:not(.widget) .block-title>.action, .multicheckout .block-title>.action, .magento-rma-guest-returns .l-main .block:not(.widget) .block-title>.action, [class^='sales-guest-'] .l-main .block:not(.widget) .block-title>.action, .sales-guest-view .l-main .block:not(.widget) .block-title>.action {
  margin-left: 15px;
}
.paypal-review .block .box-title, .account .l-main .block:not(.widget) .box-title, .multicheckout .box-title, .magento-rma-guest-returns .l-main .block:not(.widget) .box-title, [class^='sales-guest-'] .l-main .block:not(.widget) .box-title, .sales-guest-view .l-main .block:not(.widget) .box-title {
  display: inline-block;
  margin: 0 0 10px;
}
.block .box-actions {
  margin-top: 5px;
}
.block-addresses-list .items.addresses .item.actions .action:after, .account .data.table .col.actions .action:after, [class^='sales-guest-'] .data.table .col.actions .action:after, .sales-guest-view .data.table .col.actions .action:after, .block .box-actions .action:after {
  border-left: 1px solid #a6a6a6;
  content: '';
  display: inline-block;
  height: 12px;
  margin: 0 10px;
  vertical-align: -1px;
}
.block-addresses-list .items.addresses .item.actions .action:last-child:after, .account .data.table .col.actions .action:last-child:after, [class^='sales-guest-'] .data.table .col.actions .action:last-child:after, .sales-guest-view .data.table .col.actions .action:last-child:after, .block .box-actions .action:last-child:after {
  display: none;
}
.account .table-wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4;
}
.account .table-wrapper:last-child {
  margin-bottom: 0;
}
//magento user responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .abs-margin-for-blocks-and-widgets-desktop, .page-main .block, .customer-review .product-details {
    margin-bottom: 50px;
  }
  .abs-add-clearfix-desktop:before, .abs-add-clearfix-desktop:after, .amazon-addresses:before, .amazon-addresses:after, .paypal-review .block-content:before, .paypal-review .block-content:after, .paypal-review-discount:before, .paypal-review-discount:after, .order-review-form:before, .order-review-form:after, .block-cart-failed .block-content:before, .block-cart-failed .block-content:after, .cart-container:before, .cart-container:after, .login-container:before, .login-container:after, .account .page-title-wrapper:before, .account .page-title-wrapper:after, .account .l-main .block:not(.widget) .block-content:before, .account .l-main .block:not(.widget) .block-content:after, .block-addresses-list .items.addresses:before, .block-addresses-list .items.addresses:after, .block-giftregistry-shared .item-options:before, .block-giftregistry-shared .item-options:after, .data.table .gift-wrapping .nested:before, .data.table .gift-wrapping .nested:after, .data.table .gift-wrapping .content:before, .data.table .gift-wrapping .content:after, .block-wishlist-management:before, .block-wishlist-management:after, .magento-rma-guest-returns .l-main .block.block-order-details-view:before, .magento-rma-guest-returns .l-main .block.block-order-details-view:after, .order-links:before, .order-links:after, .account .l-main .block.block-order-details-view:before, .account .l-main .block.block-order-details-view:after, [class^='sales-guest-'] .l-main .block.block-order-details-view:before, [class^='sales-guest-'] .l-main .block.block-order-details-view:after, .sales-guest-view .l-main .block.block-order-details-view:before, .sales-guest-view .l-main .block.block-order-details-view:after, .page-header .header.panel:before, .page-header .header.panel:after, .header.content:before, .header.content:after {
    content: '';
    display: table;
  }
  .abs-add-clearfix-desktop:after, .amazon-addresses:after, .paypal-review .block-content:after, .paypal-review-discount:after, .order-review-form:after, .block-cart-failed .block-content:after, .cart-container:after, .login-container:after, .account .page-title-wrapper:after, .account .l-main .block:not(.widget) .block-content:after, .block-addresses-list .items.addresses:after, .block-giftregistry-shared .item-options:after, .data.table .gift-wrapping .nested:after, .data.table .gift-wrapping .content:after, .block-wishlist-management:after, .magento-rma-guest-returns .l-main .block.block-order-details-view:after, .order-links:after, .account .l-main .block.block-order-details-view:after, [class^='sales-guest-'] .l-main .block.block-order-details-view:after, .sales-guest-view .l-main .block.block-order-details-view:after, .page-header .header.panel:after, .header.content:after {
    clear: both;
  }
  .abs-blocks-2columns, .abs-discount-block-desktop .block, .amazon-addresses .amazon-address, .login-container .block, .account .l-main .block:not(.widget) .block-content .box, .form-address-edit>.fieldset, .form-edit-account .fieldset, .storecredit .block, .paypal-review-discount .block, .cart-discount .block {
    width: 48%;
  }
  .abs-discount-block-desktop .block:nth-child(1), .amazon-addresses .amazon-address:nth-child(1), .login-container .block:nth-child(1), .account .l-main .block:not(.widget) .block-content .box:nth-child(1), .form-address-edit>.fieldset:nth-child(1), .form-edit-account .fieldset:nth-child(1), .storecredit .block:nth-child(1), .paypal-review-discount .block:nth-child(1), .cart-discount .block:nth-child(1) {
    clear: left;
    float: left;
  }
  .abs-blocks-2columns, .abs-discount-block-desktop .block, .amazon-addresses .amazon-address, .login-container .block, .account .l-main .block:not(.widget) .block-content .box, .form-address-edit>.fieldset, .form-edit-account .fieldset, .storecredit .block, .paypal-review-discount .block, .cart-discount .block {
    width: 48%;
  }
  .abs-discount-block-desktop .block:nth-child(2), .amazon-addresses .amazon-address:nth-child(2), .login-container .block:nth-child(2), .account .l-main .block:not(.widget) .block-content .box:nth-child(2), .form-address-edit>.fieldset:nth-child(2), .form-edit-account .fieldset:nth-child(2), .storecredit .block:nth-child(2), .paypal-review-discount .block:nth-child(2), .cart-discount .block:nth-child(2) {
    float: right;
  }
  .abs-account-table-margin-desktop, .table-wrapper.balance-history, .table-wrapper.reward-history, .table-wrapper.orders-recent {
    margin-top: -25px;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento user responsive css
/*---------- end magento user css ----------*/