/*---------- magento cart css ----------*/
.cart-empty{
  background: $color-white;
  padding: 15px;
  margin-top: 25px;
  text-align: center;
  font-size: 16px;
}
.c-checkout-button{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px;
    }
  }
}
.c-cart-table{
  .item-options{
    margin: 0;
    label{
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      &+label{
        &:before{
          content: ", ";
        }
      }
      b{
        &:after{
          content: ":";
        }
      }
      span{
        font-weight: 400;
      }
    }
  }
}
.c-checkout-box{
  &.discount{
    cursor: default;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    &:focus{
      outline: none;
    }
    div.mage-error{
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: -21px;
      font-size: 12px;
      color: red;
    }
  }
}
.c-cart-total{
  .table{
    &.totals{
      margin-bottom: 0;
      .table-caption{
        display: none;
      }
      tr{
        &.grand.totals{
          border-top: 1px solid $color-border;
          td.amount{
            font-size: 20px;
          }
        }
      }
      th{
        border-top: none;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 400;
      }
      td{
        border-top: none;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 400;
        text-align: right;
      }
      .mark{
        background-color: transparent;
      }
    }
  }
}
.abs-sidebar-totals .table-caption, .sidebar .subtitle, .cart-summary .block .fieldset.estimate>.legend, .cart-summary .block .fieldset.estimate>.legend+br, .minicart-items .product-item-details .weee[data-label] .label, .page-product-giftcard .fieldset.giftcard>.legend+br, .order-details-items .order-items .order-gift-message .action.close, .multicheckout .block .methods-shipping .item-content .fieldset>.legend+br, .multicheckout .hidden, [class^='multishipping-'] .nav-sections, [class^='multishipping-'] .nav-toggle, .no-display, .cart-totals .table-caption, .opc-block-summary .table-totals .table-caption{
  display: none;
}
.abs-cart-block>.title, .minicart-items .product .toggle, .abs-discount-block .block>.title, .cart-summary .block>.title, .paypal-review-discount .block>.title, .cart-discount .block>.title{
  border-top: 1px solid $color-border;
  cursor: pointer;
  margin-bottom: 0;
  position: relative;
  padding: 10px 40px 10px 15px;
  display: block;
  text-decoration: none;
  &:focus{
    outline: none;
  }
}
.abs-toggling-title:after, .abs-cart-block>.title:after, .minicart-items .product .toggle:after, .abs-discount-block .block>.title:after, .cart-summary .block>.title:after, .paypal-review-discount .block>.title:after, .cart-discount .block>.title:after{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 14px;
  color: inherit;
  content: '\f107';
  font-family: $font-awesome-5-free;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  font-weight: 900;
  overflow: hidden;
  speak: none;
  text-align: center;
}
.abs-discount-block .block>.title:after, .cart-summary .block>.title:after, .paypal-review-discount .block>.title:after, .cart-discount .block>.title:after{
  color: #858585;
}
.abs-cart-block>.title:after, .minicart-items .product .toggle:after, .abs-discount-block .block>.title:after, .cart-summary .block>.title:after, .paypal-review-discount .block>.title:after, .cart-discount .block>.title:after{
  position: absolute;
  right: 3px;
  top: 10px;
}
.abs-cart-block.active>.title:after, .abs-discount-block .block.active>.title:after, .cart-summary .block.active>.title:after, .paypal-review-discount .block.active>.title:after, .cart-discount .block.active>.title:after{
  content: '\f106';
}
.cart-summary{
  background: $color-white;
  padding: 1px 15px 25px;
  margin-bottom: 25px;
  margin-left: -15px;
  margin-right: -15px;
  >.title{
    font-size: 20px;
    display: none;
    font-weight: 400;
    margin: 10px 0;
  }
  .c-cart-total{
    border: none;
    background: transparent;
    padding: 0;
  }
  .c-checkout-button{
    padding-bottom: 0;
    ul{
      li{
        display: block;
        margin: 0 0 5px;
        &:last-child{
          margin: 0;
        }
      }
    }
    .btn{
      width: 100%;
      display: block;
    }
  }
  .block{
    >.title{
      padding-left: 0;
      border-top: none;
    }
    .fieldset{
      .field{
        margin: 0 0 15px;
        .input-text{
          width: 100%;
        }
        .select{
          width: 100%;
        }
      }
    }
  }
}
//magento cart responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .cart-empty{
    padding: 20px;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .cart-empty{
    padding: 25px;
  }
  .abs-shopping-cart-items-desktop, .block-cart-failed, .cart-container .form-cart, .cart-container .cart-gift-item{
    width: 75%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    padding-right: 4%;
    position: relative;
  }
  .c-checkout-box{
    &.discount{
      width: 75%;
      float: left;
    }
  }
  .c-cart-total{
    .table{
      &.totals{
        th{
          font-size: 12px;
        }
        td{
          font-size: 12px;
        }
      }
    }
  }
  .cart-summary{
    width: 25%;
    float: right;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    padding: 1px 20px 25px;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    >.title{
      display: block;
    }
    .block{
      >.title{
        border-top: 1px solid $color-border;
        &:after{
          right: 3px;
        }
      }
      .fieldset{
        .field{
          margin: 0 0 10px;
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento cart responsive css
/*---------- end magento cart css ----------*/