/*---------- magento authentication css ----------*/
.authentication-wrapper{
  position: relative;
  z-index: 10;
  text-align: right;
  padding-bottom: 15px;
  .action-auth-toggle{
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16px;
    text-decoration: none;
    color: $color-blue;
    background: transparent;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
}
.authentication-dropdown {
  box-sizing: border-box;
  .modal-header{
    padding: 0;
    border-bottom: none;
  }
  .modal-content{
    background: transparent;
    border: none;
    @include border-radius(0);
  }
}
body._has-modal-custom .modal-custom-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 899;
}
.authentication-dropdown .modal-inner-wrap {
  padding: 25px;
}
.block-authentication{
  text-align: left;
}
.block-authentication .block-title {
  font-size: 18px;
  border-bottom: 0;
  margin-bottom: 20px;
}
.block-authentication .block[class] .field .control, .block-authentication .block[class] .field .label {
  float: none;
  width: auto;
}
.block-authentication .actions-toolbar > .secondary {
  padding-top: 25px;
  text-align: left;
}
//magento authentication responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .authentication-wrapper {
   padding-bottom: 0;
  }
  .authentication-dropdown {
    background-color: #ffffff;
    border: 1px solid #aeaeae;
    -webkit-transform: scale(1, 0);
    -webkit-transform-origin: 0 0;
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0.1s;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: scale(1, 0);
    transform-origin: 0 0;
    transition: transform linear .1s, visibility 0s linear .1s;
    visibility: hidden;
    width: 100%;
  }
  .authentication-dropdown._show {
    z-index: 100;
    -webkit-transform: scale(1, 1);
    -webkit-transition: -webkit-transform linear 0.1s, visibility 0s linear 0s;
    transform: scale(1, 1);
    transition: transform linear .1s, visibility 0s linear 0s;
    visibility: visible;
  }
  .block-authentication .block-title {
    font-size: 20px;
    border-bottom: 0;
    margin-bottom: 20px;
  }
  .block-authentication .actions-toolbar > .primary {
    display: inline;
    float: right;
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .primary .action {
    margin-right: 0;
  }
  .block-authentication .actions-toolbar > .secondary {
    float: left;
    margin-right: 2rem;
    padding-top: 1rem;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (max-width: 767px){
  .checkout-shipping-method .actions-toolbar {
    margin-top: 0;
  }
  .custom-slide {
    //bottom: 0;
    //left: 0;
    //min-width: 0;
    //position: initial;
    //right: 0;
    //top: 0;
    //visibility: hidden;
    //opacity: 0;
    //-webkit-transition: visibility 0s .3s, opacity .3s ease;
    //transition: visibility 0s .3s, opacity .3s ease;
    //left: 44px;
    //z-index: 900;
  }
  .custom-slide._show {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
  }
  .custom-slide._show {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .custom-slide .modal-inner-wrap {
    background-color: #ffffff;
    //box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.35);
    opacity: 1;
    pointer-events: auto;
    border-radius: 3px;
  }
  .custom-slide .modal-inner-wrap {
    //height: 100%;
    //overflow-y: auto;
    //position: static;
    //-webkit-transform: translateX(100%);
    //transform: translateX(100%);
    //-webkit-transition: -webkit-transform 0.3s ease-in-out;
    //transition: transform 0.3s ease-in-out;
    //width: auto;
  }
  .custom-slide .modal-inner-wrap {
    background-color: #fff;
    box-sizing: border-box;
    height: auto;
    min-height: 100%;
  }
  .custom-slide._show .modal-inner-wrap {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .custom-slide._show .modal-inner-wrap {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
//end magento authentication responsive css
/*---------- end magento authentication css ----------*/