/*---------- magento invoice css ----------*/
.order-details-items{
  .order-title{
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    strong {
      font-size: 20px;
      font-weight: 500;
      color: #212529;
    }
  }
}
.order-items{
  .table{
    .col{
      width: auto;
    }
    .table-caption{
      display: none;
    }
  }
  .table thead th {
    border-bottom: none;
    vertical-align: middle;
    border-bottom: none;
  }
  .table tbody tr{
    &:first-child{
      th, td{
        border-top: none;
      }
    }
  }
  .table tfoot th{
    &.mark{
      background-color: transparent;
    }
  }
}
.order-links{
  display: none !important;
}
.block-order-details-view{
  padding-top: 15px;
  .block-title{
    padding-bottom: 5px;
    margin-bottom: 10px;
    strong {
      font-size: 24px;
      font-weight: 500;
      color: #212529;
    }
  }
}
.box-order-shipping-address .box-order-shipping-method, .box-order-billing-address , .box-order-billing-method{
  margin-bottom: 15px;
  .box-title{
    padding-bottom: 5px;
    margin-bottom: 10px;
    span {
      font-size: 22px;
      font-weight: 500;
      color: #212529;
    }
  }
  .box-content{
    font-size: 16px;
    .box-actions{
      a{
        font-size: 16px;
      }
    }
  }
}
//magento invoice responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento invoice responsive css
/*---------- end magento invoice css ----------*/