/*---------- magento detail css ----------*/
.swatch-option {
  /* width: 30px; */
  padding: 1px 2px;
  min-width: 30px;
  max-width: 90px;
  height: 30px;
  margin: 0 10px 5px 0;
  text-align: center;
  cursor: pointer;
  position: relative;
  border: 1px solid rgb(218, 218, 218);
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.swatch-option.text {
  background: #F0F0F0;
  color: #686868;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  padding: 4px 12px;
  min-width: 22px;
  margin-right: 7px;
}
.swatch-option.selected {
  outline: 2px solid #ff5501;
  border: 1px solid #fff;
  color: #333;
}
.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
  background: rgb(240, 240, 240);
  color: rgb(148, 148, 148);
}
.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected {
  color: black;
  background: #fff;
  border: 1px solid #fff;
}
.swatch-attribute.image{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.swatch-option:not(.disabled):hover {
  outline: 1px solid #999;
  border: 1px solid #fff;
  color: #333;
}
.swatch-option.image:not(.disabled):hover, .swatch-option.color:not(.disabled):hover {
  outline: 2px solid #ee0000;
  border: 1px solid #fff;
}
//magento detail responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end magento detail responsive css
/*---------- end magento detail css ----------*/