﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="l-layout">
    <div class="container">
        <div class="c-product-head">
            <div class="c-product-head__row"><h1 class="c-product-head__title">Đầm Dự Tiệc Cưới Ren Thêu Sang Đẹp Cao Cấp ANN995 - ANN995</h1></div>
            <div class="c-product-head__row">
                <h2 class="c-product-head__desc">Mã sản phẩm: <span class="text-link">Ann995</span> | Thương hiệu: <span class="text-link">Equipment</span> | Model: <span class="text-link">F1J03A#B1H</span> | Rating: <div class="c-rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span> (5 sao)</div></h2>
            </div>
        </div>
        <div class="clearfix">
            <div class="c-product-main clearfix">
                <div class="clearfix c-product-outer">
                    <div class="c-product-left">
                        <div class="c-product-image">
                            <div class="b-table">
                                <div class="b-table__row"><div class="b-table__cell"><img src="upload/product-big_1.jpg" alt="product" /></div></div>
                            </div>
                        </div>
                        <div class="c-product-thumb">
                            <div id="product-thumb-id" class="owl-carousel">
                                @*<div class="c-thumb-item is-active">
            <a href="upload/product-big_1.jpg"><img src="upload/product-big_1.jpg" alt="img" /></a>
        </div><!-- c-thumb-item -->
        <div class="c-thumb-item">
            <a href="upload/product-big_2.jpg"><img src="upload/product-big_2.jpg" alt="img" /></a>
        </div><!-- c-thumb-item -->
        <div class="c-thumb-item">
            <a href="upload/product-big_3.jpg"><img src="upload/product-big_3.jpg" alt="img" /></a>
        </div><!-- c-thumb-item -->
        <div class="c-thumb-item">
            <a href="upload/product-big_4.jpg"><img src="upload/product-big_4.jpg" alt="img" /></a>
        </div><!-- c-thumb-item -->
        <div class="c-thumb-item">
            <a href="upload/product-big_5.jpg"><img src="upload/product-big_5.jpg" alt="img" /></a>
        </div><!-- c-thumb-item -->
        <div class="c-thumb-item">
            <a href="upload/product-big_2.jpg"><img src="upload/product-big_2.jpg" alt="img" /></a>
        </div>*@<!-- c-thumb-item -->
                            </div><!-- owl-carousel -->
                    </div><!-- c-product-thumb-->
                                        <div class="c-product-facebook">
                                <img src="images/facebook_like_share.png" alt="facebook">
                            </div>
                        </div><!-- c-product-left -->
                    <div class="c-product-center">
                        <div class="c-product-center__row">
                            <label class="c-product-center__label">Giá:</label>
                            <div class="c-product-center__text"><span class="c-product-center__price">250,000 <sup>đ</sup></span></div>
                        </div>
                        <div class="c-product-center__row">
                            <label class="c-product-center__label">Giá cũ:</label>
                            <div class="c-product-center__text"><span class="c-product-center__oldprice">500,000 <sup>đ</sup></span></div>
                        </div>
                        <div class="c-product-center__row">
                            <label class="c-product-center__name">Mô tả:</label>
                        </div>
                        <div class="c-product-center__row">
                            Chất ren thêu nhập không co giãn, form thoải mái gọn tôn dáng 3 vòng che đi những khuyết điểm không hoàn hảo của cơ thể
                        </div>
                        <div class="c-product-center__line"></div>
                        <div class="c-product-center__row">
                            <p class="c-product-center__check"><i class="fas fa-check"></i>Đảm bảo hàng rõ nguồn gốc, xuất xứ</p>
                            <p class="c-product-center__check"><i class="fas fa-check"></i>Thời gian giao hàng nhanh chóng, thuận tiện, <a class="c-product-center__desc-btn" href="#tab1">Xem chi tiết</a>.</p>
                        </div>
                        <div class="c-product-center__line"></div>
                        <form>
                            <div class="c-product-center__row">
                                <label class="c-product-center__label is-form-label">Màu sắc:</label>
                                <div class="c-product-center__text">
                                    <div class="c-product-center__select">
                                        <select class="form-control" name="">
                                            <option>Chọn màu</option>
                                            <option>Đỏ</option>
                                            <option>Trắng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="c-product-center__row swatch-attribute size">
                                <label class="c-product-center__label is-form-label">Kích cỡ:</label>
                                <div class="c-product-center__text">
                                    <div class="swatch-attribute-options">
                                        <div class="swatch-option text selected">S</div>
                                        <div class="swatch-option text">L</div>
                                        <div class="swatch-option text">M</div>
                                    </div><!-- swatch-attribute-options -->
                                </div>
                            </div>
                            <div class="c-product-center__row swatch-attribute color">
                                <label class="c-product-center__label is-form-label">Màu sắc:</label>
                                <div class="c-product-center__text">
                                    <div class="swatch-attribute-options">
                                        <div class="swatch-option color selected" style="background-image: url('upload/pink.png');"></div>
                                        <div class="swatch-option color" style="background-image: url('upload/orange.png');"></div>
                                        <div class="swatch-option color" style="background-image: url('upload/red.png');"></div>
                                    </div><!-- swatch-attribute-options -->
                                </div>
                            </div>
                            <div class="c-product-center__row">
                                <label class="c-product-center__label is-form-label">Số lượng:</label>
                                <div class="c-product-center__text">
                                    <div class="c-product-center__number">
                                        <input type="number" class="form-control" min="1" value="1" />
                                    </div>
                                </div>
                            </div>
                            <div class="c-product-center__row">
                                <div class="c-product-center__ship clearfix">
                                    <img src="images/freeship.png" alt="shipping">
                                    <span>Giao hàng an toàn và tin cậy cùng với Giao hàng nhanh</span>
                                </div>
                            </div>
                            <div class="c-product-center__row c-product-center__button">
                                <button class="btn btn-primary btn-lg text-uppercase" type="submit">Mua ngay</button>
                            </div>
                        </form>
                    </div><!-- c-product-center -->
                </div><!-- clearfix -->
                <div class="c-tabs">
                    <div class="c-tabs__title">
                        <ul>
                            <li class="active"><a href="#tab1">Thông số chi tiết</a></li>
                            <li><a href="#tab2">Mô tả chi tiết</a></li>
                        </ul>
                    </div><!-- c-tabs__title -->
                    <div class="c-tabs__container">
                        <div class="c-tabs__pane active" id="tab1">
                            <div class="c-product-spec">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        @*<tr>
                                            <td>Chất vải</td>
                                            <td><div class="c-product-spec__text">Ren thêu.</div></td>
                                        </tr>
                                        <tr>
                                            <td>Chiều dài váy</td>
                                            <td><div class="c-product-spec__text">Qua gối.</div></td>
                                        </tr>
                                        <tr>
                                            <td>Chiều dài tay áo</td>
                                            <td><div class="c-product-spec__text">Tay lửng.</div></td>
                                        </tr>
                                        <tr>
                                            <td>Kiểu cổ áo</td>
                                            <td><div class="c-product-spec__text">Cổ vuông.</div></td>
                                        </tr>
                                        <tr>
                                            <td>Họa tiết</td>
                                            <td><div class="c-product-spec__text">Hoa lá.</div></td>
                                        </tr>
                                        <tr>
                                            <td>Phong cách</td>
                                            <td><div class="c-product-spec__text">Nhẹ nhàng.</div></td>
                                        </tr>*@
                                    </table>
                                </div>
                            </div><!-- c-product-spec -->
                        </div><!-- c-tabs__pane -->
                    </div><!-- c-tabs__container -->
                    <div class="c-tabs__title">
                        <ul>
                            <li><a href="#tab1">Thông số chi tiết</a></li>
                            <li class="active"><a href="#tab2">Mô tả chi tiết</a></li>
                        </ul>
                    </div><!-- c-tabs__title -->
                    <div class="c-tabs__container">
                        <div class="c-tabs__pane active" id="tab2">
                            <div class="b-maincontent">
                               
                            </div><!-- b-maincontent -->
                        </div><!-- c-tabs__pane -->
                    </div><!-- c-tabs__container -->
                </div><!-- c-tabs -->
            </div><!-- c-product-main -->
            <div class="c-product-sidebar">
                <div class="c-panel">
                    <div class="c-panel__title"><div class="c-panel__title__name">Sản phẩm bán chạy</div></div>
                    <div class="c-panel__content">
                        <div class="c-product-other js-match-height">
                            <ul class="clearfix">
                                @*<li>
            <div class="c-product-item">
                <div class="c-product-item__thumb">
                    <div class="c-tag-countdown active"><span class="day">0</span><span class="hour">5</span><span class="minute">15</span><span class="second">15</span></div>
                    <a href="#">
                        <img src="upload/product_1.jpg" alt="image" />
                        <span class="c-tagsale">-20%</span>
                    </a>
                </div>
                <div class="c-product-item__content">
                    <div class="c-product-item__row">
                        <a class="c-product-item__title" href="#">Combo 5 khăn tắm Hàn Quốc nhiều màu sắc</a>
                    </div>
                    <div class="c-product-item__row">
                        <span class="c-product-item__price">83.000 đ</span>
                        <span class="c-product-item__oldprice">95.000 đ</span>
                    </div>
                    <div class="c-sold">
                        <label class="c-sold__text">Đã bán 10/30</label>
                        <span class="c-sold__bar" style="width: 33.33%"></span>
                    </div>
                </div>
            </div><!-- c-product-item -->
        </li>
        <li>
            <div class="c-product-item">
                <div class="c-product-item__thumb">
                    <a href="#">
                        <img src="upload/product_2.jpg" alt="image" />
                        <span class="c-tagsale">-20%</span>
                    </a>
                </div>
                <div class="c-product-item__content">
                    <div class="c-product-item__row">
                        <a class="c-product-item__title" href="#">Đầm Jean Khóa Kéo THỜI TRANG TỪ 42-70KG đủ size m,l,xl,xxl CHJ1 - CHJ1</a>
                    </div>
                    <div class="c-product-item__row">
                        <span class="c-product-item__price">83.000 đ</span>
                        <span class="c-product-item__oldprice">95.000 đ</span>
                    </div>
                </div>
            </div><!-- c-product-item -->
        </li>
        <li>
            <div class="c-product-item">
                <div class="c-product-item__thumb">
                    <a href="#">
                        <img src="upload/product_7.jpg" alt="image" />
                    </a>
                </div>
                <div class="c-product-item__content">
                    <div class="c-product-item__row">
                        <a class="c-product-item__title" href="#">Quần baggy jeans lưng thun mài rách phong cách - HN007</a>
                    </div>
                    <div class="c-product-item__row">
                        <span class="c-product-item__price">83.000 đ</span>
                    </div>
                </div>
            </div><!-- c-product-item -->
        </li>
        <li>
            <div class="c-product-item">
                <div class="c-product-item__thumb">
                    <a href="#">
                        <img src="upload/product_9.jpg" alt="image" />
                    </a>
                </div>
                <div class="c-product-item__content">
                    <div class="c-product-item__row">
                        <a class="c-product-item__title" href="#">Thắt lưng da nam phong cách Hàn Quốc S3 - 427</a>
                    </div>
                    <div class="c-product-item__row">
                        <span class="c-product-item__price">83.000 đ</span>
                    </div>
                </div>
            </div><!-- c-product-item -->
        </li>
                                *@
                            </ul>
                        </div>
                    </div><!-- c-panel__content -->
                </div><!-- c-panel -->
            </div><!-- c-product-sidebar -->
        </div><!-- clearfix -->
     
    </div><!-- container -->
</div><!-- l-layout -->
