﻿@using ShoesSHop.Models;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Template" />
    <meta name='COPYRIGHT' content='&copy; Template' />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="google" content="notranslate" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <meta property="og:locale" content="vi_VN" />
    <meta property="og:url" content="website link" />
    <meta property="og:image" content="image description" />
    <meta property="og:description" content="website description" />
    <meta property="og:site_name" content="website name" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/css/cloudzoom.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/style.min.css?v=1.2" rel="stylesheet" />
    <link href="~/Content/css/custom.css?v=1" rel="stylesheet" />

</head>
<body>
    <div class="l-nav">
        <div class="c-nav-top">
            <div class="container">
                <div class="c-menu-top">
                    <ul>
                        <li><a href="#"><i class="fas fa-clipboard"></i><span class="c-menu-top__text">Kiểm tra đơn hàng</span></a></li>                       
                        <li><a href="@Url.Action("Index", "Login")"><i class="fas fa-user"></i><span class="c-menu-top__text">Tài khoản</span></a></li>
                    </ul>
                </div>
            </div><!-- container -->
        </div><!-- c-nav-top -->
        <div class="container">
            <div class="c-header-inner">
                <button type="button" class="c-menu-expand js-menu-mobile"></button>
                <div class="c-logo"><a href="@Url.Action("Index","Home")"><img src="~/Content/images/logo.png" alt="logo" /></a></div>
                <div class="c-search">
                    <div class="c-search__inner">
                        <input type="text" class="form-control" name="" placeholder="Nhập sản phẩm bạn muốn tìm" />
                        <button type="submit" class="c-search__btn"><i class="fas fa-search"></i></button>
                    </div>
                </div><!-- c-search -->
                <div class="c-cart-url">
                    <a href="@Url.Action("Cart1","Cart")"><i class="fas fa-shopping-cart"></i><span class="c-cart-url__text">Giỏ hàng</span> (0)</a>
                    <div class="c-dropdown-menu is-circle is-right">
                        <div class="c-cart-popout">
                            <div class="c-cart-popout__row">
                                <p>
                                    <span class="label">0 sản phẩm</span>
                                    <span class="price">0 VND</span>
                                </p>
                                <a class="btn btn-secondary text-uppercase btn-block" href="@Url.Action("Cart1","Cart")">Thanh toán ngay</a>
                            </div>
                            <div class="c-cart-popout__row">
                                <div class="c-cart-small">
                                    <div class="b-nodata">Giỏ hàng chưa có sản phẩm</div>
                                </div><!-- c-cart-small -->
                            </div>
                            <div class="c-cart-popout__row is-btn">
                                <a class="c-cart-popout__edit" href="#">Quản lý giỏ hàng</a>
                            </div>
                        </div><!-- c-cart-popout -->
                    </div><!-- c-dropdown-menu -->
                </div><!-- c-cart-url -->
                <a class="btn btn-secondary text-uppercase btn-payment-url" href="#">Thanh toán</a>
                <div class="c-app-ovelay js-app-ovelay"></div>
                <div class="c-alias">
                    <div class="c-alias__btn"><button type="button" class="c-menu-expand js-menu-pc"></button></div>
                    <div class="c-alias__expand js-match-height">
                        <span class="c-alias-close js-alias-close"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <ul>

                            @*@foreach (danhmuc item in @ViewBag.danhmuc)
                            {
                                <li>
                                    <a href="#"><img src="~/Content/upload/dm1.png" alt="icon" />@item.tendanhmuc<i class="c-alias-mobile__expand-sub fa fa-plus"></i></a>
                                </li>
                            }*@


                        </ul>
                    </div><!-- c-alias__expand -->
                </div><!-- c-alias -->
            </div><!-- c-header-inner -->
        </div><!-- container -->
    </div><!-- l-nav -->
    <div class="c-breadcrumb-outer">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@ViewBag.Breadcumb</li>
            </ol>
        </div><!-- container -->
    </div><!-- c-breadcrumb-outer -->

    @RenderBody()

    <div class="c-footer-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="c-footer-label">Liên hệ<i class="fas fa-plus"></i></div>
                    <div class="c-footer-content">
                        <div class="b-maincontent">
                            <p><b>Địa chỉ:</b>địa chỉ cửa hàng</p>
                            <p><b>Điện thoại:</b>00000000000</p>
                            <p><b>Email:</b> laminhduc2610@gmail.com</p>
                        </div>
                        <div class="c-verify"><a href="#"><img src="~/Content/images/bct.png" alt="bct" /></a></div>
                    </div><!-- c-footer-content -->
                </div><!-- col -->
                <div class="col-lg-3">
                    <div class="c-footer-label">Dành cho khách hàng<i class="fas fa-plus"></i></div>
                    <div class="c-footer-content">
                        <ul class="c-footer-list">
                            <li><a href="#">Giải quyết khiếu nại</a></li>
                            <li><a href="#">Hướng dẫn mua hàng</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chăm sóc khách hàng</a></li>
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div><!-- c-footer-content -->
                </div><!-- col -->
                <div class="col-lg-3">
                    <div class="c-footer-label">Dành cho đối tác<i class="fas fa-plus"></i></div>
                    <div class="c-footer-content">
                        <div class="c-footer-partner"><a href="#"><img src="~/Content/images/partner.png" alt="image" /></a></div>
                    </div><!-- c-footer-content -->
                </div><!-- col -->
                <div class="col-lg-3">
                    <div class="c-footer-label">Kết nối chúng tôi<i class="fas fa-plus"></i></div>
                    <div class="c-footer-content">
                        <div class="c-fanpage"><img src="~/Content/upload/fanpage.png" alt="fanpage" /></div>
                    </div><!-- c-footer-content -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- c-footer-main -->
    <div class="c-footer-bottom">
        <div class="container">
            <div class="c-copyright">Copyright © 2019</div>
        </div><!-- container -->
    </div><!-- c-footer-bottom -->

    <div class="c-gotop"><i class="fas fa-chevron-up"></i></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/staticjs/jquery-3.3.1.min.js"></script>
    <script src="~/Content/staticjs/jquery-migrate-1.4.1.js"></script>
    <script src="~/Content/staticjs/popper.min.js"></script>
    <script src="~/Content/staticjs/bootstrap.min.js"></script>
    <script src="~/Content/staticjs/owl.carousel.min.js"></script>
    <script src="~/Content/staticjs/jquery.matchHeight-min.js"></script>
    <script src="~/Content/staticjs/jquery.mousewheel-3.0.6.pack.js"></script>
    <script src="~/Content/staticjs/jquery.slimscroll.js"></script>
    <script src="~/Content/staticjs/cloudzoom.js"></script>
    <script src="~/Content/staticjs/jquery.fancybox.js"></script>
    <script src="~/Content/staticjs/function.js"></script>
    <script src="~/Content/staticjs/style.js"></script>

</body>
</html>