﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="l-layout">
    <div class="container">
        <div class="c-browse-title"><h1>Giỏ hàng</h1></div>
        <div class="c-cart-box">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <div class="c-checkout-box">
                        <div class="c-checkout-box__title">Địa chỉ giao hàng</div>
                        <div class="c-checkout-box__content">
                            <div class="b-form">
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Họ của bạn <span class="text-danger">*</span></label>
                                            <input type="text" required class="form-control" placeholder="VD: Nguyễn Văn" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Tên của bạn <span class="text-danger">*</span></label>
                                            <input type="text" required class="form-control" placeholder="VD: A" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email của bạn <span class="text-danger">*</span></label>
                                            <input type="text" required class="form-control" placeholder="VD: nguyenvana@gmail.com" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Số điện thoại <span class="text-danger">*</span></label>
                                            <input type="text" required class="form-control" placeholder="VD: 0912345678" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Tỉnh/ Thành phố <span class="text-danger">*</span></label>
                                    <input type="text" required class="form-control" placeholder="VD: Hà Nội" />
                                </div>
                                <div class="form-group _error">
                                    <label>Địa chỉ giao hàng <span class="text-danger">*</span></label>
                                    <input type="text" required class="form-control" placeholder="VD: Số 1 Trần Duy Hưng" />
                                    <div class="field-error">Địa chỉ giao hàng để trống.</div>
                                </div>
                                <div class="form-group">
                                    <label>Lưu ý</label>
                                    <textarea required="false" class="form-control" rows="3" placeholder="VD: Giao trong giờ hành chính"></textarea>
                                </div>
                            </div>
                        </div><!-- c-checkout-box__content -->
                    </div><!-- c-checkout-box -->
                    <div class="c-checkout-box">
                        <div class="c-checkout-box__title">Phương thức vận chuyển</div>
                        <div class="c-checkout-box__content">
                            <form class="b-form">
                                <div class="check-box-row">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">
                                            <b class="check-box-row__title">Giao hàng miễn phí</b>
                                            <span class="check-box-row__price">0 Đ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="c-checkout-button"><a class="btn btn-primary btn-lg text-uppercase" href="@Url.Action("CartAddress","Cart")">Tiếp theo</a></div>
                            </form>
                        </div><!-- c-checkout-box__content -->
                    </div><!-- c-checkout-box -->
                </div><!-- col -->
                <div class="col-lg-4 col-xl-3 ml-auto">
                    <div class="c-cart-total">
                        <div class="c-cart-total__name">3 sản phẩm</div>
                        <div class="c-cart-total__row clearfix">
                            <div class="c-cart-small">
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_1.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Combo 5 khăn tắm Hàn Quốc nhiều màu sắc</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_2.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Đầm Jean Khóa Kéo THỜI TRANG TỪ 42-70KG đủ size m,l,xl,xxl CHJ1 - CHJ1</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_3.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Xịt Chống Nắng Hàn Quốc Sun Screen V7 200ml - sunscreen22</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                            </div><!-- c-cart-small -->
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <p>
                                <span class="label">Giảm trừ</span>
                                <span class="price">-</span>
                            </p>
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <span class="label">Tổng</span>
                            <span class="price">8.700.000 VND</span>
                        </div>
                    </div><!-- c-cart-total -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- c-cart-box -->
    </div><!-- container -->
</div><!-- l-layout -->