﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using ShoesSHop.Models;
@model List<Size_SP_Chitietdonhang>


<div class="l-layout">
    <div class="container">
        <div class="c-browse-title"><h1>Giỏ hàng</h1></div>
        <div class="c-cart-box">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <div class="c-cart-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="col1">Sản phẩm<span class="c-cart-table__col-pc">Giá</span></th>
                                    <th class="col2 text-right">Thành tiền</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                
                                @foreach (var item in Model)
                                {
                                    var ThanhTien = @item.soluong * @item.giaban;
                                    <tr>
                                        <td class="col1">
                                            <div class="b-grid">
                                                <div class="b-grid__img"><a href="#"><img src="@item.hinhanh" alt="product" /></a></div>
                                                <div class="b-grid__content">
                                                    <ul class="clearfix">
                                                        <li>
                                                            <div class="b-grid__row"><a class="b-grid__title" href="#"></a>@item.tensanpham</div>
                                                            <div class="b-grid__row">@item.kichco1</div>
                                                        </li>
                                                        <li>
                                                            <div class="b-grid__row"><span class="price" id="price"+@item.idsanpham  >@item.giaban</span></div>
                                                        </li>
                                                        <li class="full">
                                                            <div class="b-grid__row"><label>Số lượng</label><input class="form-control b-grid__number" type="number" min="0" value="@item.soluong" /></div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col2">
                                            <span class="price">@ThanhTien</span>
                                            <button class="remove" type="button" name=""><i class="far fa-trash-alt"></i></button>
                                        </td>
                                    </tr>
                                }



               


                            </tbody>
                            <tfoot>
                                <tr><td colspan="2" class="text-right"><button type="button" class="btn btn-secondary">Cập nhập giỏ hàng</button></td></tr>
                            </tfoot>
                        </table>
                    </div><!-- c-cart-table -->
                    <div class="c-checkout-box">
                        <div class="c-checkout-box__title">Nhập mã giảm giá</div>
                        <div class="c-checkout-box__content">
                            <div class="c-coupon-box">
                                <div class="input-group">
                                    <input type="text" name="" class="form-control" placeholder="Mã giảm giá" />
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button">Áp dụng</button>
                                    </div>
                                </div>
                            </div>
                        </div><!-- c-checkout-box__content -->
                    </div><!-- c-checkout-box -->
                </div><!-- col -->
                <div class="col-lg-4 col-xl-3 ml-auto">
                    <div class="c-cart-total">
                        <div class="c-cart-total__name">3 sản phẩm</div>
                        <div class="c-cart-total__row clearfix">
                            <span class="label">Tổng</span>
                            <span class="price">@ViewBag.TongTien</span>
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <div class="text-right">
                                <p>Đã bao gồm thuế VAT 10%</p>
                            </div>
                            <div class="c-cart-total__btn">
                                <a class="btn btn-light text-uppercase is-cicle" href="@Url.Action("Index","Home")">Mua thêm</a>
                                <a class="btn btn-primary text-uppercase is-cicle" href="@Url.Action("CartAddress","Cart")">Thanh toán</a>
                            </div>
                        </div>
                    </div><!-- c-cart-total -->
                    <div class="c-cart-hotline">Hotline: 0888 230 788</div>
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- c-cart-box -->
    </div><!-- container -->
</div><!-- l-layout -->