﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="l-layout">
    <div class="container">
        <div class="c-browse-title"><h1>Giỏ hàng</h1></div>
        <div class="c-cart-box">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <div class="c-checkout-box">
                        <div class="c-checkout-box__title">Địa chỉ giao hàng</div>
                        <div class="c-checkout-box__content">
                            <div class="c-address-list clearfix">
                                <div class="c-address-item selected-item">
                                    Veronica Costello
                                    <br />6146 Honey Bluff Parkway
                                    <br />Calder, Michigan 49628-7978
                                    <br />United States
                                    <br /><a href="#">(555) 229-3326</a>
                                </div><!-- c-address-item -->
                                <div class="c-address-item not-selected-item">
                                    Veronica Costello
                                    <br />823 41st street
                                    <br />Brooklyn, New York 11232
                                    <br />United States
                                    <br /><a href="#">5757402615</a>
                                    <br /><button type="button" class="btn btn-primary btn-sm">Chọn</button>
                                </div><!-- c-address-item -->
                                <div class="c-address-item not-selected-item">
                                    Veronica Costello
                                    <br />dsfsdfsdf
                                    <br />fdsfsdf, Federated States Of Micronesia 12345-6789
                                    <br />United States
                                    <br /><a href="#">324234</a>
                                    <br /><button type="button" class="btn btn-primary btn-sm">Chọn</button>
                                </div><!-- c-address-item -->
                            </div><!-- c-address-list -->
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modalAddress"  id="myButton" >Thêm địa chỉ</button>
                        </div><!-- c-checkout-box__content -->
                    </div><!-- c-checkout-box -->
                    <div class="c-checkout-box">
                        <div class="c-checkout-box__title">Phương thức vận chuyển</div>
                        <div class="c-checkout-box__content">
                            <form class="b-form">
                                <div class="check-box-row">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                        <label class="form-check-label" for="inlineRadio1">
                                            <b class="check-box-row__title">Giao hàng miễn phí</b>
                                            <span class="check-box-row__price">0 Đ</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="c-checkout-button"><a class="btn btn-primary btn-lg text-uppercase" href="@Url.Action("Cart3","Cart")">Tiếp theo</a></div>
                            </form>
                        </div><!-- c-checkout-box__content -->
                    </div><!-- c-checkout-box -->
                </div><!-- col -->
                <div class="col-lg-4 col-xl-3 ml-auto">
                    <div class="c-cart-total">
                        <div class="c-cart-total__name">3 sản phẩm</div>
                        <div class="c-cart-total__row clearfix">
                            <div class="c-cart-small">
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_1.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Combo 5 khăn tắm Hàn Quốc nhiều màu sắc</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_2.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Đầm Jean Khóa Kéo THỜI TRANG TỪ 42-70KG đủ size m,l,xl,xxl CHJ1 - CHJ1</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_3.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Xịt Chống Nắng Hàn Quốc Sun Screen V7 200ml - sunscreen22</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                            </div><!-- c-cart-small -->
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <p>
                                <span class="label">Giảm trừ</span>
                                <span class="price">-</span>
                            </p>
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <span class="label">Tổng</span>
                            <span class="price">8.700.000 VND</span>
                        </div>
                    </div><!-- c-cart-total -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- c-cart-box -->
    </div><!-- container -->
</div>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        window.location.href = "/Cart/Cart2";
    };
</script>
