﻿@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="l-layout">
    <div class="container">
        <div class="c-browse-title"><h1>Giỏ hàng</h1></div>
        <div class="c-cart-box">
            <div class="row">
                <div class="col-lg-8 col-xl-8">
                    <div class="c-checkout-box">
                        <div class="c-checkout-box__title">Phương thức thanh toán</div>
                        <div class="c-checkout-box__content">
                            <div class="c-payments">
                                <form>
                                    <div class="c-payment">
                                        <div class="c-payment__title">
                                            <input id="nganluong" name="payment[method]" type="radio" class="radio js-payment-radio" />
                                            <img src="images/icon-nganluong.png">
                                            <label for="nganluong">
                                                <b>Thanh toán trực tuyến qua Ngân Lượng</b>
                                            </label>
                                        </div><!-- c-c-payment__title -->
                                        <div class="c-payment__content">
                                            <div class="c-address-same">
                                                <input type="checkbox" name="" id="address-same-nganluong" class="checkbox js-address-same" checked />
                                                <label for="address-same-nganluong">Địa chỉ thanh toán và giao hàng của tôi giống nhau</label>
                                            </div>
                                            <div class="c-address-details">
                                                Lê Thanh Hải
                                                <br />Học viện Teky - Số 6 Nguyễn Thị Thập - Trung Hoà - Cầu giấy
                                                <br />Hà Nội
                                                <br />0983711587
                                            </div>
                                            <div class="c-address-other">
                                                <div class="b-form">
                                                    <div class="row form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Họ của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: Nguyễn Văn" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Tên của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: A" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Email của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: nguyenvana@gmail.com" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: 0912345678" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Tỉnh/ Thành phố <span class="text-danger">*</span></label>
                                                        <input type="text" required class="form-control" placeholder="VD: Hà Nội" />
                                                    </div>
                                                    <div class="form-group _error">
                                                        <label>Địa chỉ thanh toán <span class="text-danger">*</span></label>
                                                        <input type="text" required class="form-control" placeholder="VD: Số 1 Trần Duy Hưng" />
                                                        <div class="field-error">Địa chỉ thanh toán để trống.</div>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button type="button" class="btn btn-primary btn-sm">Cập nhật</button>
                                                        <button type="button" class="btn btn-primary btn-sm js-form-other-close">Huỷ bỏ</button>
                                                    </div>
                                                </div><!-- b-form -->
                                            </div><!-- c-address-other -->
                                            <div class="c-payment__btn">
                                                <button type="submit" class="btn btn-primary text-uppercase">Đặt hàng</button>
                                            </div>
                                        </div><!-- c-c-payment__content -->
                                    </div><!-- c-payment -->
                                    <div class="c-payment">
                                        <div class="c-payment__title">
                                            <input id="banktransfer" name="payment[method]" type="radio" class="radio js-payment-radio" />
                                            <img src="images/icon-bank.png">
                                            <label for="banktransfer">
                                                <b>Chuyển khoản qua ngân hàng</b>
                                            </label>
                                        </div><!-- c-c-payment__title -->
                                        <div class="c-payment__content">
                                            <div class="c-address-same">
                                                <input type="checkbox" name="" id="address-same-banktransfer" class="checkbox js-address-same" checked />
                                                <label for="address-same-banktransfer">Địa chỉ thanh toán và giao hàng của tôi giống nhau</label>
                                            </div>
                                            <div class="c-address-details">
                                                Lê Thanh Hải
                                                <br />Học viện Teky - Số 6 Nguyễn Thị Thập - Trung Hoà - Cầu giấy
                                                <br />Hà Nội
                                                <br />0983711587
                                            </div>
                                            <div class="c-address-other">
                                                <div class="b-form">
                                                    <div class="row form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Họ của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: Nguyễn Văn" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Tên của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: A" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Email của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: nguyenvana@gmail.com" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: 0912345678" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Tỉnh/ Thành phố <span class="text-danger">*</span></label>
                                                        <input type="text" required class="form-control" placeholder="VD: Hà Nội" />
                                                    </div>
                                                    <div class="form-group _error">
                                                        <label>Địa chỉ thanh toán <span class="text-danger">*</span></label>
                                                        <input type="text" required class="form-control" placeholder="VD: Số 1 Trần Duy Hưng" />
                                                        <div class="field-error">Địa chỉ thanh toán để trống.</div>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button type="button" class="btn btn-primary btn-sm">Cập nhật</button>
                                                        <button type="button" class="btn btn-primary btn-sm js-form-other-close">Huỷ bỏ</button>
                                                    </div>
                                                </div><!-- b-form -->
                                            </div><!-- c-address-other -->
                                            <div class="c-payment__desc">
                                                Thông tin chuyển khoản:
                                                <br />Họ Tên: Nguyễn Phương Linh
                                                <br />Ngân hàng: VietinBank Ba đình
                                                <br />Số tài khoản: xxx
                                                <br />Nội dung chuyển khoản: Họ tên và mã đơn hàng (Sau khi bạn nhấn đặt hàng sẽ hiển thị mã đơn hàng của bạn)
                                            </div>
                                            <div class="c-payment__btn">
                                                <button type="submit" class="btn btn-primary text-uppercase">Đặt hàng</button>
                                            </div>
                                        </div><!-- c-c-payment__content -->
                                    </div><!-- c-payment -->
                                    <div class="c-payment">
                                        <div class="c-payment__title">
                                            <input id="cashondelivery" name="payment[method]" type="radio" class="radio js-payment-radio" />
                                            <img src="images/icon-money.png">
                                            <label for="cashondelivery">
                                                <b>Thanh toán tiền mặt khi nhận hàng</b>
                                            </label>
                                        </div><!-- c-c-payment__title -->
                                        <div class="c-payment__content">
                                            <div class="c-address-same">
                                                <input type="checkbox" name="" id="address-same-cashondelivery" class="checkbox js-address-same" checked />
                                                <label for="address-same-cashondelivery">Địa chỉ thanh toán và giao hàng của tôi giống nhau</label>
                                            </div>
                                            <div class="c-address-details">
                                                Lê Thanh Hải
                                                <br />Học viện Teky - Số 6 Nguyễn Thị Thập - Trung Hoà - Cầu giấy
                                                <br />Hà Nội
                                                <br />0983711587
                                            </div>
                                            <div class="c-address-other">
                                                <div class="b-form">
                                                    <div class="row form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Họ của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: Nguyễn Văn" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Tên của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: A" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row form-row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Email của bạn <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: nguyenvana@gmail.com" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Số điện thoại <span class="text-danger">*</span></label>
                                                                <input type="text" required class="form-control" placeholder="VD: 0912345678" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Tỉnh/ Thành phố <span class="text-danger">*</span></label>
                                                        <input type="text" required class="form-control" placeholder="VD: Hà Nội" />
                                                    </div>
                                                    <div class="form-group _error">
                                                        <label>Địa chỉ thanh toán <span class="text-danger">*</span></label>
                                                        <input type="text" required class="form-control" placeholder="VD: Số 1 Trần Duy Hưng" />
                                                        <div class="field-error">Địa chỉ thanh toán để trống.</div>
                                                    </div>
                                                    <div class="form-group text-right">
                                                        <button type="button" class="btn btn-primary btn-sm">Cập nhật</button>
                                                        <button type="button" class="btn btn-primary btn-sm js-form-other-close">Huỷ bỏ</button>
                                                    </div>
                                                </div><!-- b-form -->
                                            </div><!-- c-address-other -->
                                            <div class="c-payment__desc">
                                                Quý khách vui lòng thanh toán cho shipper ngay sau khi nhận hàng
                                            </div>
                                            <div class="c-payment__btn">
                                                <button type="submit" class="btn btn-primary text-uppercase">Đặt hàng</button>
                                            </div>
                                        </div><!-- c-c-payment__content -->
                                    </div><!-- c-payment -->
                                </form>
                            </div><!-- c-payments -->
                        </div><!-- c-checkout-box__content -->
                    </div><!-- c-checkout-box -->
                </div><!-- col -->
                <div class="col-lg-4 col-xl-3 ml-auto">
                    <div class="c-cart-total">
                        <div class="c-cart-total__name">3 sản phẩm</div>
                        <div class="c-cart-total__row clearfix">
                            <div class="c-cart-small">
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_1.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Combo 5 khăn tắm Hàn Quốc nhiều màu sắc</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_2.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Đầm Jean Khóa Kéo THỜI TRANG TỪ 42-70KG đủ size m,l,xl,xxl CHJ1 - CHJ1</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                                <div class="b-grid">
                                    <div class="b-grid__img"><a href="#"><img src="upload/product_3.jpg" alt="image" /></a></div>
                                    <div class="b-grid__content">
                                        <div class="b-grid__row">
                                            <a class="b-grid__title" href="#">Xịt Chống Nắng Hàn Quốc Sun Screen V7 200ml - sunscreen22</a>
                                            <span class="b-grid__pro">Size 42 x 29.7 cm</span>
                                        </div>
                                        <div class="b-grid__row"><span class="b-grid__price">3.200.000 VND x 1</span></div>
                                    </div>
                                </div><!-- b-grid -->
                            </div><!-- c-cart-small -->
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <p>
                                <span class="label">Giảm trừ</span>
                                <span class="price">-</span>
                            </p>
                            <p>
                                <span class="label">Phí vận chuyển</span>
                                <span class="price">50.000 VND</span>
                            </p>
                        </div>
                        <div class="c-cart-total__row clearfix">
                            <span class="label">Tổng</span>
                            <span class="price">8.700.000 VND</span>
                        </div>
                    </div><!-- c-cart-total -->
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- c-cart-box -->
    </div><!-- container -->
</div><!-- l-layout -->