﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="l-layout">
    <div class="container">
        <div class="c-message">
            <div class="c-message__title text-center">Thông báo</div>
            <div class="b-maincontent text-center">
                <p>Đơn hàng bạn vừa mua đã được thêm vào hệ thống</p>
                <p>Vui lòng check thêm email để biết thêm thông tin chi tiết về đơn hàng.</p>
                <p>Hoặc click <a href="#">vào đây</a> để quay lại tiếp tục mua sắm.</p>
            </div><!-- b-maincontent -->
            <div class="c-message__btn text-center"><a class="btn btn-primary" href="@Url.Action("Cart3","Cart")">Quay lại</a></div>
        </div><!-- c-message -->
    </div><!-- container -->
</div><!-- l-layout -->
