﻿
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using ShoesSHop.Models;


<div class="c-slider">
    <div id="slider-id" class="owl-carousel">
        @foreach (hinhanh item in @ViewBag.hinhanh)
        {
            <div class="c-slider-item"><a href="#"><img src=@Url.Content(@item.url) alt="slider" /></a></div>
        }

    </div><!-- owl-carousel -->

</div><!-- c-slider -->
<div class="c-home-cat">
    <div class="container">
        <div class="c-cat-slider c-template-slider">
            <div  class="home-list-category">
                @foreach (danhmuc it in @ViewBag.danhmuc)
                {
                    <div class="c-cat-item"><div class="c-cat-item__thumb"><a href="#"><img class="home-list-category-item" src=@Url.Content(@it.url) alt="image" /></a></div><a class="c-cat-item__title" href="#">@it.tendanhmuc</a></div>
                }
            </div><!-- owl-carousel -->
        </div><!-- c-cart-slider -->
    </div><!-- container -->
</div><!-- c-home-cat -->
<div class="l-content-wrapper">
    <div class="container">
        <div class="c-box is-primary">
            <div class="c-box__title"><div class="c-box__title__name">Sản phẩm</div></div>
            <div class="c-box__content is-padding">
                <div class="c-template-slider">
                    <div class="owl-carousel js-count-slider">
                        @foreach (sanpham item in @ViewBag.sanpham)
                        {
                            <div class="c-product-item">
                                <div class="c-product-item__thumb">
                                    <div class="c-tag-countdown active"><span class="day">0</span><span class="hour">5</span><span class="minute">15</span><span class="second">15</span></div>
                                    <a href="@Url.Action("Index","Product")">
                                        <img src="@Url.Content(@item.hinhanh)" alt="image" />
                                        <span class="c-tagsale">-@item.phantram%</span>
                                    </a>
                                </div>
                                <div class="c-product-item__content">
                                    <div class="c-product-item__row">
                                        <a class="c-product-item__title" href="#">@item.tensanpham</a>
                                    </div>
                                    <div class="c-product-item__row">
                                        <span class="c-product-item__price">@item.giaban đ</span>
                                        <span class="c-product-item__oldprice">@item.giansautruocdo đ</span>
                                    </div>
                                    
                                </div>
                            </div>
                        }
                   
                        @*<div class="c-product-item">
            <div class="c-product-item__thumb">
                <div class="c-tag-countdown"><span class="day">5</span><span class="hour">15</span><span class="minute">15</span><span class="second">15</span></div>
                <a href="#">
                    <img src="~/Content/upload/product_2.jpg" alt="image" />
                    <span class="c-tagsale">-20%</span>
                </a>
            </div>
            <div class="c-product-item__content">
                <div class="c-product-item__row">
                    <a class="c-product-item__title" href="#">Đầm Jean Khóa Kéo THỜI TRANG TỪ 42-70KG đủ size m,l,xl,xxl CHJ1 - CHJ1</a>
                </div>
                <div class="c-product-item__row">
                    <span class="c-product-item__price">83.000 đ</span>
                    <span class="c-product-item__oldprice">95.000 đ</span>
                </div>
                <div class="c-sold">
                    <label class="c-sold__text">Đã bán 10/30</label>
                    <span class="c-sold__bar" style="width: 33.33%"></span>
                </div>
            </div>
        </div>
        <div class="c-product-item">
            <div class="c-product-item__thumb">
                <div class="c-tag-countdown"><span class="day">5</span><span class="hour">15</span><span class="minute">15</span><span class="second">15</span></div>
                <a href="#">
                    <img src="~/Content/upload/product_3.jpg" alt="image" />
                    <span class="c-tagsale">-20%</span>
                </a>
            </div>
            <div class="c-product-item__content">
                <div class="c-product-item__row">
                    <a class="c-product-item__title" href="#">Chiếu Mây Điều Hòa Mát Dịu NHIỀU SIZE sđt 0934987041 - H370</a>
                </div>
                <div class="c-product-item__row">
                    <span class="c-product-item__price">83.000 đ</span>
                    <span class="c-product-item__oldprice">95.000 đ</span>
                </div>
                <div class="c-sold">
                    <label class="c-sold__text">Đã bán 10/30</label>
                    <span class="c-sold__bar" style="width: 33.33%"></span>
                </div>
            </div>
        </div>
        <div class="c-product-item">
            <div class="c-product-item__thumb">
                <div class="c-tag-countdown"><span class="day">5</span><span class="hour">15</span><span class="minute">15</span><span class="second">15</span></div>
                <a href="#">
                    <img src="~/Content/upload/product_4.jpg" alt="image" />
                    <span class="c-tagsale">-20%</span>
                </a>
            </div>
            <div class="c-product-item__content">
                <div class="c-product-item__row">
                    <a class="c-product-item__title" href="#">Combo 3 áo thun trơn Nam Hàn Quốc Thời Trang Everest vải dày mịn đẹp combo3ao</a>
                </div>
                <div class="c-product-item__row">
                    <span class="c-product-item__price">83.000 đ</span>
                    <span class="c-product-item__oldprice">95.000 đ</span>
                </div>
                <div class="c-sold">
                    <label class="c-sold__text">Đã bán 10/30</label>
                    <span class="c-sold__bar" style="width: 33.33%"></span>
                </div>
            </div>
        </div>*@
                        @*<div class="c-product-item">
            <div class="c-product-item__thumb">
                <div class="c-tag-countdown"><span class="day">5</span><span class="hour">15</span><span class="minute">15</span><span class="second">15</span></div>
                <a href="#">
                    <img src="~/Content/upload/product_2.jpg" alt="image" />
                    <span class="c-tagsale">-20%</span>
                </a>
            </div>
            <div class="c-product-item__content">
                <div class="c-product-item__row">
                    <a class="c-product-item__title" href="#">Đầm Jean Khóa Kéo THỜI TRANG TỪ 42-70KG đủ size m,l,xl,xxl CHJ1 - CHJ1</a>
                </div>
                <div class="c-product-item__row">
                    <span class="c-product-item__price">83.000 đ</span>
                    <span class="c-product-item__oldprice">95.000 đ</span>
                </div>
                <div class="c-sold">
                    <label class="c-sold__text">Đã bán 10/30</label>
                    <span class="c-sold__bar" style="width: 33.33%"></span>
                </div>
            </div>
        </div>*@
                    </div><!-- owl-carousel -->
                </div><!-- c-template-slider -->
            </div><!-- c-box__content -->
        </div><!-- c-box -->
        <!-- Thêm file test vào đây-->
    </div><!-- container -->
</div><!-- l-content-wrapper -->
