/*---------- account css ----------*/
.c-potal{
  .b-form{
    padding: 15px 10px 10px;
    .form-control{
      height: 42px;
    }
  }
  .c-box{
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  &.is-medium{
    .c-box{
      max-width: 650px;
    }
  }
}
.c-forgot-pass{
  float: right;
}
.c-account-user{
  h4{
    font-weight: 700;
    font-size: 18px;
    .fas{
      font-size: 20px;
      color: $color-secondary;
      margin-right: 5px;
    }
  }
}
.c-login-other{
  label{
    margin: 0 0 10px;
    text-align: center;
    font-weight: 400;
    font-size: 13px;
    color: $color-time;
    display: block;
  }
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      padding-left: 5px;
      padding-right: 5px;
      a{
        display: block;
        text-decoration: none;
        font-size: 13px;
        color: $color-white;
        text-align: center;
        line-height: 44px;
        @include border-radius(4px);
        span{
          display: none;
        }
        .fab{
          font-size: 16px;
        }
      }
    }
  }
}
//account responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
  .c-potal{
    .b-form{
      padding: 15px 15px 10px;
    }
  }
}
@media (min-width: $screen-md-min){//ipad portrait
  .c-user-form{
    padding-top: 20px;
  }
  .c-login-other{
    ul{
      li{
        a{
          span{
            display: inline;
          }
          .fab{
            font-size: 16px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px

}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end account responsive css
/*---------- end account css ----------*/