/*---------- cart css ----------*/
.c-cart-total{
  border: 1px solid $color-bg2;
  padding: 15px;
  background: $color-white;
  margin-bottom: 10px;
  &__name{
    font-size: 12px;
    color: $color-time;
    margin-bottom: 10px;
  }
  &__row{
    border-bottom: 1px solid $color-bg2;
    margin-bottom: 10px;
    padding-bottom: 10px;
    &:last-child{
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    .label{
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: $color-text2;
      padding: 3px 0 0;
    }
    .price{
      float: right;
      font-weight: 700;
      font-size: 22px;
      color: $color-text;
    }
    p{
      margin: 0 0 5px;
      font-size: 12px;
      color: $color-time;
      &:last-child{
        margin: 0;
      }
      .label{
        font-size: 12px;
        color: $color-time;
        padding: 0;
      }
      .price{
        font-weight: 400;
        font-size: 12px;
        color: $color-text2;
      }
    }
  }
  &__btn{
    text-align: center;
    padding-top: 20px;
    .btn{
      margin-right: 3px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.c-cart-hotline{
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: $color-text2;
  padding: 10px 0 0;
}
.c-cart-next{
  padding: 15px 0 0;
  text-align: center;
}
.c-cart-table{
  &__col-pc{
    display: none;
  }
  .table{
    th, td{
      font-size: 12px;
    }
    .col1{
      width: 65%;
      padding-left: 0;
    }
    .col2{
      width: 35%;
      padding-right: 0;
      text-align: right;
    }
    thead{
      th{
        color: $color-time;
        font-weight: 400;
        border-top: none;
        border-bottom-color: $color-border;
      }
    }
    tbody{
      td{
        border-top: 2px solid $color-border;
      }
    }
    tfoot{
      td{
        border-top: 2px solid $color-border;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  .remove{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5px;
  }
  .edit{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
  }
  .price{
    display: block;
    font-size: 14px;
  }
  .b-grid{
    min-height: 85px;
    .b-grid__img{
      width: 85px;
      height: 85px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        max-width: 85px;
        max-height: 85px;
        width: auto;
        height: auto;
      }
    }
    .b-grid__content{
      margin-left: 95px;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .b-grid__row{
      color: $color-text2;
      line-height: 1.5;
      margin: 0 0 2px;
    }
    .b-grid__title{
      font-weight: 700;
      font-size: 14px;
      color: $color-text;
    }
    label{
      display: inline-block;
      vertical-align: middle;
      margin: 0 7px 0 0;
    }
    .b-grid__number{
      display: inline-block;
      vertical-align: middle;
      width: 70px;
    }
  }
}
.c-cart-small{
  .b-grid{
    min-height: 72px;
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0;
    }
    .b-grid__img{
      width: 82px;
      height: 72px;
      img{
        min-height: 72px;
      }
    }
    .b-grid__content{
      margin-left: 92px;
    }
    .b-grid__row{
      color: $color-text2;
      font-size: 12px;
      position: relative;
      z-index: 1;
      padding-bottom: 7px;
      &:after{
        content: "";
        width: 12px;
        height: 1px;
        background: $color-text2;
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
      }
      &:last-child{
        padding-bottom: 0;
        &:after{
          display: none;
        }
      }
    }
    .b-grid__title{
      display: block;
      color: $color-text2;
      font-weight: 400;
      font-size: 12px;
    }
  }
}
//cart responsive css
@media (min-width: 414px){
  .c-cart-table{
    .table{
      th, td{
        font-size: 14px;
      }
    }
    .price{
      font-size: 16px;
    }
    .b-grid{
      .b-grid__title{
        font-size: 16px;
      }
    }
  }
}
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-coupon-box{
    width: 400px;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-cart-table{
    &__col-pc{
      display: block;
      width: 27%;
      float: right;
      text-align: right;
    }
    .table{
      th, td{
        font-size: 14px;
      }
      .col1{
        width: 75%;
      }
      .col2{
        width: 25%;
      }
    }
    .b-grid{
      min-height: 145px;
      .b-grid__img{
        width: 145px;
        height: 145px;
        img{
          max-width: 145px;
          max-width: 145px;
        }
      }
      .b-grid__content{
        margin-left: 165px;
        ul{
          margin: 0 -10px;
          li{
            float: left;
            width: 40%;
            padding-left: 10px;
            padding-right: 10px;
            &:first-child{
              width: 60%;
            }
            &.full{
              width: 100%;
            }
          }
        }
      }
      .b-grid__title{
        font-size: 16px;
        @include transition-all(0.2s);
        &:hover{
          color: $color-primary;
        }
      }
      .price{
        display: block;
        text-align: right;
      }
    }
  }
  .c-cart-small{
    .b-grid{
      .b-grid__title{
        @include transition-all(0.2s);
        &:hover{
          color: $color-primary;
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-cart-table{
    &__col-pc{
      width: 30%;
    }
  }
}
//end cart responsive css
/*---------- end cart css ----------*/