/*---------- checkout css ----------*/
.c-checkout-box{
  margin-bottom: 30px;
  &__title{
    font-size: 22px;
    color: $color-text2;
    margin-bottom: 12px;
  }
  &__login{
    font-size: 16px;
    padding: 10px 0 0;
  }
}
.c-payment-method{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      padding-left: 35px;
      position: relative;
      z-index: 1;
      cursor: pointer;
      max-width: 200px;
      padding-right: 5px;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        border: 1px solid $color-border;
        width: 24px;
        height: 24px;
      }
      &.active{
        &:before{
          background: $color-bg2;
        }
        &:after{
          font-family: $font-awesome-5-free;
          font-weight: 900;
          color: $color-text;
          position: absolute;
          z-index: 2;
          top: -2px;
          left: 2px;
          font-size: 20px;
          content: "\f00c";
        }
      }
    }
  }
}
.c-otheritem-table{
  &__col-pc{
    display: none;
  }
  .table{
    th, td{
      font-size: 12px;
    }
    .col1{
      width: 65%;
      padding-left: 0;
    }
    .col2{
      width: 35%;
      padding-right: 0;
      text-align: right;
    }
    thead{
      th{
        color: $color-time;
        font-weight: 400;
        border-top: none;
        border-bottom-color: $color-border;
      }
    }
    tbody{
      td{
        border-top: 2px solid $color-border;
      }
    }
    tfoot{
      td{
        border-top: 2px solid $color-border;
      }
    }
  }
  .remove{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
  }
  .price{
    display: block;
  }
  .b-grid{
    min-height: 60px;
    .b-grid__img{
      width: 85px;
      height: 60px;
      img{
        min-height: 60px;
      }
    }
    .b-grid__content{
      margin-left: 95px;
      ul{
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .b-grid__row{
      color: $color-text2;
      line-height: 1.5;
      margin: 0 0 2px;
    }
    .b-grid__title{
      font-weight: 400;
      color: $color-text2;
      padding-bottom: 7px;
      display: block;
    }
    label{
      display: inline-block;
      vertical-align: middle;
      margin: 0 7px 0 0;
    }
    .b-grid__number{
      display: inline-block;
      vertical-align: middle;
      width: 70px;
    }
  }
}
.c-checkout-policy{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 60vh;
}
.c-checkout-alert{
  margin-top: -25px;
  margin-bottom: 25px;
}
.c-checkout-button{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.check-box-row{
  padding: 15px;
  border: 2px solid $color-border2;
  background: $color-white;
  &__title{
    display: block;
  }
  &__day{
    display: block;
    font-size: 12px;
    color: rgba($color-text, 0.5);
  }
  &__price{
    display: block;
    font-size: 12px;
    color: $color-text2;
  }
}
.check-box-row__price {
  display: block;
  font-size: 12px;
  color: $color-primary;
}
.c-address-list{
  margin-bottom: 15px;
}
.c-address-item{
  overflow: hidden;
  padding: 13px;
  border: 2px solid transparent;
  border-bottom: 2px solid $color-border;
  line-height: 1.7;
  .btn{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
  }
  &.selected-item{
    border: 2px solid #aedce6;
    background: $color-white;
  }
}
//checkout responsive css
@media (min-width: 414px){
  .c-otheritem-table{
    .table{
      th, td{
        font-size: 14px;
      }
    }
  }
}
@media (min-width: $screen-sm-min){//mobile lanscape
  .c-otheritem-table{
    .table{
      th, td{
        font-size: 16px;
      }
    }
  }
}
@media (min-width: $screen-md-min){//ipad portrait
  .c-checkout-box{
    &__login{
      font-size: 16px;
      padding: 3px 0 0;
      float: right;
    }
    .form-check{
      .form-check-label{
        font-size: 18px;
      }
      .form-check-input:checked + label{
        &:after{
          top: 0px;
          left: 6px;
        }
      }
    }
  }
  .c-checkout-policy{
    max-height: 350px;
  }
  .c-checkout-button{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .check-box-row__price {
    font-size: 14px;
  }
  .c-address-item{
    float: left;
    width: percentage(1/3);
    border-bottom: none;
    font-size: 13px;
    padding: 10px;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-checkout-form{
    .form-group{
      margin-bottom: 20px;
    }
  }
  .c-payment-method{
    ul{
      li{
        &:hover{
          &:before{
            background: $color-bg2;
          }
          &:after{
            font-family: $font-awesome-5-free;
            font-weight: 900;
            color: $color-text;
            position: absolute;
            z-index: 2;
            top: -2px;
            left: 2px;
            font-size: 20px;
            content: "\f00c";
          }
        }
      }
    }
  }
  .c-otheritem-table{
    &__col-pc{
      display: block;
      width: 27%;
      float: right;
      text-align: right;
    }
    .table{
      th, td{
        font-size: 14px;
      }
      .col1{
        width: 75%;
      }
      .col2{
        width: 25%;
      }
    }
    .b-grid{
      min-height: 128px;
      .b-grid__img{
        width: 168px;
        height: 120px;
        img{
          min-height: 120px;
        }
      }
      .b-grid__content{
        margin-left: 195px;
        ul{
          margin: 0 -10px;
          li{
            float: left;
            width: 45%;
            padding-left: 10px;
            padding-right: 10px;
            &:first-child{
              width: 55%;
            }
            &.full{
              width: 100%;
            }
          }
        }
      }
      .b-grid__title{
        @include transition-all(0.2s);
        &:hover{
          color: $color-primary;
        }
      }
      .price{
        display: block;
        text-align: right;
      }
    }
  }
  .c-checkout-alert{
    margin-top: -35px;
    margin-bottom: 35px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-otheritem-table{
    &__col-pc{
      width: 30%;
    }
    .table{
      th, td{
        font-size: 16px;
      }
    }
    .price{
      display: inline-block;
    }
    .remove{
      margin-left: 5px;
    }
  }
  .check-box-row__price {
    font-size: 16px;
  }
}
//end checkout responsive css
/*---------- end checkout css ----------*/