/*---------- error css ----------*/
.c-error{
  &__img{
    text-align: center;
    img{
      max-width: 150px;
    }
  }
  &__content{
    padding-top: 15px;
    .b-maincontent{
      margin-bottom: 20px;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
        a{
          text-decoration: none;
          display: block;
          text-align: center;
          span{
            display: block;
            color: $color-text;
            font-size: 14px;
            padding: 5px 0 0;
          }
          .fas{
            font-size: 24px;
            color: $color-primary;
          }
          &:hover{
            .fa{
              color: $color-primary;
            }
          }
        }
      }
    }
  }
  &__title{
    border-bottom: 1px solid $color-primary;
    font-size: 20px;
    padding-bottom: 7px;
    margin-bottom: 10px;
  }
}
//error responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-error{
    margin-top: 20px;
    padding-top: 20px;
    &__img{
      img{
        max-width: none;
      }
    }
    &__content{
      padding-top: 70px;
      .b-maincontent{
        font-size: 16px;
        line-height: 26px;
      }
      ul{
        li{
          margin-right: 50px;
          a{
            span{
              font-size: 16px;
            }
            .fas{
              font-size: 32px;
            }
          }
        }
      }
    }
    &__title{
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end error responsive css
/*---------- end error css ----------*/