/*---------- home css ----------*/
/*slider*/
.c-slider{
  position: relative;
  z-index: 1;
  .owl-carousel{
    .owl-dots{
      text-align: center;
      position: absolute;
      z-index: 2;
      bottom: 10px;
      left: 0;
      right: 0;
      line-height: 14px;
      .owl-dot{
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        @include border-radius(100%);
        background: $color-border;
        margin: 0 6px;
        &:focus{
          outline: none;
        }
        &.active{
          background: $color-primary;
        }
      }
    }
    .owl-nav{
      display: none;
      .owl-next, .owl-prev{
        position: absolute;
        z-index: 2;
        top: 50%;
        width: 32px;
        height: 32px;
        margin-top: -16px;
        background: rgba($color-black,0.3);
        text-align: center;
        line-height: 30px;
        color: $color-white;
        font-size: 24px;
        @include border-radius(100%);
        &:focus{
          outline: none;
        }
        &:before{
          font-family: $font-awesome-5-free;
          font-weight: 900;
        }
      }
      .owl-next{
        right: 10px;
        &:before{
          content: "\f105";
        }
      }
      .owl-prev{
        left: 10px;
        &:before{
          content: "\f104";
        }
      }
      &.disabled{
        display: none !important;
      }
    }
  }
}
/*end slider*/
/*home cart*/
.c-home-cat{
  background: $color-white;
  padding: 10px 0;
}
.c-cat-item{
  max-width: 150px;
  border: 1px solid $color-border;
  &__thumb{
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: percentage(100/133);
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px;
      img{
        display: inline !important;
        width: auto !important;
        height: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  .c-cat-item__title{
    display: block;
    margin: 5px;
    color: $color-text;
    text-decoration: none;
    font-size: 15px;
    height: 38px;
    line-height: 18px;
    text-align: center;
  }
}
/*end home cart*/
/*banners grid*/
.c-banners-grid{
  margin-bottom: -20px;
  min-height: 20px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding-bottom: 20px;
    }
  }
}
/*end banners grid*/
//home responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-slider{
    .owl-carousel{
      .owl-dots{
        bottom: 20px;
      }
      .owl-nav{
        display: block;
      }
    }
  }
  .c-banners-grid{
    ul{
      margin: 0 -10px;
      li{
        padding-left: 10px;
        padding-right: 10px;
        width: percentage(1/3);
        float: left;
        &:nth-child(4n+1), &:nth-child(4n+4){
          width: percentage(2/3);
          .c-banner-item{
            a{
              padding-top: percentage(300/750);
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-slider{
    .owl-carousel{
      .owl-dots{
        bottom: 30px;
      }
      .owl-nav{
        display: none;
        .owl-next, .owl-prev{
          width: 46px;
          height: 46px;
          margin-top: -23px;
          line-height: 44px;
          font-size: 32px;
          @include transition-all(0.2s);
          &:hover{
            background: $color-black;
          }
        }
        .owl-next{
          right: 20px;
        }
        .owl-prev{
          left: 20px;
        }
      }
    }
    &:hover{
      .owl-carousel{
        .owl-nav{
          display: block;
        }
      }
    }
  }
    .c-cat-item {
        @include transition-all(0.2s);
        width: percentage(1/8) !important;
        &:hover {
            border-color: $color-primary;
        }
    }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-slider{
    .owl-carousel{
      .owl-dots{
        bottom: 40px;
      }
    }
  }
  .c-banners-grid{
    margin-bottom: -30px;
    min-height: 30px;
    ul{
      margin: 0 -15px;
      li{
        padding-left: 15px;
        padding-right: 15px;
       padding-bottom: 30px;
      }
    }
  }
}
//end home responsive css
/*---------- end home css ----------*/