/*---------- news css ----------*/
.c-news-list{
  .b-grid{
    border-bottom: 1px solid $color-border;
    padding-bottom: 10px;
    margin-bottom: 20px;
    .b-grid__img{
      float: none;
      width: auto;
      height: auto;
      margin-bottom: 10px;
      @include border-radius(4px);
      a{
        display: block;
        overflow: hidden;
        padding-top: percentage(210/290);
        position: relative;
        z-index: 1;
      }
      img{
        min-height: 100%;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
      }
    }
    .b-grid__content{
      margin-left: 0;
    }
    .b-grid__row{
      margin-bottom: 10px;
      color: $color-text;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .b-grid__desc{
      display: none;
    }
    .b-grid__btn{
      text-align: right;
      display: none;
    }
    .b-grid__title{
      text-decoration: none;
      color: $color-text;
      font-size: 18px;
      line-height: normal;
      font-weight: 700;
    }
    .b-grid__time{
      color: $color-time;
      font-style: italic;
      .far{
        margin-right: 5px;
        font-size: 16px;
      }
    }
  }
}
.c-news-detail{
  &__title{
    margin-bottom: 10px;
    h1{
      font-weight: 900;
      line-height: normal;
      margin: 0;
      font-size: 18px;
    }
  }
  &__time{
    font-size: 13px;
    color: $color-time;
    font-style: italic;
    margin-bottom: 10px;
    .far{
      font-size: 16px;
      margin-right: 5px;
    }
  }
  .b-maincontent{
    margin-bottom: 20px;
  }
  &__comment{
    >img{
      max-width: 100%;
    }
    iframe{
      width: 100%;
    }
  }
}
.c-news-other{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding-left: 25px;
      position: relative;
      z-index: 1;
      margin-bottom: 7px;
      &:before{
        content: "";
        background: $color-secondary;
        width: 5px;
        height: 5px;
        @include border-radius(100%);
        position: absolute;
        z-index: 2;
        top: 8px;
        left: 10px;
      }
      a{
        color: $color-text;
        text-decoration: none;
        span{
          color: $color-time;
          font-style: italic;
          margin-left: 5px;
        }
      }
    }
  }
}
.c-single-page{
  .c-news-detail{
    max-width: 810px;
    margin-left: auto;
    margin-right: auto;
    &__title{
      text-align: center;
    }
  }
}
//news responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
  .c-news-detail{
    &__title{
      h1{
        font-size: 20px;
      }
    }
  }
}
@media (min-width: $screen-md-min){//ipad portrait
  .c-news-list{
    .b-grid{
      min-height: 180px + 25px;
      margin-bottom: 25px;
      padding-bottom: 25px;
      .b-grid__img{
        width: 250px;
        height: 180px;
        @include border-radius(6px);
        float: left;
        margin-bottom: 0;
        a{
          padding-top: 0;
        }
        img{
          position: static;
          min-height: 180px;
        }
      }
      .b-grid__content{
        margin-left: 274px;
      }
      .b-grid__row{

      }
      .b-grid__desc{
        display: block;
      }
      .b-grid__btn{
        display: block;
      }
      .b-grid__title{
        font-size: 20px;
      }
    }
  }
  .c-news-detail{
    &__title{
      h1{
        font-size: 22px;
      }
    }
    .b-maincontent{
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 30px;
      p{
        font-size: 15px;
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-news-list{
    .b-grid{
      .b-grid__title{
        font-size: 22px;
        @include transition-all(0.2s);
        &:hover{
          color: $color-primary;
        }
      }
    }
  }
  .c-news-detail{
    &__title{
      h1{
        font-size: 24px;
      }
    }
    .b-maincontent{
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 40px;
      p{
        font-size: 16px;
      }
    }
  }
  .c-news-other{
    ul{
      li{
        a{
          &:hover{
            color: $color-primary;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end news responsive css
/*---------- end news css ----------*/