/*---------- payment css ----------*/
.c-payment{
  border: 2px solid $color-border2;
  margin-bottom: 10px;
  background: $color-white;
  &__title{
    padding: 0 15px;
    display: flex;
    align-items: center;
    .radio{
      margin-right: 10px;
    }
    label{
      margin-bottom: 0;
      display: block;
      padding: 20px 0;
      b{
        display: block;
      }
      span{
        display: block;
        font-size: 14px;
        color: $color-text2;
      }
    }
    img{
      max-width: 50px;
      margin-right: 10px;
    }
  }
  &__content{
    display: none;
    padding: 0 15px 15px 40px;
  }
  &__btn{
    text-align: center;
  }
  &__desc{
    font-size: 14px;
    padding-bottom: 10px;
    line-height: 1.3;
  }
  label{
    font-size: 16px;
  }
}
.c-address-details{
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 1.3;
}
.c-address-other{
  padding-bottom: 10px;
  display: none;
}
//payment responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-payment{
    &__title{
      label{
        padding: 25px 0;
      }
    }
    &__desc{
      font-size: 16px;
    }
    label{
      font-size: 18px;
      span{
        font-size: 16px;
      }
    }
  }
  .c-address-details{
    font-size: 16px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (min-width: 1600px){//pc & mac 1900px grow up

}
//end payment responsive css
/*---------- end payment css ----------*/