/*---------- product filter css ----------*/
.swatch-label{
  width: 14px;
  height: 14px;
  border: 1px solid $color-border;
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  img{
    width: 12px;
    height: 12px;
  }
}
.box-smartfilter{
  min-height: 44px;
  margin-bottom: 10px;
}
.bs-filter{
  display: none;
  padding-top: 5px;
  padding-bottom: 1px;
  > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    > li{
      position:relative;
      z-index:8;
      border:1px solid $color-border;
      margin-bottom: 7px;
      .bs-label{
        display:block;
        padding:12px 15px;
        color:$color-text;
        font-size:13px;
        cursor:pointer;
        text-transform:uppercase;
        > .fa, >.fas, >.far{
           margin-left:3px;
           color:$color-time;
           float: right;
           margin-top: 2px;
          font-size: 12px;
        }
      }
      &.active, &.is-active{
        z-index:9;
        > .bs-label{
          background:$color-bg3;
          position:relative;
          z-index:3;
          .fa, .fas, .far{
            color: $color-text
          }
        }
        .bs-submenu{
          display:block;
        }
      }
    }
  }
}
.bs-select{
  margin: 5px 0 0;
  width: 100%;
}
.bs-submenu{
  display:none;
  background:$color-white;
  position:absolute;
  top:100%;
  left:-1px;
  right: -1px;
  z-index:2;
  border:1px solid $color-border;
  margin-top:-1px;
  @include box-shadow(0 3px 10px rgba(0, 0, 0, 0.15));
  .bs-search{
    border-bottom:1px solid $color-border;
    .form-control{
      border:none;
      &:focus{
        outline:none;
        @include box-shadow(none);
      }
    }
  }
  ul{
    padding:5px 0;
    list-style: none;
    padding: 0;
    > li{
      padding:5px 0 5px 30px;
      &.li-half{
        display:inline-block;
        vertical-align:top;
        width:48%;
      }
      >a{
        text-decoration:none;
        color:$color-text;
        > .fa, > .fas, >.far{
          float:left;
          margin:4px 0 0 -15px;
          font-size:13px;
        }
        > span{
          color:$color-time;
          margin-left:4px;
        }
      }
      label{
        margin:0;
        font-weight:normal;
        display:block;
        padding:0 0 0 2px;
        > input[type=checkbox], > input[type=radio]{
          float:left;
          margin:2px 0 0 -17px;
        }
        > span{
          color:$color-time;
          margin-left:4px;
        }
      }
      &.active, &.is-active{
        >a{
          color: $color-primary;
        }
        label{
          color:$color-primary;
        }
      }
    }
  }
}
.smartfilter-choose{
  padding-bottom:10px;
  padding-top: 10px;
  position:relative;
  z-index:2;
  min-height:2px;
  margin-top: -7px;
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      display:inline-block;
      vertical-align:top;
      margin:0 4px 4px 0;
      a{
        display:block;
        text-decoration:none;
        font-size:11px;
        color:$color-text;
        border:1px solid $color-border;
        .value{
          img{
            width:15px;
            height:15px;
            margin:-1px 2px 0 0;
          }
        }
      }
      .btn-clear{
        border:1px solid $color-border;
        padding:6px 10px;
        background: $color-white;
        text-transform:uppercase;
        @include transition-all(0.3s);
        @include border-radius(2px);
      }
      .btn-remove{
        padding:6px 10px;
        background:#f3f4f6;
        @include transition-all(0.3s);
        @include border-radius(2px);
        .close-btn{
          color: $color-time;
          margin: 0 0 0 6px;
        }
      }
    }
  }
}
.bs-expand{
  display:inline-block;
  vertical-align: middle;
  font-size:14px;
  padding:12px 2px;
  cursor:pointer;
  vertical-align:top;
  color:$color-text;
  text-transform:uppercase;
  .fa-bars{
    font-size:18px;
    margin:1px 5px 0 0;
    display:inline-block;
    vertical-align:top;
  }
  .bs-icon{
    margin-left:5px;
    font-size:14px;
    color:$color-border;
  }
}
.bs-list{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    > li{
      padding:5px 0 5px 30px;
      &.li-half{
        display:inline-block;
        vertical-align:top;
        width:48%;
      }
      >a{
        text-decoration:none;
        color:$color-text;
        > .fa, > .fas, >.far{
          float:left;
          margin:4px 0 0 -15px;
          font-size:13px;
        }
        > span{
          color:$color-time;
          margin-left:4px;
        }
      }
      label{
        margin:0;
        font-weight:normal;
        display:block;
        padding:0 0 0 2px;
        > input[type=checkbox], > input[type=radio]{
          float:left;
          margin:2px 0 0 -17px;
        }
        > span{
          color:$color-time;
          margin-left:4px;
        }
      }
      &.active, &.is-active{
        >a{
          color: $color-primary;
          > .fa, > .fas, >.far{
            color: $color-primary;
          }
        }
        label{
          color:$color-primary;
        }
      }
    }
  }
}
//product filter responsive css
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .bs-filter{
    > ul{
      >li{
        float:left;
        width: 50%;
        width: calc(50% - 5px);
        margin-right: 5px;
        &:nth-child(2n){
          margin-right: 0;
          margin-left: 5px;
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){
  .bs-expand{
    display:none;
  }
  .bs-select{
    float:right;
    width: 165px;
  }
  .bs-filter{
    display:block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 150px;
    > ul{
      display:inline-block;
      vertical-align:top;
      >li{
        width: auto;
        border-left:1px solid transparent;
        border-right:1px solid transparent;
        border-top:1px solid transparent;
        border-bottom: none;
        margin-bottom: 0;
        &:nth-child(2n){
          margin-left: 0;
        }
        .bs-label{
          padding: 12px 10px;
          >a{
            > .fa , >.fas, >.far{
              float: none;
              margin-top: 0;
            }
          }
        }
        &.active, &.is-active{
          border-left: 1px solid $color-border;
          border-right: 1px solid $color-border;
          border-top: 1px solid $color-border;
        }
      }
    }
  }
  .bs-submenu{
    width:320px;
    right: auto;
    ul{
      >li{
        >a{
          &:hover{
            color:$color-primary;
          }
        }
      }
    }
  }
  .smartfilter-choose{
    ul{
      li{
        .btn-clear{
          &:hover{
            background:$color-white;
          }
        }
        .btn-remove{
          &:hover{
            background:$color-primary;
            color:$color-white;
            .close-btn{
              color:$color-white;
            }
          }
        }
      }
    }
  }
  .bs-list{
    ul{
      >li{
        >a{
          &:hover{
            color:$color-primary;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){

}
//end product filter responsive css
/*---------- end product filter css ----------*/