/*---------- product css ----------*/
.c-rating{
  display: inline-block;
  span{
    &:before{
      position: absolute;
      content: "\2605";
      color: $color-yellow;
    }
  }
}
.c-tag-countdown{
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  text-align: center;
  color: $color-white;
  padding: 2px 7px;
  background: $color-black;
  @include border-radius(2px);
  .day{
    &:after{
      content: "ngày";
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  .hour{
    &:after{
      content: ":";
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  .minute{
    &:after{
      content: ":";
      margin-left: 3px;
      margin-right: 3px;
    }
  }
  &.active{
    background: $color-yellow;
  }
}
.c-tagsale{
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  color: $color-white;
  background: $color-primary;
  font-size: 14px;
  padding: 2px 8px;
  @include border-radius(4px);
}
.c-sold{
  background: $color-bg4;
  height: 26px;
  @include border-radius(13px);
  position: relative;
  z-index: 1;
  &__bar{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    background: $color-secondary;
    @include border-radius(13px);
  }
  &__text{
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: $color-white;
    line-height: 24px;
    font-size: 12px;
  }
}
.c-product-item{
  .c-tagsale{
    right: 7px;
    top: 7px;
    z-index: 4;
  }
  .c-tag-countdown{
    z-index: 4;
    bottom: 15px;
  }
  &__thumb{
    border: 1px solid $color-border;
    position: relative;
    z-index: 1;
    //padding-top: 100%;
    padding-top: calc(100% - 2px);
    margin-bottom: 7px;
    a{
      display: block;
      display: flex;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    img{
      width: auto !important;
      height: auto;
      display: inline !important;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__row{
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0 !important;
    }
  }
  .c-product-item__title{
    text-decoration: none;
    color: $color-text;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    min-height: 18px * 2;
    max-height: 18px * 2;
    overflow: hidden;
  }
  &__price{
    color: $color-primary;
    font-weight: 700;
    font-size: 14px;
  }
  &__oldprice{
    margin-left: 5px;
    color: $color-time;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    //display: none;
  }
  .c-sold{
    margin-top: 5px;
  }
}
.c-product-bg{
  .c-product-item{
    background: $color-white;
    padding: 4px;
    @include border-radius(3px);
  }
}
.js-match-height{
  .c-product-item{
    height: 100%;
  }
}
.c-browse-banners{
  margin-bottom: 20px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 15px;
      &:last-child{
        margin-bottom: 0;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
.c-browse-title{
  margin-bottom: 15px;
  h1{
    margin: 0;
    color: $color-text;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
  }
}
.c-browse-cats{
  .c-banner-item{
    a{
      padding-top: 100%;
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding-bottom: 15px;
    }
  }
}
.c-filter-mobile{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      a{
        text-decoration: none;
        display: block;
        padding: 7px 0;
        color: $color-time;
        text-transform: uppercase;
        .fas{
          margin-right: 5px;
          color: $color-primary;
        }
      }
    }
  }
}
.c-product-grid{
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }
  }
}
.c-sort{
  width: 40px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  line-height: 38px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  &.sort-desc{
    @include transform(rotate(180deg));
  }
}
a.c-sort{
  text-decoration: none;
}
.c-product-bar{
  margin-bottom: 10px;
  &__count{
    margin-bottom: 10px;
  }
  &__right{
    position: relative;
    z-index: 1;
    padding-right: 40px;
    label{
      display: none;
    }
    .c-sort{
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
    }
  }
}
//product responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
  .c-product-grid{
    ul{
      margin: 0 -10px;
      li{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
      }
    }
  }
}
@media (min-width: $screen-md-min){//ipad portrait
  .c-sold{
    &__text{
      font-size: 14px;
    }
  }
  .c-product-item{
    .c-product-item__title{
      font-size: 14px;
      line-height: 20px;
      min-height: 20px * 2;
      max-height: 20px * 2;
    }
    &__price{
      font-size: 16px;
    }
    &__oldprice{
      font-size: 14px;
    }
  }
  .c-product-bg{
    .c-product-item{
      background: $color-white;
      padding: 7px;
    }
  }
  .c-browse-banners{
    ul{
      li{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .c-browse-title{
    h1{
      font-size: 20px;
    }
  }
  .c-browse-cats{
    .c-banner-item{
      &__title{
        font-size: 20px;
      }
    }
    ul{
      margin: 0 -10px;
      li{
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        float: left;
        width: percentage(1/3);
      }
    }
  }
  .c-product-grid{
    ul{
      li{
        width: percentage(1/4);
      }
    }
  }
  .c-product-bar{
    min-height: 40px;
    margin-bottom: 15px;
    &__count{
      display: inline-block;
      vertical-align: middle;
      line-height: 38px;
      margin-bottom: 0;
    }
    &__right{
      float: right;
      label{
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
      }
    }
    &__select{
      width: 140px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .c-filter-mobile{
    ul{
      li{
        margin-right: 15px;
        width: auto;
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-product-item{
    .c-product-item__title{
      font-size: 14px;
      line-height: 20px;
      min-height: 21px * 2;
      max-height: 21px * 2;
      @include transition-all(0.2s);
      &:hover{
        color: $color-primary;
      }
    }
    &__price{
      font-size: 18px;
    }
    &__oldprice{
      font-size: 16px;
    }
  }
  .c-filter-mobile{
    display: none;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end product responsive css
/*---------- end product css ----------*/