/*---------- product detail css ----------*/
.c-product-outer{
  background: $color-white;
  padding-right: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  border: 1px solid $color-border;
}
.c-product-head{
  margin-bottom: 10px;
  &__row{
    margin-bottom: 7px;
  }
  &__title{
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: normal;
  }
  &__desc{
    font-size: 14px;
    margin: 0;
    line-height: 20px;
  }
  .text-link{
    color: $color-blue;
  }
}
.c-product-other{
  padding: 10px 10px 0;
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 10px;
    }
  }
}
.c-product-left{
  margin-bottom: 15px;
  .c-product-facebook{
    img{
      width: 100%;
    }
  }
}
.c-product-image{
  border: 1px solid $color-border;
  margin: 0 auto 15px;
  width: 250px;
  .b-table__cell{
    width: 248px;
    height: 248px;
    text-align: center;
  }
  img{
    max-width: 248px;
    max-height: 248px;
    width: auto;
    height: auto;
  }
}
.c-product-center{
  margin-bottom: 20px;
  &__row{
    margin-bottom: 7px;
  }
  &__label{
    color: $color-time;
    font-weight: 400;
    margin: 0;
    float: left;
    &.is-form-label{
      line-height: 32px;
    }
  }
  &__text{
    margin-left: 95px;
    min-height: 20px;
  }
  &__name{
    color: $color-time;
    font-weight: 400;
    margin: 0;
  }
  &__price{
    color: $color-primary;
    font-weight: 700;
    font-size: 18px;
  }
  &__oldprice{
    color: $color-time;
    text-decoration: line-through;
    font-size: 16px;
  }
  &__line{
    height: 1px;
    background: $color-border;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &__number{
    display: inline-block;
    vertical-align: top;
    width: 80px;
  }
  &__select{
    width: 120px;
  }
  &__button{
    padding: 10px 0;
    .btn{
      margin-bottom: 10px;
      display: block;
      width: 100%;
    }

  }
  &__check{
    padding-left: 25px;
    display: block;
    margin-bottom: 7px;
    .fas{
      font-size: 14px;
      margin: 3px 0 0 -22px;
      float: left;
      color: $color-text;
    }
  }
  &__ship{
    margin-top: 10px;
    padding: 3px 6px;
    background: rgba($color-primary, 0.1);
    display: flex;
    align-items: center;
    img{
      display: block;
      float: left;
      max-width: 2.6rem;
      margin-right: 5px;
    }
    span{
      line-height: 16px;
      color: $color-black;
    }
  }
}
.c-product-thumb{
  position: relative;
  z-index: 1;
  margin: 0 auto 20px;
  max-width: 250px;
  .owl-carousel{
    .owl-nav{
      .owl-next, .owl-prev{
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -10px;
        color: $color-primary;
        width: 20px;
        height: 20px;
        font-size: 24px;
        line-height: 1;
        text-align: center;
        &:before{
          font-family: $font-awesome-5-free;
          line-height: 1;
          font-weight: 900;
        }
        &:focus{
          outline: none;
        }
        &:hover{
          color: $color-secondary;
        }
      }
      .owl-next{
        right: -20px;
        &:before{
          content: "\f105";
        }
      }
      .owl-prev{
        left: -20px;
        &:before{
          content: "\f104";
        }
      }
    }
  }
}
.c-thumb-item{
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid $color-border;
  &.is-active{
    border-color: $color-primary;
  }
  a{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 58px;
    height: 58px;
  }
  img{
    max-width: 58px;
    max-height: 58px;
    width: auto !important;
    height: auto;
    display: inline !important;
  }
}
.c-tabs{
  background: $color-white;
  margin-bottom: 25px;
  border: 1px solid $color-border;
  border-bottom: none;
  &__title{
    height: 40px;
    background: $color-bg2;
    border-bottom: 1px solid $color-border;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        float: left;
        display: none;
        border-right: 1px solid transparent;
        position: relative;
        z-index: 1;
        a{
          display: block;
          text-decoration: none;
          color: $color-text;
          line-height: 40px;
          font-weight: 400;
          padding: 0 15px;
        }
        &.active, &.is-active{
          display: block;
          border-right: 1px solid $color-border;
          &:before{
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            left: -1px;
            bottom: 0;
            width: 1px;
            background: $color-border;
          }
          a{
            background: $color-white;
          }
        }
      }
    }
  }
  &__container{
    border-bottom: 1px solid $color-border;
  }
  &__pane{
    display: block;
    padding: 12px 10px;
    &.active{
      display: block;
    }
  }
  &__label{
    font-weight: 400;
    padding-left: 10px;
    border-left: 3px solid $color-primary;
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.c-product-comment{
  iframe{
    width: 100%;
  }
  >img{
    max-width: 100%;
  }
}
.c-product-spec{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      color: $color-text;
      line-height: normal;
      margin-bottom: 12px;
      label{
        margin: 0;
        font-weight: 400;
        color: $color-time;
      }
    }
  }
  &__text{
    min-width: 120px;
    white-space: normal;
  }
  .table{
    >tbody{
      >tr{
        >td{
          border-top: none;
          &:nth-child(1){
            width: 40%;
          }
        }
      }
    }
  }
}
.c-rate-item{
  margin-bottom: 15px;
  &__row{
    margin-bottom: 5px;
    line-height: 22px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__time{
    color: $color-time;
  }
  &__title{
    color: $color-primary;
  }
  .c-star{
    margin-right: 7px;
  }
}
.c-rate-more{
  margin-bottom: 25px;
  text-align: center;
}
.c-rate-form{
  padding-top: 20px;
  border-top: 1px solid $color-border;
  margin-bottom: 30px;
  .c-star{
    padding-top: 7px;
  }
  &__hint{
    padding-top: 7px;
    display: inline-block;
    vertical-align: middle;
  }
  textarea{
    min-height: 75px;
  }
}
.c-variants{
  border-top: 1px solid $color-border;
  margin-bottom: 20px;
}
.c-variants-control{
  padding: 10px 0;
  label{
    margin: 0 10px 0 0;
    line-height: 34px;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
  }
  &__search{

  }
  .b-page{
    display: none;
  }
}
//product detail responsive css
@media (min-width: $screen-sm-min){//mobile lanscape
  .c-product-other{
    padding: 10px 15px 0;
    ul{
      margin: 0 -10px;
      li{
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
      }
    }
  }
  .c-tabs{
    &__pane{
      padding: 17px 15px;
    }
  }
}
@media (min-width: $screen-md-min){//ipad portrait
  .c-product-head{
    margin-bottom: 15px;
    &__title{
      font-size: 22px;
    }
  }
  .c-product-other{
    ul{
      margin: 0 -15px;
      li{
        width: percentage(1/3);
        padding-left: 15px;
        padding-right: 15px;
        &:nth-child(4){
          display: none;
        }
      }
    }
  }
  .c-product-left{
    margin-bottom: 20px;
  }
  .c-product-center{
    margin-bottom: 25px;
    //&__label{
    //  float: left;
    //}
    //&__text{
    //  margin-left: 95px;
    //  min-height: 20px;
    //}
    &__button{
      .btn{
        margin-bottom: 0;
        display: inline-block;
        width: auto;
      }
      .btn-primary.btn-lg{
        margin-right: 10px;
      }
    }
    &__ship{
      img{
        max-width: 2.6rem;
      }
      span{
        color: $color-black;
      }
    }
  }
  .c-tabs{
    margin-bottom: 30px;
    &__title{
      ul{
        li{
          display: block;
          a{
            padding: 0 20px;
          }
        }
      }
    }
  }
  .c-product-spec{
    ul{
      li{
        float: left;
        width: percentage(1/2);
      }
    }
  }
  .c-variants{
    margin-bottom: 25px;
  }
  .c-variants-control{
    &__search{
      width: 160px;
      display: inline-block;
      vertical-align: middle;
    }
    .b-page{
      display: block;
      float: right;
      border-top: none;
      .pagination{
        margin: 3px 0 0;
      }
    }
  }
}
.c-variants-table{
  &__thumb{
    width: 60px;
    height: 60px;
    border: 1px solid $color-border;
    overflow: hidden;
    margin: 0 auto;
    img{
      width: 100%;
      min-height: 58px;
    }
  }
  &__number{
    display: inline-block;
    vertical-align: middle;
    width: 70px;
  }
  .table{
    >thead{
      >tr{
        >th{
          text-align: center;
          vertical-align: middle;
          background: $color-bg2;
          border-bottom: none;
          font-weight: 400;
          &.text-left{
            text-align: left;
          }
          &.text-right{
            text-align: right;
          }
        }
      }
    }
    >tbody{
      >tr{
        >td{
          text-align: center;
          vertical-align: middle;
          &.text-left{
            text-align: left;
          }
          &.text-right{
            text-align: right;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-product-head{
    margin-bottom: 20px;
    &__title{
      font-size: 24px;
    }
  }
  .c-product-main{
    float: left;
    width: 715px;
  }
  .c-product-sidebar{
    float: right;
    width: 232px;
  }
  .c-product-other{
    ul{
      margin: 0;
      li{
        width: auto;
        float: none;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 10px;
        &:nth-child(4){
          display: block;
        }
      }
    }
  }
  .c-product-left{
    margin-bottom: 30px;
    float: left;
    width: 332px;
  }
  .c-product-image{
    width: 332px;
    .b-table__cell{
      width: 330px;
      height: 330px;
    }
    img{
      max-width: 330px;
      max-height: 330px;
    }
  }
  .c-product-center{
    margin-bottom: 30px;
    float: right;
    width: 325px;
  }
  .c-tabs{
    margin-bottom: 35px;
    &__title{
      ul{
        li{
          &:hover{
            a{
              color: $color-black;
            }
          }
          &.active, &.is-active{
            &:hover{
              a{

              }
            }
          }
        }
      }
    }
    &__label{
      margin-bottom: 20px;
    }
  }
  .c-variants{
    margin-bottom: 30px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-product-main{
    width: 887px;
  }
  .c-product-left{
    width: 402px;
  }
  .c-product-image{
    width: 402px;
    .b-table__cell{
      width: 400px;
      height: 400px;
    }
    img{
      max-width: 400px;
      max-height: 400px;
    }
  }
  .c-product-center{
    width: 417px;
    &__button{
      .btn-primary.btn-lg{
        min-width: 195px;
      }
    }
  }
  .c-product-thumb{
    max-width: 360px;
  }
}
@media (max-width: 320px){
  //.c-product-center{
  //  &__button{
  //    .btn-lg{
  //      font-size: 14px;
  //    }
  //  }
  //}
}
//end product detail responsive css
/*---------- end product detail css ----------*/