/*---------- base css ----------*/
body{
  background:$color-bg2;
  font-family: $font-site;
  font-size: $font-size-xs;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font-site;
}
a{
  color:$color-link;
}
a:focus{
  outline: none;
}
/*---------- end base css ----------*/