/*---------- layout css ----------*/
.bg-facebook{
  background: #3b5a9b;
}
.bg-google{
  background: #4285F4;
}
.l-content-wrapper{
  padding: 30px 0;
}
.l-layout{
  padding: 15px 0 20px;
}
.l-content{

}
.l-sidebar{

}
.l-main{
  margin-bottom: 20px;
}
//layout responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .l-layout{
    padding: 15px 0 30px;
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .l-sidebar{
    float: left;
    width: 220px;
  }
  .l-main{
    float: right;
    margin-bottom: 0;
    width: 730px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .l-sidebar{
    width: 245px;
  }
  .l-main{
    width: 875px;
  }
}
//layout responsive css
/*---------- end layout css ----------*/