/**
 * Copyright Â© Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 .swatch-attribute-label {
    font-weight: 400;
    position: relative;
    float: left;
    min-width: 80px;
}

.swatch-attribute-label::after {
    content: ':';
    display: inline-block;
}

.swatch-attribute-label.required {
    padding-right: 10px;
}

.swatch-attribute-label[data-required="1"]:after {
    content: '*';
    color: red;
    position: absolute;
    right: -11px;
    top: -2px;
    font-weight: bold;
    font-size: 1em;
}

.swatch-attribute-selected-option {
    color: #646464;
    padding-left: 17px;
    display: none;
}

.swatch-attribute-options {
    margin-top: 10px;
}

.swatch-opt {
    margin-bottom: 10px;   
}

.swatch-attribute {
    display: flex;
    align-items: center;
}

.swatch-option {
    /*width: 30px;*/
    padding: 1px 2px;
    min-width: 30px;
    max-width: 90px;
    height: 30px;
    float: left;
    margin: 0 10px 5px 0;
    text-align: center;
    cursor: pointer;
    position: relative;
    border: 1px solid rgb(218, 218, 218);
    overflow: hidden;
    text-overflow: ellipsis;
}

.swatch-option.text {
    background: #F0F0F0;
    color: #686868;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 4px 8px;
    min-width: 30px;
    margin-right: 7px;
}

.swatch-option.selected {
    outline: 2px solid #ff5501;
    border: 1px solid #fff;
    color: #333;
}

.swatch-option.text.selected {
    background-color: #FFF !important;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    background: rgb(240, 240, 240);
    color: rgb(148, 148, 148);
}

.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected {
    color: black;
    background: #fff;
    border: 1px solid #fff;
}

.swatch-option:not(.disabled):hover {
    outline: 1px solid #999;
    border: 1px solid #fff;
    color: #333;
}

.swatch-option.image:not(.disabled):hover,
.swatch-option.color:not(.disabled):hover {
    outline: 2px solid #ee0000;
    border: 1px solid #fff;
}

.swatch-option.disabled {
    cursor: default;
}

.swatch-option.disabled:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background: -moz-linear-gradient(to left top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 42%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 46%, rgba(255,82,22,1) 47%, rgba(255,82,22,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 57%, rgba(255,255,255,0) 58%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(255,255,255,0)), color-stop(43%,rgba(255,255,255,1)), color-stop(46%,rgba(255,255,255,1)), color-stop(47%,rgba(255,82,22,1)), color-stop(53%,rgba(255,82,22,1)), color-stop(54%,rgba(255,255,255,1)), color-stop(57%,rgba(255,255,255,1)), color-stop(58%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to left top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 42%,rgba(255,255,255,1) 43%,rgba(255,255,255,1) 46%,rgba(255,82,22,1) 47%,rgba(255,82,22,1) 53%,rgba(255,255,255,1) 54%,rgba(255,255,255,1) 57%,rgba(255,255,255,0) 58%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.swatch-option-tooltip {
    max-width: 140px;
    /*max-height: 160px;*/
    max-height: 100%;
    min-height: 20px;
    min-width: 20px;
    position: absolute;
    padding: 5px;
    background: #fff;
    color: rgb(148, 148, 148);
    border: 1px solid #adadad;
    display: none;
    z-index: 999;
    text-align: center;
}

.swatch-option-tooltip .corner,
.swatch-option-tooltip-layered .corner {
    left: 40%;
    position: absolute;
    bottom: 0;
    height: 8px;
}

.swatch-option-tooltip .corner:after,
.swatch-option-tooltip-layered .corner:after {
    content: '';
    position: relative;
    top: 1px;
    left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7.5px 0 7.5px;
    border-color: #fff transparent transparent transparent;
    font-size: 1px;
}

.swatch-option-tooltip .corner:before,
.swatch-option-tooltip-layered .corner:before {
    content: '';
    position: relative;
    top: 2px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8.5px 0 8.5px;
    border-color: #adadad transparent transparent transparent;
    font-size: 1px;
}

.swatch-option-tooltip .image,
.swatch-option-tooltip-layered .image {
    display: block;
    height: 130px;
    width: 130px;
    /*margin: 0 0 5px;*/
    margin: 0 auto;
}

.swatch-option-tooltip .title {
    max-width: 140px;
    min-height: 20px;
    max-height: 200px;
    color: rgb(40, 40, 40);
    text-align: center;
    display: block;
    overflow: hidden;
}

.swatch-more {
    display: inline-block;
    margin: 2px 0;
    text-decoration: none !important;
    position: static;
    z-index: 1;
}

/* Layered Features */
.swatch-option-link-layered {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
}

.swatch-option-link-layered:focus > div {
    box-shadow: 0 0 3px 1px #68a8e0;
}

.swatch-option-tooltip-layered {
    width: 140px;
    position: absolute;
    background: #fff;
    color: rgb(148, 148, 148);
    border: 1px solid #adadad;
    display: none;
    z-index: 999;
    left: -47px;
}

.swatch-visual-tooltip-layered {
    height: 160px;
    top: -170px;
}

.swatch-textual-tooltip-layered {
    height: 30px;
    top: -40px;
}

.swatch-option-link-layered:hover > .swatch-option-tooltip-layered {
    display: block;
}

.swatch-attribute-options .swatch-option-tooltip-layered .title {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: rgb(40, 40, 40);
    text-align: center;
    margin-bottom: 10px;
}

.swatch-option-disabled:after {
    content: '';
    position: absolute;
    width: 42px;
    height: 2px;
    background: red;
    transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    z-index: 995;
    left: -4px;
    top: 10px;
}

.swatch-option-disabled {
    outline: none !important;
    cursor: default;
    border: 0;
}

/* Bugfix for Add To Cart button */
.swatch-opt-listing {
    margin-bottom: 10px;
}

.swatch-option-loading {
    content: url("../images/loader-2.gif");
}

.swatch-input {
    left: -1000px;
    position: absolute;
    visibility: hidden;
}

.price-labels {
    display: none;
}

.c-product-main .price-box .price-container {
    display: block;
    margin-bottom: 7px;
}

.c-product-main .price-box .price-labels {
    display: inline-block;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    float: left;
    padding-top: 2px;
}

.c-product-main .price-box .price-wrapper {
    display: block;
    margin-left: 95px;
    min-height: 20px;
}

.c-product-main .price-box > span {
    display: block;
}

.c-product-main .price-box .c-product-center__text {
    display: block;
}

.c-product-main .price-box .c-product-item__oldprice {
    margin-left: 0;
}

.c-product-main .normal-price .price {
    color: #e01e2f;
    font-weight: 700;
    font-size: 14px;
}

.c-product-main .old-price .price {
    color: #999;
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px; 
}

@media (min-width: 768px) {
    .c-product-main .old-price .price {
        font-size: 14px;
    }

    .c-product-main .normal-price .price {
        font-size: 16px;
    }
    .c-product-item__row:last-child {
        min-height: 0px;
    }
}

@media (min-width: 992px) {
    .c-product-main .old-price .price {
        font-size: 16px;
    }

    .c-product-main .normal-price .price {
        font-size: 18px;
    }
}

.fotorama__arr {
    display: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -99999999999px;
}

.c-product-main .c-product-left .c-product-image {
    border: none;
}

.c-product-main .c-product-left .c-product-image .fotorama__stage {

}

.fotorama__nav-wrap {
    margin: 10px 0 0 0;
}

.fotorama__nav-wrap .fotorama__thumb-border {
    border: 1px solid #ddd !important;
}

.fotorama__wrap .fotorama__nav-wrap .fotorama__nav .fotorama__thumb__arr {
    background-color: transparent;
    opacity: 1;
    text-align: center;
    width: 15px;
}

.fotorama__nav-wrap .fotorama__thumb__arr:hover {
    background-color: transparent;
}

.fotorama__nav-wrap .fotorama__thumb__arr .fotorama__thumb--icon {
    background: none;
}

.fotorama__nav-wrap .fotorama__thumb__arr::before {
    font-family: "Font Awesome 5 Free";
    line-height: 1;
    font-weight: 900;
    color: red;
    font-size: 28px;
    display: block;
    opacity: 1;
    position: relative;
    top: 50%;
    margin-top: -16px;
}

.fotorama-item .fotorama__stage.fotorama__shadows--right::after, 
.fotorama-item .fotorama__nav.fotorama__shadows--right::after,
.fotorama-item .fotorama__stage.fotorama__shadows--left:before, 
.fotorama-item .fotorama__nav.fotorama__shadows--left:before {
    display: none;
}

.fotorama__nav-wrap.fotorama__nav-wrap--horizontal .fotorama__thumb__arr--right {
}

.fotorama__nav-wrap .fotorama__thumb__arr--left::before {
    content: "\f104";
}

.fotorama__nav-wrap .fotorama__thumb__arr--right::before {
    content: "\f105";
}

/* Product list deal */
.c-product-grid .c-product-item,
.c-product-sidebar .c-product-item {
    position: relative;
}

.c-product-item__row:last-child {
    min-height: 21px;
}

.c-product-grid .c-product-item .timer,
.c-product-sidebar .c-product-item .timer {
    margin-bottom: 0;
}

.c-product-grid .c-product-item .timer .c-tagsale {
    top: 14px;
    right: 14px;
}

.c-product-grid .c-product-item .timer .c-tag-countdown {
    bottom: 155px;
    left: 7px;
}

.c-product-sidebar .c-product-item .timer .c-tag-countdown {
    bottom: 135px;
}

.c-product-main .c-tag-countdown {
    position: static;
    width: auto;
    margin-bottom: 15px;
    float: left;
}

.c-sold {
    clear: both;
}

.special{
    background: red none repeat scroll 0 0;
    border: 1px solid red;
    border-radius: 26px;
    color: white;
    height: 50px;
    text-align: center;
    width: 50px;
    top: -360px;
    z-index: 1;
    position:relative;
}
.special h3 {
    left: 20%;
    position: absolute;
    top: -4px;
}

#countdown p {
    background: #006bb4 none repeat scroll 0 0;
    color: white;
    display: inline-block;
    margin-right: 18px;
    padding: 5px;
}
#countdown > div p {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: black;
    font-size: 10px;
    margin: 0;
}

@media only screen and (min-width: 426px) {
    .dealofdayresponse{
        display:block;
    }
    .dealofdayresponsesmall{
        display:none;
    }

    .day{
        display:none !important;
    }
    .hour{
        display:none !important;
    }
    .min{
        display:none !important;
    }
    .sec{
        display:none !important;
    }
}
@media only screen and (max-width: 425px) {
    .dealofdayresponse{
        display:none;
    }
    .day{;
        display:block
    }
    .hour{
        display:block;
    }
    .min{
        display:block;
    }
    .sec{
        display:block;
    }
    #countdown p {
        display: inline-block;
        margin-right: 0px;
        padding: 2px;
    }
}
@media only screen and (max-width: 320px) {
    .dealofdayresponse{
        display:none;
    }
    .day{
        display:block;
    }
    .hour{
        display:block;
    }
    .min{
        display:block;
    }
    .sec{
        display:block;
    }
    #countdown p {
        display: inline-block;
        margin-right: 0px;
        padding: 2px;
    }
}

/*detail deal*/
.product-info-main .product-info-price .con-lai {
    display: inline-block;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    float: left;
    padding-top: 2px;
}

.product-info-main .product-info-price .c-tag-countdown {
    display: block;
    margin-left: 51px;
    min-height: 20px;
}

.product-info-main .product-info-price + .c-product-center__row {
    clear: both;
}
.home-list-category {
    display: flex !important;
    justify-content: center !important;
}
.home-list-category-item{
/*    max-width: 120px;
*/
max-width: 120px !important;
}
