/*---------- components css ----------*/
/*banner*/
.c-banner-item{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  @include border-radius(3px);
  a{
    display: block;
    text-decoration: none;
    padding-top: percentage(300/360);
    position: relative;
    z-index: 1;
    &:before{
      content: "";
      position: absolute;
      z-index: 2;
      top:50%;
      left: 0;
      right: 0;
      bottom: 0;
      @include linear-gradient(bottom, rgba($color-black,0.9), transparent);
    }
  }
  &__caption{
    position: absolute;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0 10px 10px;
  }
  &__title{
    color: $color-white;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 5px;
    text-transform: uppercase;
  }
  &__desc{
    color: $color-white;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
  }
}
/*end banner*/
/*box*/
.c-box{
  background: $color-white;
  margin-bottom: 20px;
  @include border-radius(3px);
  .c-box__title{
    padding: 12px 15px;
    .c-box__title__name{
      display: inline-block;
      vertical-align: top;
      font-weight: 700;
      font-size: 20px;
      color: $color-text;
      .fas{
        margin-right: 5px;
      }
    }
  }
  .c-box__content{
    &.is-padding{
      padding: 0 15px 15px;
    }
  }
  &.is-primary{
    .c-box__title{
      .c-box__title__name{
        color: $color-primary;
      }
    }
  }
  &.is-none{
    background: transparent;
  }
}
/*end box*/
/*widget*/
.c-widget{
  margin-bottom: 20px;
  .c-widget__title{
    margin-bottom: 15px;
    .c-widget__title__name{
      font-size: 18px;
      color: $color-text;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.2;
    }
  }
}
/*end widget*/
/*panel*/
.c-panel{
  margin-bottom: 20px;
  border: 1px solid $color-border;
  background: $color-white;
  .c-panel__title{
    padding: 7px 10px;
    .c-panel__title__name{
      font-weight: 700;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 1;
      padding-bottom: 7px;
      font-size: 16px;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: 0;
        height:3px;
        width: 50px;
        background: $color-primary;
      }
    }
  }
}
/*end panel*/
/*template slider*/
.c-template-slider{
  position: relative;
  z-index: 1;
  .owl-carousel{
    .owl-dots{
      text-align: center;
      line-height: 14px;
      padding-top: 10px;
      .owl-dot{
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        @include border-radius(100%);
        background: $color-border;
        margin: 0 6px;
        &:focus{
          outline: none;
        }
        &.active{
          background: $color-primary;
        }
      }
    }
    .owl-nav{
      text-align: center;
      padding-top: 15px;
      .owl-prev, .owl-next{
        width: 28px;
        height: 28px;
        margin: 0 5px;
        background: transparent;
        display: inline-block;
        vertical-align: middle;
        color: $color-time;
        font-size: 28px;
        line-height: 28px;
        &:before{
          font-family: $font-awesome-5-free;
          font-weight: 700;
        }
        &:focus{
          outline: none;
          border: none;
        }
      }
      .owl-prev{
        &:before{
          content: "\f104";
        }
      }
      .owl-next{
        &:before{
          content: "\f105";
        }
      }
    }
  }
}
/*end template slider*/
/*loading*/
.loading{
  display: none;
}
#ajax-loader, #ajax-loader-more{
  height: 80px;
  width: 100%;
  top: 44%;
  left:0;
  z-index: 999999;
}
.loader{
  position: relative;
  margin: 0px auto;
  width: 100px;
}
#ajax-loader{
  position:fixed;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.4);
  @include transition-all(0.2);
}
#ajax-loader .loader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
#ajax-loader-more{
  position:absolute;
  top:0px;
  height:620px;
  background:white;
}
#ajax-loader-more .loader{
  top:35%;
}
.loader:before {content: ''; display: block; padding-top: 100%}
.circular {-webkit-animation: rotate 2s linear infinite; animation: rotate 2s linear infinite; height: 100%; -webkit-transform-origin: center center; transform-origin: center center; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto}
#ajax-loader:not(.dark) .path {stroke-dasharray: 1,200; stroke-dashoffset: 0; -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite; animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite; stroke-linecap: round}
#ajax-loader-more .path, #ajax-loader.dark .path {stroke-dasharray: 1,200; stroke-dashoffset: 0; -webkit-animation: dash 1.5s ease-in-out infinite, colordark 6s ease-in-out infinite; animation: dash 1.5s ease-in-out infinite, colordark 6s ease-in-out infinite; stroke-linecap: round}
@-webkit-keyframes rotate { 100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);} }
@keyframes rotate { 100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);} }
@-webkit-keyframes dash { 0% {stroke-dasharray: 1,200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89,200; stroke-dashoffset: -35px; } 100% { stroke-dasharray: 89,200; stroke-dashoffset: -124px; } }
@keyframes dash { 0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89,200; stroke-dashoffset: -35px; } 100% { stroke-dasharray: 89,200; stroke-dashoffset: -124px; } }
@-webkit-keyframes color { 100%, 0% { stroke: #ffffff; } 40% { stroke: #ffffff; } 66% { stroke: #ffffff; } 80%, 90% { stroke: #ffffff; } }
@keyframes color { 100%, 0% { stroke: #ffffff; } 40% { stroke: #ffffff; } 66% { stroke: #ffffff; } 80%, 90% { stroke: #ffffff; } }
@-webkit-keyframes colordark { 100%, 0% { stroke: #414C5C; } 40% { stroke: #414C5C; } 66% { stroke: #414C5C; } 80%, 90% { stroke: #414C5C; } }
@keyframes colordark { 100%, 0% { stroke: #414C5C; } 40% { stroke: #414C5C; } 66% { stroke: #414C5C; } 80%, 90% { stroke: #414C5C; } }
_:-ms-fullscreen, :root #ajax-loader{background:transparent url("../images/ie-spinner-light.gif") no-repeat center center;}
_:-ms-fullscreen, :root #ajax-loader-more{background:transparent url("../images/ie-spinner-dark.gif") no-repeat center center;}
_:-ms-fullscreen, :root #ajax-loader.dark{background:transparent url("../images/ie-spinner-dark.gif") no-repeat center center;}

@-webkit-keyframes grdAiguille{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes grdAiguille{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@-webkit-keyframes ptAiguille{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes ptAiguille{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.loadingwait-2 {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .6em solid rgba(0,0,0, 0.2);
  border-right: .6em solid rgba(0,0,0, 0.2);
  border-bottom: .6em solid rgba(0,0,0, 0.2);
  border-left: .6em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loadingwait-2,
.loadingwait-2:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#filter-wrapper{margin: 20px 0;}
/* Desktop only: Dropdown static height to prevent content moving on loading */
@media only screen and (min-width: 998px) {
  #filter-wrapper{height: 67px;}
  DIV.block-layered-nav-container{min-height:70px}
  DIV#jqFilterOptionsBlock{height:57px}
  .block-layered-nav-wrapper .filter-body .brand-search-box{border-top:1px solid #C3CBD5}
  .block-layered-nav-container .block-layered-nav{height:55px}
  .stickyFilters .block-layered-nav-wrapper .filter-body{top:57px}
  #navBg{display:block; backface-visibility: hidden; height:319px; background:white; width:100%; position:absolute; left:0px; z-index:-509; top:205px; box-shadow: 0px 6px 12px -5px rgba(0,0,0,.30); opacity:0; transition: opacity 100ms ease-in-out, transform 250ms ease-out; transform: scale3d(1, 0, 1); transform-origin: left top}
}
.product-view .product-shop .pdp-final-price span.doorbuster-price a {font-weight:600!important;}
/*end loading*/
/*message*/
.c-message{
  background: $color-white;
  padding: 15px;
  &.is-margrin-top{
    margin-top: 15px;
  }
  &__title{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  &__btn{
    margin-top: 10px;
    .btn{
      min-width: 120px;
    }
  }
}
/*end message*/
//components responsive css
@media (min-width: $screen-sm-min){
  .c-banner-item{
    &__title{
      font-size: 22px;
    }
  }
  .c-panel{
    .c-panel__title{
      padding: 10px 15px;
    }
  }
}
@media (min-width: $screen-md-min){
  .c-box{
    margin-bottom: 25px;
    .c-box__title{
      .c-box__title__name{
        font-size: 22px;
        .fas{
          margin-right: 7px;
        }
      }
    }
  }
  .c-widget{
    margin-bottom: 25px;
    .c-widget__title{
      margin-bottom: 20px;
      .c-widget__title__name{
        font-size: 20px;
      }
    }
  }
  .c-panel{
    margin-bottom: 30px;
  }
  .c-banner-item{
    &__desc{
      font-size: 14px;
    }
    &__title{
      font-size: 20px;
    }
  }
  .c-template-slider{
    .owl-carousel{
      .owl-nav{
        padding-top: 0;
        position: absolute;
        z-index: 2;
        top: -43px;
        right: 0;
        .owl-prev, .owl-next{
          margin: 0 0 0 10px;
        }
      }
    }
  }
  .c-message{
    padding: 20px;
    &.is-margrin-top{
      margin-top: 20px;
    }
    &__btn{
      margin-top: 15px;
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-box{
    margin-bottom: 30px;
    .c-box__title{
      padding: 15px;
      .c-box__title__name{
        font-size: 24px;
      }
    }
  }
  .c-banner-item{
    &__caption{
      padding: 0 15px 15px;
    }
    &__desc{
      font-size: 16px;
    }
    &__title{
      font-size: 24px;
    }
  }
  .c-template-slider{
    .owl-carousel{
      .owl-nav{
        top: -47px;
        .owl-prev, .owl-next{
          &:hover{
            color: $color-primary;
          }
        }
      }
    }
  }
  .c-message{
    padding: 25px;
    &.is-margrin-top{
      margin-top: 25px;
    }
  }
}
@media (min-width: $screen-xl-min){
  .c-box{
    margin-bottom: 35px;
  }
  .c-banner-item{
    &__title{
      font-size: 28px;
    }
  }
}
//end components responsive css
/*---------- end components css ----------*/