/*---------- footer css ----------*/
.l-footer{

}
.c-footer-main{
  background: $color-secondary;
  padding: 25px 0 5px;
}
.c-fanpage{
  >img{
    max-width: 262px;
    width: auto;
  }
}
.c-footer-label{
  color: $color-white;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  .fas{
    float: right;
    font-size: 18px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
  }
}
.c-footer-content{
  padding-bottom: 20px;
  display: none;
  color: $color-white;
}
.c-footer-list{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    position: relative;
    z-index: 1;
    padding-left: 13px;
    margin-bottom: 10px;
    &:before{
      content: "\f105";
      font-family: $font-awesome-5-free;
      font-weight: 900;
      color: $color-border;
      font-size: 14px;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
    a{
      color: $color-white;
      text-decoration: none;
    }
  }
}
.c-verify{
  padding-top: 15px;
  img{
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
.c-footer-partner{
  img{
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
.c-footer-bottom{
  padding: 15px 0;
  text-align: center;
  background: $color-white;
}
.c-copyright{
  color: $color-text;
  line-height: 1.3;
}
.c-footer-top{
  background: $color-white;
}
.c-footer-commit{
  .b-grid{
    padding: 15px 0;
    .b-grid__img{
      background: $color-border;
      width: 60px;
      height: 60px;
      float: none;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      line-height: 60px;
      text-align: center;
      @include border-radius(100%);
      img{
        width: auto;
        height: auto;
        max-height: 60px;
        max-width: 60px;
      }
    }
    .b-grid__content{
      margin-left: 0;
    }
    .b-grid__row{
      text-align: center;
      color: $color-time;
      line-height: 1.5;
      font-size: 13px;
    }
    .b-grid__title{
      text-transform: uppercase;
      color: $color-text;
      font-weight: 700;
      font-size: 16px;
    }
    &.is-app{
      .b-grid__img{
        width: auto;
        background: transparent;
        line-height: 0;
        @include border-radius(0);
        a{
          width: 60px;
          height: 60px;
          background: $color-border;
          display: inline-block;
          vertical-align: middle;
          line-height: 60px;
          @include border-radius(100%);
          &:nth-child(2){
            background: $color-secondary;
          }
        }
      }
      .b-grid__title{
        color: $color-primary;
      }
    }
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: percentage(1/2);
      border-right: 1px solid $color-bg2;
      border-bottom: 1px solid $color-bg2;
      padding-left: 5px;
      padding-right: 5px;
      &:nth-child(2), &:nth-child(4){
        border-right: none;
      }
      &:nth-child(3), &:nth-child(4){
        border-bottom: none;
      }
    }
  }
}
.c-gotop{
  position: fixed;
  z-index: 90;
  bottom: 10px;
  right: 10px;
  background: $color-black;
  color: $color-white;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  cursor: pointer;
  @include border-radius(100%);
}
//footer responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait
  .c-footer-commit{
    .b-grid{
      padding: 20px 0;
    }
    ul{
      li{
        width: percentage(1/4);
        border-bottom: none;
        &:nth-child(2){
          border-right: 1px solid $color-bg2;
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-footer-main{
    padding: 40px 0;
  }
  .c-footer-label{
    margin-bottom: 20px;
    .fas{
      display: none;
    }
  }
  .c-footer-content{
    display: block !important;
    padding-bottom: 0;
  }
  .c-footer-list{
    li{
      a{
        @include transition-all(0.2s);
        &:hover{
          color: $color-primary;
        }
      }
    }
  }
  .c-footer-commit{
    .b-grid{
      padding: 30px 0;
      .b-grid__img{
        width: 90px;
        height: 90px;
        line-height: 90px;
        img{
          max-width: 90px;
          max-height: 90px;
        }
      }
      .b-grid__row{
        font-size: 14px;
      }
      .b-grid__title{
        font-size: 18px;
      }
      &.is-app{
        .b-grid__img{
          a{
            width: 90px;
            height: 90px;
            line-height: 90px;
            @include transition-all(0.2s);
            &:hover{
              background: $color-primary;
            }
          }
        }
        .b-grid__title{
          color: $color-primary;
        }
      }
    }
  }
  .c-gotop{
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    bottom: 20px;
    right: 20px;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
//end footer responsive css
/*---------- end footer css ----------*/