/*---------- header css ----------*/
.l-nav{
  background: $color-white;
  position: relative;
  z-index: 100;
  @include box-shadow(2px 2px 4px rgba($color-black,0.1));
}
.c-nav-top{
  height: 40px;
}
.c-menu-top{
  float: right;
  margin-right: -8px;
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      float: left;
      position: relative;
      z-index: 2;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        top: 13px;
        left: 0;
        background: $color-time;
        height: 14px;
        width: 1px;
      }
      &:first-child{
        &:before{
          display: none;
        }
      }
      >a{
        text-decoration: none;
        color: $color-text;
        display: block;
        line-height: 40px;
        padding: 0 8px;
        .fas{
          font-size: 16px;
          &.fa-caret-down{
            margin-left: 4px;
          }
        }
        .c-menu-top__text{
          display: none;
        }
      }
      &:hover{
        >.c-dropdown-menu{
          z-index: 2;
          visibility: visible;
          opacity: 1;
          @include transform(translate3d( 0, 10px, 0));
          text-align: left;
        }
      }
    }
  }
}
.c-header-inner{
  padding: 0 0 10px;
}
.c-logo{
 text-align: center;
  img{
    width: auto;
    height: auto;
    max-height: 40px;
  }
}
.c-menu-expand{
  width: 58px;
  height: 44px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/icon32-menu.png");
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 38px;
  left: 0;
  &:focus{
    outline: none;
    border: none;
  }
  &.js-menu-pc{
    display: none;
  }
}
.c-search{
  background: $color-bg2;
  border: 1px solid $color-border;
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  @include border-radius(3px);
  .c-search__inner{
    position: relative;
    z-index: 1;
  }
  .form-control{
    background-color: transparent;
    border: none;
    height: 42px;
  }
  .c-search__btn{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    border: none;
    width: 42px;
    height: 42px;
    background: transparent;
    line-height: 42px;
    font-size: 20px;
    color: $color-secondary;
    cursor: pointer;
    &:focus{
      outline: none;
    }
  }
}
.btn-payment-url{
  display: none;
}
.c-cart-url{
  position: absolute;
  z-index: 2;
  top: 47px;
  right: 15px;
  a{
    text-decoration: none;
  }
  >a{
    color: $color-secondary;
    text-transform: uppercase;
    cursor: pointer;
  }
  .fas{
    font-size: 18px;
  }
  &__text{
    display: none;
  }
  &:hover{
    >.c-dropdown-menu{
      z-index: 2;
      visibility: visible;
      opacity: 1;
      @include transform(translate3d( 0, 10px, 0));
      text-align: left;
    }
  }
  .c-dropdown-menu{
    width: 270px;
  }
}
a.c-cart-url{
  text-decoration: none;
  color: $color-secondary;
}
.c-cart-popout{
  padding: 0 10px;
  .btn-secondary{
    color: $color-white;
  }
  .label{
    text-transform: none;
    color: $color-time;
  }
  .price{
    color: $color-primary;
    font-weight: 700;
  }
  &__row{
    margin-bottom: 7px;
    &.is-btn{
      border-top: 1px solid $color-border;
      padding-top: 7px;
      text-align: center;
    }
    &:last-child{
      margin-bottom: 0;
    }
    p{
      .price{
        float: right;
      }
    }
  }
  .c-cart-popout__edit{
    text-transform: none;
    color: $color-text2;
  }
  .b-nodata{
    text-transform: none;
    text-align: center;
    color: $color-time;
  }
}
//header responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-menu-top{
    >ul{
      >li{
        >a{
          @include transition-all(0.2s);
          .fas{
            display: none;
            &.fa-user-circle{
              display: inline-block;
              margin-right: 4px;
            }
            &.fa-caret-down{
              display: inline-block;
            }
          }
          .c-menu-top__text{
            display: inline;
          }
          &:hover{
            color: $color-primary;
          }
        }
      }
    }
  }
  .c-header-inner{
    height: 100px;
    position: relative;
    z-index: 1;
    padding: 0;
  }
  .c-logo{
    float: left;
    height: 100px;
    line-height: 100px;
    img{
      max-height: 70px;
    }
  }
  .c-search{
    top: 25px;
    left: 263px;
    width: 400px;
    right: auto;
    display: block !important;
    .c-search__btn{
      &:hover{
        color: $color-primary;
      }
    }
  }
  .c-menu-expand{
    top: 26px;
    left: 205px;
    &.js-menu-mobile{
      display: none;
    }
    &.js-menu-pc{
      display: block;
    }
  }
  .btn-payment-url{
    display: block;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 29px;
    min-width: 130px;
  }
  .c-cart-url{
    right: 150px;
    top: 36px;
    &__text{
      display: inline;
    }
    .fas{
      display: none;
    }
  }
  .c-cart-url{
    &:before{
      content: "";
      height: 1px;
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-secondary;
      display: none;
    }
    &:hover{
      >a{
        color: $color-primary;
      }
    }
  }
  .c-cart-popout{
    .c-cart-popout__edit{
      @include transition-all(0.2s);
      &:hover{
        color: $color-primary;
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-search{
    width: 570px;
  }
}
//header responsive css
/*---------- end header css ----------*/