/*---------- menu css ----------*/
/*dropdown menu*/
.c-dropdown-menu{
  padding: 12px 0;
  background: #fff;
  position: absolute;
  top: 100%;
  //top: calc(100% + 12px);
  left: 0;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  margin-top: -10px;
  @include transition-all(0.2s);
  border: 1px solid $color-border;
  @include box-shadow(0 2px 4px rgba($color-black,0.15));
  &:before{
    //content: "";
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $color-white;
    border-left: 8px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    z-index: 2;
    left: 15px;
    top: -16px;
  }
  &:after{
    //content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    height: 12px;
    top: -12px;
    background: transparent;
  }
  &.is-right{
    left: auto;
    right: 0;
    &:before{
      left: auto;
      right: 15px;
    }
  }
  &.is-circle{
    @include border-radius(6px);
  }
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      &.divider{
        height: 1px;
        background: $color-border;
        margin: 5px 0;
      }
      >a{
        display: block;
        text-decoration: none;
        color: $color-text;
        padding: 4px 10px 4px 20px;
        font-size: 13px;
        text-align: left;
        span{
          color: $color-time;
        }
      }
      >ul{
        list-style: none;
        margin: 0;
        padding: 0;
        >li{
          position: relative;
          z-index: 1;
          &:before{
            content: "";
            position: absolute;
            z-index: 2;
            top: 9px;
            left: 25px;
            width: 3px;
            height: 3px;
            background: $color-time;
            @include border-radius(100%);
          }
          >a{
            display: block;
            text-decoration: none;
            color: $color-text;
            padding: 2px 10px 2px 35px;
            font-size: 12px;
            text-align: left;
            span{
              color: $color-time;
            }
          }
        }
      }
    }
  }
}
/*end dropdown menu*/
.c-alias{
  &__expand{
    width: 270px;
    border-right:1px solid $color-border;
    background: $color-white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -270px;
    z-index: 200;
    overflow: auto;
    @include transition-all(0.2s);
    >ul{
      list-style: none;
      margin: 0;
      padding: 0;
      >li{
        border-bottom: 1px solid $color-border;
        >a{
          display: block;
          text-decoration: none;
          color: $color-text;
          padding: 10px 25px 10px 47px;
          position: relative;
          z-index: 1;
          .fa-angle-right{
            position: absolute;
            z-index: 2;
            top: 13px;
            right: 15px;
            display: none;
            font-size: 16px;
            color: $color-time;
          }
          .c-alias-mobile__expand-sub{
            position: absolute;
            z-index: 2;
            top: 15px;
            right: 17px;
          }
          img{
            width: 28px;
            height: 28px;
            float: left;
            margin: -3px 0 0 -38px;
          }
        }
      }
    }
  }
  &__more{
    a{
      display: block;
      padding: 9px 15px;
      text-decoration: none;
      .fas{
        margin-left: 5px;
      }
    }
  }
}
.c-alias-sub{
  display: none;
  background: $color-white;
  &__content{
    padding: 0 15px 0 47px;
    label{
      margin-bottom: 10px;
      //display: none;
      font-weight: 700;
    }
    ul{
      list-style: none;
      margin: 0 0 10px;
      padding: 0;
      li{
        a{
          text-decoration: none;
          color: $color-text;
          display: block;
          padding: 8px 0;
        }
      }
    }
  }
  &__img{
    display: none;
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
.c-alias-banner{
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}
.c-alias-close{
  color: $color-primary;
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}
.c-app-ovelay{
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:#000;
  background:rgba(0,0,0,0.6);
  opacity:0;
  visibility:hidden;
  @include transition-all(0.2s);
}
.has-ovelay-show{
  visibility:visible;
  opacity:1;
  z-index:98;
}
.has-menu-open{
  transform: translate3d( 270px, 0, 0 );
  -webkit-transform: translate3d( 270px, 0, 0 );
}
.has-body-open{
  //overflow:hidden;
}
//menu responsive css
@media (min-width: 360px){
  .c-alias{
    &__expand{
      width: 300px;
      left: -300px;
    }
  }
  .has-menu-open{
    transform: translate3d( 300px, 0, 0 );
    -webkit-transform: translate3d( 300px, 0, 0 );
  }
}
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .c-dropdown-menu{
    >ul{
      >li{
        &:hover{
          >a{
            color: $color-primary;
          }
        }
        >ul{
          >li{
            &:hover{
              >a{
                color: $color-primary;
              }
            }
          }
        }
      }
    }
  }
  .c-alias{
    top: 26px;
    left: 205px;
    position: absolute;
    z-index: 2;
    height: 74px;
    width: 58px;
    &__btn{
      width: 58px;
      .c-menu-expand{
        position: static;
      }
    }
    &__expand{
      display: none;
      position: absolute;
      z-index: 2;
      top: 74px;
      left: -205px;
      bottom: auto;
      overflow: visible;
      border-left: 1px solid $color-border;
      width: 263px;
      >ul{
        >li{
          border-bottom-color: $color-white;
          >a{
            .fa-angle-right{
              display: block;
            }
            .c-alias-mobile__expand-sub{
              display: none;
            }
          }
          &:last-child{
            border-bottom-color: $color-border;
          }
          &:hover{
            border-bottom-color: $color-border;
            >a{
              z-index: 3;
              color: $color-primary;
              &:before{
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                right: -1px;
                bottom: 0;
                width: 1px;
                background: $color-white;
              }
              &:after{
                content: "";
                height: 1px;
                background: $color-border;
                top: 0;
                left: 0;
                right: 0;
                position: absolute;
                z-index: 2;
              }
            }
            .c-alias-sub{
              display: block !important;
            }
          }
          &.is-single{
            &:hover{
              >a{
                &:before{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    &:hover{
      .c-alias__expand{
        display: block;
      }
    }
  }
  .c-alias-sub{
    position: absolute;
    z-index: 2;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 711px;
    border: 1px solid $color-border;
    &__content{
      position: relative;
      z-index: 3;
      padding: 5px 15px;
      ul{
        margin: 0;
        float: left;
        width: 160px;
        margin-right: 10px;
        li{
          &:hover{
            a{
              color: $color-primary;
            }
          }
        }
      }
    }
    &__img{
      display: block;
      width: 100%;
    }
  }
  .c-alias-close{
    display: none;
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up

}
@media (max-width: $screen-md-max){
  .c-alias{
    &__expand{
      padding: 3px;
      >ul{
        >li{
          float: left;
          width: 50%;
          //border-top: 1px solid $color-border;
          //border-bottom: none;
          border-bottom: none;
          padding: 3px;
          >a{
            padding: 10px 5px;
            text-align: center;
            border: 1px solid $color-border;
            height: 100%;
            .c-alias-mobile__expand-sub{
              display: none;
            }
            img{
              display: block;
              margin-left: auto;
              margin-right: auto;
              float: none;
              width: 80px;
              height: 80px;
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }
  .c-alias-close{
    //display: none;
  }
}
//end menu responsive css
/*---------- end menu css ----------*/