/*---------- sidebar css ----------*/
.c-sidebar-filter{
  position: fixed;
  top: 0;
  bottom: 0;
  left: -265px;
  width: 265px;
  z-index: 200;
  overflow: auto;
  background: $color-white;
  @include transition-all(0.2s);
  .c-widget{
    margin-left: 15px;
    margin-right: 15px;
  }
}
.has-menufilter-open{
  transform: translate3d( 265px, 0, 0 );
  -webkit-transform: translate3d( 265px, 0, 0 );
}
.c-sidebar-ovelay{
  z-index:101;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:#000;
  background:rgba(0,0,0,0.6);
  opacity:0;
  visibility:hidden;
  @include transition-all(0.2s);
  &.is-active{
    visibility:visible;
    opacity:1;
    z-index: 101;
  }
}
.c-sidebar-close{
  color: $color-primary;
  display: block;
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
}
.c-sidebar-menu{
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        text-decoration: none;
        color: $color-text;
      }
      ul{
        margin-left: 25px;
        padding-top: 10px;
        display: none;
      }
      &.active{
        >a{
          color: $color-primary;
        }
        >ul{
          display: block;
        }
      }
    }
  }
}
//sidebar responsive css
@media (min-width: $screen-sm-min){//mobile lanscape

}
@media (min-width: $screen-md-min){//ipad portrait

}
@media (min-width: $screen-lg-min){//ipad lanscape & pc 1024x768px
  .has-menufilter-open{
    transform: translate3d( 0, 0, 0 );
    -webkit-transform: translate3d( 0, 0, 0 );
  }
  .c-sidebar-ovelay{
    display: none;
  }
  .c-sidebar-filter{
    position: static;
    background: transparent;
    width: 220px;
    .c-widget{
      margin-left: 0;
      margin-right: 0;
    }
  }
  .c-sidebar-close{
    display: none;
  }
  .c-sidebar-menu{
    ul{
      li{
        a{
          @include transition-all(0.2s);
          &:hover{
            color: $color-primary;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-xl-min){//pc & mac 1280px grow up
  .c-sidebar-filter{
    width: 245px;
  }
}
//end sidebar responsive css
/*---------- end sidebar css ----------*/